﻿@page "/administrator/AdminBkGsStockPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(BkGsStockPage) - Admin Modules</PageTitle>

<div class="container">
    <div class="row">
        <div>
            <AdminGridBase TValue="@BkGsStock"
                           SortField="@nameof(BkGsStock.PartNumber)"
                           OdataUrl="@AdminHelper.OdataHelper.BkGsStocksUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.BkGsStocksUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(BkGsStock.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(BkGsStock.PartNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(BkGsStock.Quantity)"></GridColumn>
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {

}
