﻿@page "/administrator/products"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<NewProductPage> Logger
@inject IToastService ToastService
@inject IStringLocalizer<SharedResources> Localizer
@inject SfDialogService DialogService
@inject IAccessTokenProvider TokenProvider

<PageTitle>Products - Admin</PageTitle>
<div class="bg-light">
    <div class="container content">
        <div class="row">
            <div class="col-12">
                <SfButton OnClick="NewProduct">New</SfButton>
                <SfButton OnClick="CloneProduct">Clone</SfButton>
                <SfButton OnClick="DeleteProduct">Delete</SfButton>
                <label class="col-form-label label-required">Select Product:</label>
                <LoadingComponent IsLoading="@isLoading">
                    <SfDropDownList @ref="@ProductDropdown" TValue="string"
                                    TItem="string"
                                    Placeholder="Selected a Product"
                                    DataSource="@Products"
                                    Width="300px"
                                    Value="@SelectedProduct"
                                    AllowFiltering="@true">
                        <DropDownListEvents TValue="string"
                                            TItem="string"
                                            ValueChange="OnValueChange">
                        </DropDownListEvents>
                    </SfDropDownList>
                </LoadingComponent>
            </div>
        </div>
        <LoadingComponent IsLoading="@isLoadingCmsData">
            <ChildContent>
                <div class="row">
                    <div class="col-md-4">
                        <div class="alert alert-info" role="alert">
                            Changes may take up to 24 hours to take effect due to the cache update cycle, which usually happens every 12 hours.
                        </div>
                        <div class="card">
                            <h3 class="card-header">Product Management</h3>
                            <p class="card-body">
                                The CMS module is used to modify product web content.
                                Certain information marked with an * is modified through the ERP system and will overwrite any changes made here.
                                Automated information marked in green is updated via scripts. The information will appear read only and visible after the automated scripts run.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card shadow-sm rounded-3 p-4 bg-white">
                            @if (apiAction == "update")
                            {
                                <SfButton OnClick="EditProduct">Edit</SfButton>
                            }

                            <EditForm EditContext="@editContext" OnSubmit="@OnSubmit">
                                <DataAnnotationsValidator />
                                <label class="col-form-label label-required">Series ID: @cmsData.SereiesId </label>

                                <label class="col-form-label label-required">Brand</label>
                                <SfDropDownList Enabled="@allowEditing" TValue="string" TItem="string" @bind-Value="@cmsData.Brand" DataSource="@(new string[] { "CT", "GS" , "CT,GS" })">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </SfDropDownList>
                                <ValidationMessage For="@(() => cmsData.Brand)"></ValidationMessage>


                                <label class="col-form-label label-required">Series Name</label>
                                <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Name"></SfTextBox>
                                <ValidationMessage For="@(() => cmsData.Name)"></ValidationMessage>

                                <label class="col-form-label label-required">Series Title</label>
                                <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Title"></SfTextBox>
                                <ValidationMessage For="@(() => cmsData.Title)"></ValidationMessage>

                                <label class="col-form-label label-required">Summary</label>
                                <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Summary"></SfTextBox>
                                <ValidationMessage For="@(() => cmsData.Summary)"></ValidationMessage>

                                <label class="col-form-label label-required">Specifications (Legacy Style)</label>
                                <SfRichTextEditor Enabled="@allowEditing"
                                                  EditorMode="@EditorMode.HTML"
                                                  ShowCharCount="true"
                                                  @bind-Value="@cmsData.SpecificationsLegacy">
                                    <RichTextEditorToolbarSettings Items="@AdminHelper.DefaultRTEToolbarItems" Type="@ToolbarType.MultiRow" />
                                </SfRichTextEditor>
                                <ValidationMessage For="@(() => cmsData.SpecificationsLegacy)"></ValidationMessage>


                                <label class="col-form-label label-required">Description</label>
                                <SfRichTextEditor Enabled="@allowEditing"
                                                  EditorMode="@EditorMode.HTML"
                                                  ShowCharCount="true"
                                                  @bind-Value="@cmsData.Description">
                                    <RichTextEditorToolbarSettings Items="@AdminHelper.DefaultRTEToolbarItems" Type="@ToolbarType.MultiRow" />
                                </SfRichTextEditor>
                                <ValidationMessage For="@(() => cmsData.Description)"></ValidationMessage>

                                <label class="col-form-label label-required">Archive Link</label>
                                <SfTextBox Readonly="@true" @bind-Value="@cmsData.ZipFileLink"></SfTextBox>

                                <label class="col-form-label label-required">Categories</label>
                                <SfMultiSelect Placeholder="Select a Category"
                                               MaximumSelectionLength="1"
                                               Enabled="@allowEditing"
                                               @bind-Value="@cmsData.CategoriesSelection"
                                               DataSource="@Categories">
                                    <MultiSelectFieldSettings Text="@nameof(CategoriesDTO.TableName)"
                                                              Value="@nameof(CategoriesDTO.TableName)">
                                    </MultiSelectFieldSettings>
                                </SfMultiSelect>
                                <ValidationMessage For="@(() => cmsData.CategoriesSelection)"></ValidationMessage>

                                <label class="col-form-label label-required">Shared Images</label>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image1)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image1=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image2)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image2=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image3)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image3=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image4)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image4=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image5)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image5=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image6)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image6=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image7)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image7=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image8)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image8=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <ImageColumnTemplateComponent Src="@(cmsData.Image9)"></ImageColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <SfUploader ID="UploadFiles"
                                                    AllowMultiple=false>
                                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                            </UploaderAsyncSettings>
                                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                            Success="@((args)=>cmsData.Image9=SfUploadHelper.UploadSuccess(args))"
                                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Series)))">
                                            </UploaderEvents>
                                        </SfUploader>
                                    </div>
                                </div>
                                <label class="col-form-label label-required">Videos</label>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label label-required">Video 1 Preview</label>
                                        <YouTubeVideoColumnTemplateComponent Src="@(cmsData.Video1)"></YouTubeVideoColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <label class="col-form-label label-required">Video 1 Link</label>
                                        <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Video1"></SfTextBox>
                                        <ValidationMessage For="@(() => cmsData.Video1)"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label label-required">Video 2 Preview</label>
                                        <YouTubeVideoColumnTemplateComponent Src="@(cmsData.Video2)"></YouTubeVideoColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <label class="col-form-label label-required">Video 2 Link</label>
                                        <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Video2"></SfTextBox>
                                        <ValidationMessage For="@(() => cmsData.Video2)"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label label-required">Video 3 Preview</label>
                                        <YouTubeVideoColumnTemplateComponent Src="@(cmsData.Video3)"></YouTubeVideoColumnTemplateComponent>
                                    </div>
                                    <div class="col-8">
                                        <label class="col-form-label label-required">Video 3 Link</label>
                                        <SfTextBox Enabled="@allowEditing" @bind-Value="@cmsData.Video3"></SfTextBox>
                                        <ValidationMessage For="@(() => cmsData.Video3)"></ValidationMessage>
                                    </div>
                                </div>



                                <label class="col-form-label label-required">Attachments</label>
                                <SfGrid DataSource="@cmsData.Attachments"
                                        Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })">
                                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
                                    </GridEditSettings>
                                    <GridEvents OnActionBegin="OnActionBegin" TValue="SeriesAttachmentsDTO"></GridEvents>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(SeriesAttachmentsDTO.Id) HeaderText="Attachment ID" IsPrimaryKey="true" IsIdentity="true" Width="140"></GridColumn>
                                        <GridColumn Field="@nameof(SeriesAttachmentsDTO.AttachmentFileLink)" ValidationRules="@(new ValidationRules { Required = true })" HeaderText="Link">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as SeriesAttachmentsDTO).AttachmentFileLink)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Document</p>
                                                <SfUploader ID="UploadAttachments"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesAttachment"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as SeriesAttachmentsDTO).AttachmentFileLink=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(SeriesAttachment)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Link</p>
                                                <SfTextBox ID="@nameof(SeriesAttachmentsDTO.AttachmentFileLink)" @bind-Value="@((gridedit_context as SeriesAttachmentsDTO).AttachmentFileLink)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(SeriesAttachmentsDTO.Type)" ValidationRules="@(new ValidationRules { Required = true })">
                                            <EditTemplate Context="gridedit_context">
                                                <SfComboBox Placeholder="Product Drawing" AllowCustom="true" @bind-Value="((gridedit_context as SeriesAttachmentsDTO).Type)" DataSource="@(new string[]{"Datasheet","Product Drawing", "Manual"})">
                                                </SfComboBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(SeriesAttachmentsDTO.LanguageCode)" DefaultValue="@("en")" ValidationRules="@(new ValidationRules { Required = true })"></GridColumn>
                                    </GridColumns>
                                </SfGrid>

                                <label class="col-form-label label-required">Related Products</label>
                                <SfMultiSelect Placeholder="Select a Product"
                                               MaximumSelectionLength="6"
                                               Enabled="@allowEditing"
                                               @bind-Value="@cmsData.RelatedSeriesSelection"
                                               DataSource="@Products">
                                </SfMultiSelect>

                                <label class="col-form-label label-required">Products</label>
                                <SfGrid DataSource="@cmsData.Products"
                                        Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })">
                                    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog">
                                    </GridEditSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ProductsDTO.Id) HeaderText="Product ID" IsPrimaryKey="true" IsIdentity="true" Width="140"></GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.PartNumber)" ValidationRules="@(new ValidationRules { Required = true })" Width="140"></GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image1)" ValidationRules="@(new ValidationRules { Required = true })" Width="140">
                                            <Template Context="grid_context">
                                                <ImageColumnTemplateComponent Src="@((grid_context as ProductsDTO).Image1)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image1</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image1=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image1)" @bind-Value="@((gridedit_context as ProductsDTO).Image1)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image2)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image2)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image2</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image2=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image2)" @bind-Value="@((gridedit_context as ProductsDTO).Image2)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image3)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image3)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image3</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image3=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image3)" @bind-Value="@((gridedit_context as ProductsDTO).Image3)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image4)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image4)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image4</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image4=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image4)" @bind-Value="@((gridedit_context as ProductsDTO).Image4)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image5)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image5)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image5</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image5=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image5)" @bind-Value="@((gridedit_context as ProductsDTO).Image5)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image6)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image6)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image6</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image6=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image6)" @bind-Value="@((gridedit_context as ProductsDTO).Image6)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image7)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image7)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image7</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image7=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image7)" @bind-Value="@((gridedit_context as ProductsDTO).Image7)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image8)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image8)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image8</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image8=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image8)" @bind-Value="@((gridedit_context as ProductsDTO).Image8)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                        <GridColumn Field="@nameof(ProductsDTO.Image9)" Width="140">
                                            <Template Context="grid_context">
                                                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((grid_context as ProductsDTO).Image9)" />
                                            </Template>
                                            <EditTemplate Context="gridedit_context">
                                                <p>Upload Image9</p>
                                                <SfUploader ID="UploadFiles"
                                                            AllowMultiple=false>
                                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                                           RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                                    </UploaderAsyncSettings>
                                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,AccessToken))"
                                                                    Success="@((args)=>(gridedit_context as ProductsDTO).Image9=SfUploadHelper.UploadSuccess(args))"
                                                                    BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,AccessToken,typeof(Product)))">
                                                    </UploaderEvents>
                                                </SfUploader>
                                                <p>Image</p>
                                                <SfTextBox ID="@nameof(ProductsDTO.Image9)" @bind-Value="@((gridedit_context as ProductsDTO).Image9)" Readonly="true" Multiline="true">
                                                </SfTextBox>
                                            </EditTemplate>
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>
                                <ValidationMessage For="@(() => cmsData.Products)"></ValidationMessage>


                                <SfButton IsPrimary="@true" Disabled="@(isSubmitting||!allowEditing)">Save</SfButton>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </ChildContent>
            <LoadingTemplate>

            </LoadingTemplate>
        </LoadingComponent>
    </div>
</div>




@code {
    private bool formSucceeded = false;
    private EditContext editContext;
    private bool isSubmitting = false;
    private CmsObject cmsData = new();
    private SfDropDownList<string, string> ProductDropdown { get; set; }
    private bool isLoading = true;
    private bool isLoadingCmsData = true;
    bool allowEditing = false;
    private CancellationTokenSource cancellationTokenSource = new();

    private List<string> Products { get; set; }
    private string SelectedProduct { get; set; }
    private HttpClient httpClient { get; set; }
    public string AccessToken { get; set; }

    private string apiAction { get; set; }

    private List<CategoriesDTO> Categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var accessTokenResult = await TokenProvider.RequestAccessToken();
        AccessToken = string.Empty;

        if (accessTokenResult.TryGetToken(out var token))
        {
            AccessToken = token.Value;
        }
        Console.WriteLine($"AccessToken: {AccessToken}");

        httpClient = HttpClientFactory.CreateClient("");
        Products = await httpClient.GetFromJsonAsync<List<string>>("cms/series");
        Categories = await httpClient.GetFromJsonAsync<List<CategoriesDTO>>("cms/categories");
        isLoading = false;
    }

    int j = 1;
    public void OnActionBegin(ActionEventArgs<SeriesAttachmentsDTO> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add")
        {
            //args.Data you will get added data info, you can modify the Id value based on your requirement
            args.Data.Id = j;
            j++;
        }
    }

    int i = 1;
    public void OnActionBegin(ActionEventArgs<ProductsDTO> args)
    {
        if (args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save) && args.Action == "Add")
        {
            //args.Data you will get added data info, you can modify the Id value based on your requirement
            args.Data.Id = i;
            i++;
        }
    }


    public async Task CloneProduct()
    {
        if (string.IsNullOrEmpty(SelectedProduct))
        {
            //if now product seleted return
            await DialogService.AlertAsync("Please select a product.");
            return;
        }

        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to clone this produdct?", "Clone Product");
        if (!isConfirm) { return; }

        // clone product
        var responseMessage = await httpClient.PostAsync($"cms/clone/{cmsData.SereiesId}", null, cancellationTokenSource.Token);
        if (!responseMessage.IsSuccessStatusCode)
        {
            await DialogService.AlertAsync("Failed to clone");
        }
        Products = await httpClient.GetFromJsonAsync<List<string>>("cms/series");
        await ProductDropdown.RefreshDataAsync();

        var clonedName = await responseMessage.Content.ReadAsStringAsync();
        SelectedProduct = clonedName;
    }

    public async Task DeleteProduct()
    {
        if (string.IsNullOrEmpty(SelectedProduct))
        {
            //if now product seleted return
            await DialogService.AlertAsync("Please select a product.");
            return;
        }

        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to permanently delete these items? In most cases it is better to discontinue the product in the ERP, instead of deleting the product.", "Delete Product");
        if (!isConfirm) { return; }

        // delete product
        var responseMessage = await httpClient.PostAsync($"cms/delete/{cmsData.SereiesId}", null, cancellationTokenSource.Token);
        if (!responseMessage.IsSuccessStatusCode)
        {
            await DialogService.AlertAsync("Failed to delete");
        }
        Products.Remove(SelectedProduct);
        await ProductDropdown.RefreshDataAsync();
        NewProduct();
        isLoadingCmsData = true;
    }

    public void NewProduct()
    {
        apiAction = "create";
        SelectedProduct = null;
        cmsData = new CmsObject();
        editContext = new(cmsData);
        allowEditing = true;
        isLoadingCmsData = false;
        StateHasChanged();
    }

    public void EditProduct()
    {
        allowEditing = true;
    }


    public async Task OnValueChange(ChangeEventArgs<string, string> args)
    {
        Console.WriteLine($"The DropDownList Value is: {args.Value}");
        SelectedProduct = args.Value;
        if (string.IsNullOrWhiteSpace(SelectedProduct))
        {
            apiAction = "create";
            allowEditing = true;
            return;
        }
        allowEditing = false;
        apiAction = "update";

        isLoadingCmsData = true;

        HttpResponseMessage response = await httpClient.GetAsync($"cms/{SelectedProduct}");

        if (response.IsSuccessStatusCode)
        {
            // Successful response
            cmsData = await response.Content.ReadFromJsonAsync<CmsObject>();
            editContext = new(cmsData);
            isLoadingCmsData = false;
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            // 404 Not Found response
            // Handle the 404 error as needed
        }
        else
        {
            // Handle other error scenarios
            // You can access the response.StatusCode and response.ReasonPhrase for further information
        }



    }

    public async Task OnSubmit()
    {
        Logger.LogInformation("Submit");
        bool isValid = editContext.Validate();
        // Maybe the button is not yet disable, be sure to not reprocess the event in this case
        if (isSubmitting)
        {
            return;
        }
        if (isValid == false)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.ReadCommentsCarefully);
            return;
        }

        isSubmitting = true;
        //upload function
        var results = await httpClient.PostAsJsonAsync($"cms/{apiAction}", cmsData, cancellationTokenSource.Token);

        if (results.IsSuccessStatusCode)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.SuccessMessageSent);
            var seriesName = await results.Content.ReadAsStringAsync();
            Logger.LogInformation("Create series: {seriesName}", seriesName);
            //update drop down list
            Products = await httpClient.GetFromJsonAsync<List<string>>("cms/series");
            isSubmitting = false;
            formSucceeded = true;
            //navigate to the new product and refresh page.
            SelectedProduct = seriesName;
            if (apiAction == "create")
            {
                NewProduct();
            }
            return;
        }
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.DataSubmissionError);
        isSubmitting = false;

    }
}
