﻿@using WebApp.Client.Pages.Admin
@if (Type == LinkType.File)
{
    <span><a href="@Href" target="_blank">@(Path.GetFileName(Href))</a></span>
}
else if (Type == LinkType.ExternalLink)
{
    <span><a href="@("https://www."+Href)" target="_blank">@(Path.GetFileName(Href))</a></span>
}
else if (Type == LinkType.Link)
{
    <span><a href="@Href" target="_blank">@Href</a></span>
}
else
{
    <span><a href="@Href" target="_blank">@Href</a></span>
}



@code {
    [Parameter, EditorRequired]
    public string Href { get; set; }

    [Parameter, EditorRequired]
    public LinkType Type { get; set; }

    
}
