﻿.button-color- {
    background-color: #808080;
}

.button-color-CT {
    background-color: #c23;
    color: #f8f8f8;
}

.button-color-GS {
    background-color: #005dab;
    color: #f8f8f8;
}

.button-color-BK {
    background-color: #808080;
    color: #f8f8f8;
}

.text-color- {
    color: #808080;
}

.text-color-CT {
    color: #c23;
}

.text-color-GS {
    color: #005dab;
}

.text-color-BK {
    color: #808080;
}

.bg- {
    background: linear-gradient(135deg, #808080, #000);
    color: #f8f8f8;
}

.bg-CT {
    background: linear-gradient(135deg, #c23, #000);
    color: #f8f8f8;
}

.bg-GS {
    background: linear-gradient(135deg, #005dab, #000);
    color: #f8f8f8;
}

.bg-BK {
    background: linear-gradient(135deg, #808080, #000);
    color: #f8f8f8;
}

.gradient-bg-color- {
    background: linear-gradient(135deg, #005dab, #6d6868,#000);
}

.gradient-bg-color-CT {
    background: linear-gradient(135deg, #c23, #6d6868,#000);
}

.gradient-bg-color-GS {
    background: linear-gradient(135deg, #005dab, #6d6868,#000);
}

.gradient-bg-color-BK {
    background: linear-gradient(135deg, #005dab, #6d6868,#000);
}


.background-color- {
    background-color: #f8f8f8;
}

.background-color-CT {
    background-color: #c23;
}

.background-color-GS {
    background-color: #005dab
}

.background-color-BK {
    background: #808080
}