﻿@page "/administrator/AdminCompanyDocumentPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(CompanyDocumentPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@CompanyDocument"
                           OdataUrl="@AdminHelper.OdataHelper.CompanyDocumentsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.CompanyDocumentsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(CompanyDocument.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(CompanyDocument.Title)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(CompanyDocument.FileLink)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.File" Href="@((context as CompanyDocument).FileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Document</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.CompanyDocument"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as CompanyDocument).FileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(CompanyDocument)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Link</p>
                            <SfTextBox ID="@nameof(CompanyDocument.FileLink)" @bind-Value="@((context as CompanyDocument).FileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(CompanyDocument.Brand)">
                        <EditTemplate>
                            <p>@nameof(CompanyDocument.Brand)</p>
                            <SfDropDownList ID="Brand" @bind-Value="@((context as CompanyDocument).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn Width="300" Field="@nameof(CompanyDocument.Description)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(CompanyDocument.Description)</p>
                            <SfTextBox ID="@nameof(CompanyDocument.Description)" @bind-Value="@((context as CompanyDocument).Description)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    public AdminGridBase<CompanyDocument> grid;
}
