﻿@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<ContactFormComponent> Logger
@implements IDisposable

<ToastNotification @ref="@Toast" />
@if (formSucceeded)
{
    <div class="card shadow-sm rounded-3 p-4 bg-white">
        <p>Thank you for your submission.</p>
        <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" OnClick="@ResetForm">Submit another form</SfButton>
    </div>
}
else
{
    <EditForm EditContext="@editContext" OnSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <div class="card shadow-sm rounded-3 p-4 bg-white">
            <label class="col-form-label label-required">Contact Reason</label>
            <SfDropDownList Readonly=@true TValue="string" TItem="ContactFormHelper.ContactReason" @bind-Value="@contactForm.ContactReasonChoice" DataSource="@ContactFormHelper.ContactReasons">
                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
            <ValidationMessage For="@(() => contactForm.ContactReasonChoice)"></ValidationMessage>

            <label class="col-form-label label-required">First Name</label>
            <SfTextBox @bind-Value="@contactForm.FirstName"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.FirstName)"></ValidationMessage>

            <label class="col-form-label label-required">Last Name</label>
            <SfTextBox @bind-Value="@contactForm.LastName"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.LastName)"></ValidationMessage>

            <label class="col-form-label label-required">Phone</label>
            <SfTextBox @bind-Value="@contactForm.Phone"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Phone)"></ValidationMessage>

            <label class="col-form-label">Phone Ext #</label>
            <SfTextBox @bind-Value="@contactForm.PhoneExt"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.PhoneExt)"></ValidationMessage>

            <label class="col-form-label label-required">Email</label>
            <SfTextBox @bind-Value="@contactForm.Email"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Email)"></ValidationMessage>

            <label class="col-form-label">Company</label>
            <SfTextBox @bind-Value="@contactForm.Company"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Company)"></ValidationMessage>

            <label class="col-form-label label-required">Address 1</label>
            <SfTextBox @bind-Value="@contactForm.Address1"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Address1)"></ValidationMessage>

            <label class="col-form-label">Address 2</label>
            <SfTextBox @bind-Value="@contactForm.Address2"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Address2)"></ValidationMessage>

            <label class="col-form-label label-required">City</label>
            <SfTextBox @bind-Value="@contactForm.City"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.City)"></ValidationMessage>

            <label class="col-form-label label-required">State or Province</label>
            <SfTextBox @bind-Value="@contactForm.StateOrProvince"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.StateOrProvince)"></ValidationMessage>

            <label class="col-form-label label-required">Postal Code</label>
            <SfTextBox @bind-Value="@contactForm.PostalCode"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.PostalCode)"></ValidationMessage>

            <LoadingComponent IsLoading="@isLoading">
                <label class="col-form-label label-required">Country</label>
                <SfComboBox TItem="string" TValue="string" AllowCustom="false" Autofill="true" DataSource="SharedHelper.CountryList()" @bind-Value="@contactForm.Country">
                </SfComboBox>
                <ValidationMessage For="@(() => contactForm.Country)"></ValidationMessage>
            </LoadingComponent>

            <label class="col-form-label label-required">Message</label>
            <SfTextBox Multiline="@true" @bind-Value="@contactForm.Message"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Message)"></ValidationMessage>

            <label>@(!string.IsNullOrEmpty(contactForm.Message) ? (contactForm.Message.Count().ToString()+"/1024"):"0/1024")</label>
            
            <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" Disabled="@(isSubmitting)">Submit</SfButton>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
    [Parameter]
    public string Reason { get; set; }

    private bool formSucceeded = false;

    private ToastNotification Toast;

    private ContactFormDTO contactForm = new();
    private EditContext editContext;
    private bool isLoading = true;
    private bool isSubmitting = false;
    private CancellationTokenSource cancellationTokenSource = new();

    protected override void OnParametersSet()
    {
        editContext = new(contactForm);

        contactForm.Brand = Theme.Id;

        if (Reason == "sales")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.SalesReason.Value;
        }
        else if (Reason == "techsupport")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.TechSupportReason.Value;
        }
        else if (Reason == "other")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        else
        {
            //default to general requests
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        isLoading = false;
    }

    public async Task OnSubmit()
    {
        Logger.LogInformation("Submit ContactForm");
        bool isValid = editContext.Validate();
        // Maybe the button is not yet disable, be sure to not reprocess the event in this case
        if (isSubmitting)
        {
            return;
        }
        if (isValid == false)
        {
            await Toast.ShowToast((int)ToastNotification.ToastType.Information);
            return;
        }

        isSubmitting = true;
        //upload function
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        var results = await httpClient.PostAsJsonAsync("api/ContactForm/", contactForm, cancellationTokenSource.Token);

        if (results.IsSuccessStatusCode)
        {
            await Toast.ShowToast((int)ToastNotification.ToastType.Success);
            isSubmitting = false;
            formSucceeded = true;
            return;
        }
        await Toast.ShowToast((int)ToastNotification.ToastType.Error);
        isSubmitting = false;

    }

    private void ResetForm()
    {
        contactForm.Clear();
        contactForm.Brand = Theme.Id;
        if (Reason == "sales")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.SalesReason.Value;
        }
        else if (Reason == "techsupport")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.TechSupportReason.Value;
        }
        else if (Reason == "other")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        else
        {
            //default to general requests
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        isSubmitting = false;
        formSucceeded = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}