﻿@page "/support/contact/{Reason}"

<PageTitle>@cardHeader Form - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @cardHeader Form page">
</HeadContent>


<div class="bg-light">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                    Form submissions will be answered on a first-come, first-served basis.
                    You will receive an email confirmation within 1 day of submitting the form.
                </div>
                <div class="card">
                    <h3 class="card-header">@cardHeader</h3>
                    <p class="card-body">@cardBody</p>
                </div>
            </div>
            <div class="col-md-6">
                <ContactFormComponent Reason="@Reason" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Reason { get; set; }

    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private string cardHeader;
    private string cardBody;

    protected override void OnParametersSet()
    {
        if (Reason == "sales")
        {
            cardHeader = "Contact Sales";
            cardBody = "This form is for contacting our sales department. If you have any questions or need a sales quote, please fill out the form below and a member of our sales team will get back to you as soon as possible.";
        }
        else if (Reason == "techsupport")
        {
            cardHeader = "Technical Support";
            cardBody = "If you need technical support, please fill out this form to contact us.";
        }
        else if (Reason == "other")
        {
            cardHeader = "General Requests";
            cardBody = "This form is for general requests. If you have any questions or need help with anything, please fill out the form below and a member of our team will get back to you as soon as possible.";
        }
        else
        {
            //default to general requests for all other parameters
            cardHeader = "General Requests";
            cardBody = "This form is for general requests. If you have any questions or need help with anything, please fill out the form below and a member of our team will get back to you as soon as possible.";
            Reason = "other";
        }
    }

}
