﻿@page "/administrator/AdminContactFormPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(ContactFormPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@ContactForm"
                           OdataUrl="@AdminHelper.OdataHelper.ContactFormsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.ContactFormsUrl"
                           Toolbar="@(new List<object>() {"Edit", "Delete" })">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(ContactForm.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.FirstName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.LastName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Email)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Phone)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.PhoneExt)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Company)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Address1)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Address2)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.City)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.StateOrProvince)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.PostalCode)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Country)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.ContactReasonChoice)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(ContactForm.Message)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.Brand)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.EmailConfirmationSent)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ContactForm.HubSpotTicketCreated)" Type="@ColumnType.Boolean"></GridColumn>

                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    public AdminGridBase<ContactForm> grid;
}
