﻿@page "/administrator/AdminRmaFormPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(RmaFormPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@RmaForm"
                           OdataUrl="@AdminHelper.OdataHelper.RmaFormsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.RmaFormsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(RmaForm.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.RmaNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PoNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PreferredShipAccount)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PreferredShipMethod)"></GridColumn>

                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.FirstName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.LastName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Email)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Phone)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PhoneExt)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Company)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Address1)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Address2)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.City)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.StateOrProvince)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PostalCode)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Country)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.PartNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.RepairOptionChoice)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.CalibrationServiceChoice)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.SerialNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Quantity)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.ProofOfPurchaseFileLink)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.RmaProductImageFileLink)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(RmaForm.ProblemDescription)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.Brand)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.EmailConfirmationSent)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(RmaForm.HubSpotTicketCreated)" Type="@ColumnType.Boolean"></GridColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    public AdminGridBase<RmaForm> grid;
}
