﻿@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<RmaFormComponent> Logger
@inject IToastService ToastService
@inject IStringLocalizer<SharedResources> Localizer

@implements IDisposable

@if (formSucceeded)
{
    <div class="card shadow-sm rounded-3 p-4 bg-white">
        <p>@Localizer["Thank you for your submission."]</p>
        <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" OnClick="@ResetForm">@Localizer["Submit another form"]</SfButton>
    </div>
}
else
{
    <EditForm EditContext="@editContext" OnSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <div class="card shadow-sm rounded-3 p-4 bg-white">
            <label class="col-form-label label-required">@Localizer["Repair Selection"]</label>
            <SfDropDownList TValue="string" TItem="@RmaFormHelper.Choice" @bind-Value="@rmaForm.RepairOptionChoice" DataSource="@RmaFormHelper.RepairOptions">
                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
            <ValidationMessage For="@(() => rmaForm.RepairOptionChoice)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Calibration Selection"]</label>
            <SfDropDownList TValue="string" TItem="@RmaFormHelper.Choice" @bind-Value="@rmaForm.CalibrationServiceChoice" DataSource="@RmaFormHelper.CalibrationOptions">
                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
            <ValidationMessage For="@(() => rmaForm.CalibrationServiceChoice)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["First Name"]</label>
            <SfTextBox @bind-Value="@rmaForm.FirstName"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.FirstName)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Last Name"]</label>
            <SfTextBox @bind-Value="@rmaForm.LastName"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.LastName)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Phone"]</label>
            <SfTextBox @bind-Value="@rmaForm.Phone"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.Phone)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Phone Ext"] #</label>
            <SfTextBox @bind-Value="@rmaForm.PhoneExt"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.PhoneExt)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Email"]</label>
            <SfTextBox @bind-Value="@rmaForm.Email"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.Email)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Company"]</label>
            <SfTextBox @bind-Value="@rmaForm.Company"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.Company)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Address 1"]</label>
            <SfTextBox @bind-Value="@rmaForm.Address1"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.Address1)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Address 2"]</label>
            <SfTextBox @bind-Value="@rmaForm.Address2"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.Address2)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["City"]</label>
            <SfTextBox @bind-Value="@rmaForm.City"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.City)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["State or Province"]</label>
            <SfTextBox @bind-Value="@rmaForm.StateOrProvince"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.StateOrProvince)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Postal Code"]</label>
            <SfTextBox @bind-Value="@rmaForm.PostalCode"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.PostalCode)"></ValidationMessage>

            <LoadingComponent IsLoading="@isLoading">
                <label class="col-form-label label-required">@Localizer["Country"]</label>
                <SfComboBox TItem="string" TValue="string" AllowCustom="false" Autofill="true" DataSource="@CteCore.Utility.CountryList()" @bind-Value="@rmaForm.Country">
                </SfComboBox>
                <ValidationMessage For="@(() => rmaForm.Country)"></ValidationMessage>
            </LoadingComponent>

            <label class="col-form-label label-required">@Localizer["Part Number"]</label>
            <SfTextBox @bind-Value="@rmaForm.PartNumber"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.PartNumber)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Serial Number(s)"]</label>
            <SfTextBox @bind-Value="@rmaForm.SerialNumber"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.SerialNumber)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Quantity"]</label>
            <SfNumericTextBox Min="1" Max="999999" @bind-Value="@rmaForm.Quantity"></SfNumericTextBox>
            <ValidationMessage For="@(() => rmaForm.Quantity)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Proof of Purchase"]</label>
            <SfUploader ID="UploadFiles"
                    AllowMultiple=false
                    AllowedExtensions=".png,.jpg,.pdf"
                    MinFileSize=50
                    MaxFileSize=8000000>
                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.RmaForm"
                                   RemoveUrl="@FileUploadHelper.ApiPublicDeleteUrl">
                </UploaderAsyncSettings>
                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args))"
                            Success="@((args)=>rmaForm.ProofOfPurchaseLink=SfUploadHelper.UploadSuccess(args))"
                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,typeof(RmaFormDTO)))">
                </UploaderEvents>
            </SfUploader>
            @if (rmaForm.RepairOptionChoice == "None" || rmaForm.RepairOptionChoice == "Non_Warranty_Repair")
            {
                <p>* if applicable</p>
            }
            else
            {
                <ValidationMessage For="@(() => rmaForm.ProofOfPurchaseLink)"></ValidationMessage>
            }

            <label class="col-form-label label-required">@Localizer[""]Problem Description</label>
            <SfTextBox Multiline="true" @bind-Value="@rmaForm.ProblemDescription"></SfTextBox>
            <ValidationMessage For="@(() => rmaForm.ProblemDescription)"></ValidationMessage>

            <label>@(!string.IsNullOrEmpty(rmaForm.ProblemDescription) ? (rmaForm.ProblemDescription.Count().ToString()+"/1024"):"0/1024")</label>
            <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" Disabled="@(isSubmitting)">@Localizer["Submit"]</SfButton>
        </div>
    </EditForm>

}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private bool formSucceeded = false;

    private RmaFormDTO rmaForm = new();
    private EditContext editContext;
    private bool isLoading = true;
    private bool isSubmitting = false;
    private CancellationTokenSource cancellationTokenSource = new();


    protected override void OnInitialized()
    {
        editContext = new(rmaForm);
        rmaForm.Brand = Theme.Id;
        isLoading = false;
    }

    public async Task OnSubmit()
    {
        Logger.LogInformation("Submit RMA form");
        bool isValid = editContext.Validate();
        // Maybe the button is not yet disable, be sure to not reprocess the event in this case
        if (isSubmitting)
        {
            return;
        }
        if (isValid == false)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.ReadCommentsCarefully);
            return;
        }

        if (rmaForm.RepairOptionChoice == "None" && rmaForm.CalibrationServiceChoice == "None")
        {
            var toast = new ToastModel { Title = Localizer["Information!"], Content = Localizer["Please make a Repair or Calibration selection."], CssClass = "e-toast-warning", Timeout = 5000 };
            await ToastService.ShowCustomToastAsync(toast);
            return;
        }

        switch (rmaForm.RepairOptionChoice)
        {
            case "None":
            case "Non_Warranty_Repair":
                break;
            default:
                if (rmaForm.ProofOfPurchaseLink == null)
                {
                    var toast = new ToastModel { Title = Localizer["Information!"], Content = Localizer["Proof of Purchase is required for Warranty repairs."], CssClass = "e-toast-warning", Timeout = 5000 };
                    await ToastService.ShowCustomToastAsync(toast);
                    return;
                }
                break;
        }

        isSubmitting = true;
        //upload function
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        var results = await httpClient.PostAsJsonAsync("api/RmaForm/", rmaForm, cancellationTokenSource.Token);

        if (results.IsSuccessStatusCode)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.SuccessMessageSent);
            isSubmitting = false;
            formSucceeded = true;
            return;
        }
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.DataSubmissionError);
        isSubmitting = false;
    }

    private void ResetForm()
    {
        rmaForm.Clear();
        rmaForm.Brand = Theme.Id;
        isSubmitting = false;
        formSucceeded = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}

