﻿@page "/support/service"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Service Form"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Service Form"] @Localizer["page"]">
</HeadContent>

<div class="bg-light">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                    @Localizer["form_first_come_message"]
                </div>
                <div class="card">
                    <h3 class="card-header">@Localizer["Service Form"]</h3>
                    <p class="card-body">@Localizer["form_repair_message"]</p>
                </div>
            </div>
            <div class="col-md-6">
                <RmaFormComponent />
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
