﻿@page "/administrator/AdminErpInventoryPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(ErpInventoryPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase TValue="@ErpInventory"
                           SortField="@nameof(ErpInventory.PartNumber)"
                           OdataUrl="@AdminHelper.OdataHelper.ErpInventoriesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.ErpInventoriesUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(ErpInventory.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.PartNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.Price)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.Quantity)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.MinimumOrderQuantity)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.LeadTime)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.SpecialHandling)">
                        <EditTemplate>
                            <p>@nameof(ErpInventory.SpecialHandling)</p>
                            <SfDropDownList ID="@nameof(ErpInventory.SpecialHandling)"
                                            @bind-Value="@((context as ErpInventory).SpecialHandling)"
                                            DataSource="@SpecialHandlingEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ErpInventory.Brand)"></GridColumn>
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    public static readonly List<string> SpecialHandlingEditParameters = new() { "CATALOG", "SPECIALORD" };

}
