﻿@page "/administrator/AdminProductPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(ProductPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@Product"
                           OdataUrl="@AdminHelper.OdataHelper.ProductsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.ProductsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(Product.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(Product.PartNumber)"></GridColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(Product.SeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Series Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridColumn Width="300" ClipMode="@ClipMode.EllipsisWithTooltip" Field="@nameof(Product.Description)">
                        <EditTemplate>
                            <p>@nameof(Product.Description)</p>
                            <SfTextBox ID="@nameof(Product.Description)" @bind-Value="@((context as Product).Description)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Product.Discontinued)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Product.RoHsCompliant)" Type="@ColumnType.Boolean"></GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<Product> grid;
    private List<AdminHelper.SeriesDTO> series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
    }
}
