﻿@page "/administrator/AdminProductImagePage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(ProductImagePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@ProductImage"
                           OdataUrl="@AdminHelper.OdataHelper.ProductImagesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.ProductImagesUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(ProductImage.Id)" />
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(ProductImage.ProductId)"
                                       TValue="@AdminHelper.ProductDTO"
                                       ForeignDataSource="@products"
                                       ForeignKeyField="@nameof(AdminHelper.ProductDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.ProductDTO.PartNumber)"
                                       HeaderText="PartNumber"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ProductImage.Position)" EditType="@EditType.NumericEdit"></GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(ProductImage.ImageFileLinkTmb)" AllowEditing="false" AllowAdding="false" HeaderText="Thumbnail">
                        <Template>
                            <ImageColumnTemplateComponent Src="@((context as ProductImage).ImageFileLinkTmb)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(ProductImage.ImageFileLink)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as ProductImage).ImageFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Image</p>
                            <SfUploader ID="UploadFiles" AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.ProductImage"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as ProductImage).ImageFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(ProductImage)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Image Link</p>
                            <SfTextBox ID="@nameof(ProductImage.ImageFileLink)" @bind-Value="@((context as ProductImage).ImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(ProductImage.ImageFileLinkMd)" AllowEditing="false" AllowAdding="false" HeaderText="Thumbnail">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as ProductImage).ImageFileLinkMd)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(ProductImage.ImageFileLinkLg)" AllowEditing="false" AllowAdding="false" HeaderText="Medium">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as ProductImage).ImageFileLinkLg)" />
                        </Template>
                    </GridColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<ProductImage> grid;
    private List<AdminHelper.ProductDTO> products { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        products = await ODataResponseHelper<AdminHelper.ProductDTO>.GetODataResponseValue($"Product?$select={nameof(AdminHelper.ProductDTO.Id)},{nameof(AdminHelper.ProductDTO.PartNumber)}", httpClient);

    }
}
