﻿@layout Shared.Layouts.MainLayout
@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<div class="text-center">
    <RemoteAuthenticatorView Action="@Action">
        <LogInFailed>
            <div class="alert alert-danger" role="alert">@LogInFailed</div>
        </LogInFailed>
        <LogOut>
            <div class="alert alert-info" role="alert">@LogOut</div>
        </LogOut>
        <LogOutSucceeded>
            <div class="alert alert-success" role="alert">@LogOutSucceeded</div>
        </LogOutSucceeded>
        <LoggingIn>
            <div class="alert alert-info" role="alert">@LoggingIn</div>
        </LoggingIn>
        <CompletingLoggingIn>
            <div class="alert alert-success" role="alert">@CompletingLoggingIn</div>
        </CompletingLoggingIn>
    </RemoteAuthenticatorView>
</div>

@code {
    [Parameter] public string Action { get; set; }

    string LogInFailed = "Your login was not successful.";
    string LogOut = "Trying to close your session.";
    string LogOutSucceeded = "Your session has been closed successfully.";
    string LoggingIn = "Redirecting to the login screen.";
    string CompletingLoggingIn = "Your login was successful.";
}
