﻿@using System.Globalization
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

<label>
    <span class="oi oi-globe" aria-hidden="true"></span>
    <select @bind="Culture">
        @foreach (var culture in supportedCultures)
        {
            <option value="@culture">@GetLanguageName(culture.Name) </option>
        }
    </select>
</label>


@code
{

    private CultureInfo[] supportedCultures = new[]
                {
        new CultureInfo("en-US"),
        new CultureInfo("es-CO"),
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);

                Nav.NavigateTo(Nav.Uri, forceLoad: true);
            }
        }
    }

    private string GetLanguageName(string displayName)
    {
        if (displayName == "en-US")
        {
            return "English (US)";
        }
        else if (displayName == "es-CO")
        {
            return "Español (CO)";
        }
        else
        {
            throw new NotImplementedException();
        }
    }
}