﻿<SfProgressBar   Type="ProgressType.Linear" Height="60"
               IsIndeterminate="true" ProgressThickness="100" TrackThickness="100" Value="50" Minimum="0" Maximum="100"
               Theme="Syncfusion.Blazor.Theme.Bootstrap5">
    <ProgressBarMargin Left="0" Right="0" Top="0" Bottom="0"></ProgressBarMargin>
   <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
</SfProgressBar>

@code {
}
