﻿<div id="jumbotron" class="@($"gradient-bg-color-{@Theme.Id}") animate-background">
    <div class="container animate-revealText-slideUp">
        <div class="row align-items-center  p-4">
            <div class="col-md-6">
                <h1 class="title display-4">
                    @Title
                </h1>
                <h2 class="subtitle">
                    @Subtitle
                </h2>
                @if (LeadContent != null)
                {
                    @LeadContent
                }
                @if (ButtonContent != null)
                {
                    @ButtonContent
                }
                else if (!string.IsNullOrWhiteSpace(ButtonLink))
                {
                    <SkewButton Href="@ButtonLink">
                        <span>@ButtonText</span>
                    </SkewButton>
                }
            </div>
            <div class="col-md-6">
                <div class="jumbotron-image-container">
                    @if (ImageContent != null)
                    {
                        @ImageContent
                    }
                    else if (!string.IsNullOrWhiteSpace(ImageLink))
                    {
                        <img class="img-maintain-aspect-ratio" src="@ImageLink" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>

</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public RenderFragment LeadContent { get; set; }

    [Parameter]
    public RenderFragment ButtonContent { get; set; }

    [Parameter]
    public RenderFragment ImageContent { get; set; }

    [Parameter]
    public string ImageLink { get; set; }

    [Parameter]
    public string ButtonLink { get; set; }

    [Parameter]
    public string ButtonText { get; set; }



}
