﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<AuthorizeView>
    <Authorized>
        <SfButtonGroup Mode="Syncfusion.Blazor.SplitButtons.SelectionMode.Single"  HtmlAttributes="htmlAttributes">
            <SfDropDownButton style="border-radius:15px" IconCss="e-icons e-people" Content="My Account">
                <DropDownButtonEvents ItemSelected="ItemSelected"></DropDownButtonEvents>
                <DropDownMenuItems>
                    <DropDownMenuItem Id="logout" IconCss="oi oi-account-login" Text="Log Out"></DropDownMenuItem>
                    @*<DropDownMenuItem Url="Identity/Account/Manage" IconCss="oi oi-cog" Text="User Settings"></DropDownMenuItem>*@
                    <AuthorizeView Context="AdministratorContext" Roles="Administrator">
                        <DropDownMenuItem Url="administrator" IconCss="oi oi-list-rich" Text="Admin Dashboard"></DropDownMenuItem>
                    </AuthorizeView>
                    <AuthorizeView Context="DistributorContext" Roles="Administrator,Distributor">
                        <DropDownMenuItem Url="distributor-access" IconCss="oi oi-terminal" Text="Distributor Access"></DropDownMenuItem>
                    </AuthorizeView>
                </DropDownMenuItems>
            </SfDropDownButton>
        </SfButtonGroup>
    </Authorized>
    <NotAuthorized>
        <div><a style="color:black;font-weight:600" href="distributor-access">Distributor Login</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Dictionary<string, object> htmlAttributes { get; set; } = new Dictionary<string, object>() {
            {"height", "40" },
            {"style","margin-top: -3px;"}
            };
    public async Task ItemSelected(MenuEventArgs args)
    {
        if (args.Item.Id == "logout")
        {
            await BeginSignOut(null);
        }
    }

    private async Task BeginSignOut(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
