﻿
<SfToast @ref="ToastObj" Title="@ToastTitle" Content="@ToastContent" ShowCloseButton="true" CssClass="@ToastCssClass">
    <ChildContent>
        <ToastPosition X="Center" Y="Top"></ToastPosition>
        @ToastContent
    </ChildContent>
</SfToast>

@code {


    SfToast ToastObj;

    private string ToastTitle = "";
    private string ToastContent = "";
    private string ToastCssClass = "";


    private List<ToastModel> Toasts = new List<ToastModel> {
        new ToastModel { Title = "Warning!", Content = "There was a problem with your network connection.", CssClass = "e-toast-warning", Timeout=5000 },
        new ToastModel { Title = "Success!", Content = "Your message has been sent successfully.", CssClass = "e-toast-success",Timeout=5000 },
        new ToastModel { Title = "Error!", Content = "A problem has been occurred while submitting your data.", CssClass = "e-toast-danger",Timeout=5000 },
        new ToastModel { Title = "Information!", Content = "Please read the comments carefully.", CssClass = "e-toast-info",Timeout=5000 },
        new ToastModel { Title = "Information!", Content = "Select or type a length then color.", CssClass = "e-toast-info",Timeout=5000 },
        new ToastModel { Title = "Error!", Content = "Select or type a length between 10 and 10,000cm.", CssClass = "e-toast-danger",Timeout=5000 },
        new ToastModel { Title = "Error!", Content = "Select or type a valid color #.", CssClass = "e-toast-danger",Timeout=5000 },
        new ToastModel { Title = "Error!", Content = "Type a valid part number.", CssClass = "e-toast-danger",Timeout=5000 },
        new ToastModel { Title = "Success!", Content = "Your part has been successfully built.", CssClass = "e-toast-success",Timeout=5000 },
                new ToastModel { Title = "Information!", Content = "Select two products to compare.", CssClass = "e-toast-info",Timeout=5000 },
                new ToastModel { Title = "Information!", Content = "Select two products to compare.", CssClass = "e-toast-info",Timeout=5000 },

    };

    public enum ToastType
    {
        Warning,
        Success,
        Error,
        Information
    } 

    public async Task ShowToast(int toastOption)
    {
        await this.ToastObj.ShowAsync(Toasts[toastOption]);
    }
    public async Task ShowCustomToast(ToastModel toastModel)
    {
        await this.ToastObj.ShowAsync(toastModel);
    }

}
