﻿@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResources> Localizer

<LoadingComponent IsLoading="@loading">
    @if (whereToBuyStockDTOs.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Action"]</th>
                        <th scope="col">@Localizer["Distributor"]</th>
                        <th scope="col">@Localizer["Quantity"]</th>
                        <th scope="col">@Localizer["Last Updated"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stock in whereToBuyStockDTOs)
                    {
                        <tr>
                            <td><a class="text-color-@Theme.Id" href="@stock.WebsiteLink" target="_blank">@Localizer["View"]</a></td>
                            <td><a class="text-color-@Theme.Id" href="@stock.WebsiteLink" target="_blank">@stock.DistributorName</a></td>
                            <td>
                                <a class="text-color-@Theme.Id" href="@stock.WebsiteLink" target="_blank">
                                    @if (stock.Quantity == 0)
                                    {
                                        <span>@Localizer["Low Stock"]</span>
                                    }
                                    else
                                    {
                                        <span>@stock.Quantity.ToString("N0")</span>
                                    }
                                </a>
                            </td>
                            <td>@DateTime.Now.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>@Localizer["Please contact one us to find out where to buy this product."]</p>
        <a class="btn button-color-@Theme.Id" onclick="@(() => NavigationManager.NavigateTo("/support/contact-us/"))">@Localizer["Contact Us"]</a>
    }
</LoadingComponent>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter, EditorRequired]
    public string SearchParameter { get; set; }

    private bool loading = true;

    private CancellationTokenSource cancellationTokenSource = new();

    private List<WhereToBuyStockDTO> whereToBuyStockDTOs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        whereToBuyStockDTOs = await httpClient.GetFromJsonAsync<List<WhereToBuyStockDTO>>($"/api/WhereToBuy/StockSearch?SearchParameter={SearchParameter?.Trim()}", cancellationTokenSource.Token);
        loading = false;
    }
}