﻿@page "/where-to-buy"
@inject Services.StateService StateService
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager UriHelper
@inject IJSRuntime JsRuntime
@inject ILogger<WhereToBuyPage> Logger
@inject IStringLocalizer<SharedResources> Localizer

@implements IDisposable

<PageTitle>@Localizer["Where To Buy"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["WhereToBuyMessage",Theme.Name]">
</HeadContent>

<Jumbotron Title="@Localizer["Where To Buy"]"
           Subtitle="@(Localizer["WhereToBuyMessage",Theme.Name])"
           ImageLink="">
    <ImageContent>
        @if (Theme.Id == BrandHelper.CT.Id)
        {
            <img class="img-maintain-aspect-ratio" src="https://as.caltestelectronics.com/public/productReleases/images/HV_jack_group[1].png" />
        }
        else if (Theme.Id == BrandHelper.GS.Id)
        {
            <img class="img-maintain-aspect-ratio" src="https://as.caltestelectronics.com/public/images/homepage/Left_Side.png" />
        }
    </ImageContent>
</Jumbotron>

<div class="container content">
    <LoadingComponent IsLoading=loading>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        @Localizer["Search by model"]
                    </div>
                    <div class="card-body">
                        <SfAutoComplete TValue="@string"
                                        TItem="@string"
                                        Placeholder="CT2002-0"
                                        MinLength=3
                                        IgnoreCase=@true
                                        ShowPopupButton="@true"
                                        @bind-Value="@selectedDistributorPartNumber"
                                        AllowCustom="@false"
                                        DataSource="@WhereToBuyPageDTO.whereToBuySearchList"
                                        PopupHeight="300px"
                                        PopupWidth="300px"
                                        SuggestionCount="6"
                                        Autofill=@true>
                            <AutoCompleteEvents TValue="string"
                                                TItem="string"
                                                ValueChange="OnChange">
                            </AutoCompleteEvents>
                        </SfAutoComplete>
                        <p class="card-text">
                            @Localizer["To find out if one of our authorized distributors has a product in stock, you can search for it using this search function."]
                        </p>
                    </div>
                    <div class="card-footer text-muted">@Localizer["Last updated on"] @DateTime.Now.ToShortDateString()</div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var distributor in WhereToBuyPageDTO.authorizedDistributorDTOs)
                    {
                        <div class="col-sm-6 col-md-4 mt-4 mt-lg-0 mb-lg-4">
                            <div class="card h-100 text-center mx-auto" style="max-width:18rem;">
                                <div class="card-header">@distributor.Country</div>
                                <div class="img-container m-auto">
                                    <img class="card-img-top img-fluid p-4" src="@distributor.LogoLink" alt="Card image cap">
                                </div>

                                <div class="card-body">
                                    <p class="card-text p-2"> @distributor.PhoneNumber</p>
                                    <a  class="btn button-color-@Theme.Id" href="@distributor.Website" target="_blank">Website</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <SfDialog Width="500px" Target="#target" IsModal="@true" CloseOnEscape="@true" @bind-Visible="@showDialog">
            <DialogTemplates>
                <Header>@selectedDistributorPartNumber </Header>
                <Content>
                    @if (!string.IsNullOrEmpty(selectedDistributorPartNumber))
                    {
                        <WhereToBuyComponent SearchParameter="@selectedDistributorPartNumber" />
                    }
                </Content>
            </DialogTemplates>
            <DialogButtons>
                <DialogButton Content="OK" IsPrimary="true" OnClick="@DlgButtonClick" />
            </DialogButtons>
            <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
            <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
        </SfDialog>
    </LoadingComponent>
</div>

<style>


    .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
        content: '\e725';
        font-family: 'e-icons';
        font-size: 16px;
        opacity: 0.4;
    }
</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    public string SearchParameter { get; set; }

    private WhereToBuyPageDTO WhereToBuyPageDTO;

    private string selectedDistributorPartNumber;

    private CancellationTokenSource cancellationTokenSource = new();

    private bool loading = true;
    private bool showDialog = false;

    HttpClient httpClient;
    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        WhereToBuyPageDTO = await httpClient.GetFromJsonAsync<WhereToBuyPageDTO>($"/api/WhereToBuy/PageData/{Theme.Id}", cancellationTokenSource.Token);
        loading = false;
    }

    private async Task OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, string> args)
    {
        if (!string.IsNullOrEmpty(selectedDistributorPartNumber))
        {
            Logger.LogInformation($"{nameof(selectedDistributorPartNumber)}: {selectedDistributorPartNumber}");
            showDialog = true;
        }
    }

    private void DialogOpen(Object args)
    {
        showDialog = true;
    }

    private void DialogClose(Object args)
    {
        showDialog = false;
        selectedDistributorPartNumber = null;

    }
    private void DlgButtonClick()
    {
        DialogClose(null);
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}