﻿<div style="text-align: center;color:white!important; width: 75px; border-radius: 5%; border: 1px solid #555;">
    <img style="max-width: 62.5px; height: 50px; object-fit: scale-down; " src="@Src" />
</div>


@code {
    [Parameter, EditorRequired]
    public string Src { get; set; }

}
