﻿@page "/about/about-us"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Our History"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["Our History"] - @Theme.Name @Localizer["page"]">
</HeadContent>


<div id="intro" style="background-image:url('@Theme.SecondaryBackgroundImageFileLink')">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center h-100">
            <div class="message-box">
                <p class="text-context" style="text-transform: uppercase;">@Localizer["ABOUT US"]</p>
                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    @(new MarkupString(Localizer["about_intro_html_CT"]))
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    @(new MarkupString(Localizer["about_intro_html_GS"]))
                }
                else if (Theme.Id == BrandHelper.BK.Id)
                {
                    @(new MarkupString(Localizer["about_intro_html_BK"]))
                }

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-4">
        <div class="col-md-6">
            <div>

                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImage_CT4299_2.png" alt="Featured Product image">
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImageGS_1301A_front_300dpi.png" alt="Featured Product image">
                }
            </div>
        </div>
        <div class="col-md-6">
            <div>
                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    @(new MarkupString(Localizer["about_section2_html_CT"]))
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    @(new MarkupString(Localizer["about_section2_html_GS"]))
                }
                else if (Theme.Id == BrandHelper.BK.Id)
                {

                }
            </div>
        </div>
    </div>
</div>
@if (Theme.Id == BrandHelper.CT.Id)
{
    <div style="background-color: @Theme.SecondaryColor;">
        <div class="container">
            <div class="row p-4">
                <div class="col-12">
                    <div class="bg-white shadow">
                        <ul class="flexblock justify-content-center">
                            @(new MarkupString(Localizer["about_section3_html_CT"]))
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else if (Theme.Id == BrandHelper.GS.Id)
{
    <div style="background-color: @Theme.SecondaryColor;">

        <div class="container">
            <div class="row p-4">

                <div class="col-md-6">
                    <div>
                        @(new MarkupString(Localizer["about_section4_html_GS"]))
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImageGS_1370_right.png" alt="Featured Product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Theme.Id == BrandHelper.BK.Id)
{

}

<style>
    #intro {
        height: 80vh;
        min-height: 325px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .message-box {
        background-color: rgb(0,0,0,0.65);
        color: white;
        width: 80%;
        padding: 2rem;
    }

    .text-context {
        position: relative;
        color: inherit;
    }

        .text-context:before {
            content: '';
            display: block;
            height: .2rem;
            margin-bottom: .6rem;
            width: 12rem;
            background-color: white;
        }

    @@media screen and (max-width: 500px) {
        .message-box {
            padding: 0.5rem;
            width: 100%;
        }
    }

    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
