﻿@page "/accessibility-statement"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Accessibility Statement"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["Accessibility Statement"] - @Theme.Name @Localizer["page"]">
</HeadContent>

<div class="container content">
    <h1>@Localizer["Accessibility Statement"]</h1>
    @(new MarkupString(Localizer["accessibility_statement_message", Theme.Name]))
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
