﻿@page "/about/employment"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Employment"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["Employment"] - @Theme.Name @Localizer["page"]">
</HeadContent>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid border" src="@Theme.SecondaryBackgroundImageFileLink" alt="@Localizer["Image of company building"]">
        </div>
        <div class="col-md-6">
            <h1>@Localizer["Employment Opportunities at"] <br /> @Theme.FormattedName</h1>
            <p class="pt-2">@Localizer["employment_location_message",Theme.Name]</p>
            <p class="py-2">@Localizer["employment_location_message_continued",Theme.Name]</p>
            <p><strong>@Localizer["Current Employment Opportunities"]</strong></p>
            <ul>
                <li>
                    @Localizer["There are no current employment opportunities at this time."]
                </li>
            </ul>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
