﻿@page "/about/iso-certification"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["ISO Certification"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["ISO Certification"] - @Theme.Name @Localizer["page"]">
</HeadContent>

<div class="container content">
    <div class="row">
        <h1>@Localizer["ISO Certification"]</h1>
        @if (Theme.Id == BrandHelper.BK.Id)
        {
            <div class="col-3">
                <img class="img-fluid border" src="https://s3-us-west-1.amazonaws.com/bkpmedia/images/bk-iso-2015.png" alt="">
            </div>
            <div class="col-9">
                <img class="img-fluid border" src="https://bkpmedia.s3-us-west-1.amazonaws.com/images/ISO9001_2015_BK_6Z241-IS8_10FEB2020.png" alt="">
            </div>
        }
        else
        {
            <p>
                @Localizer["We are currently in the process of obtaining our ISO certification."]<br />
                @Localizer["iso_certification_committment",Theme.Name] 
            </p>
        }

    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
