﻿@page "/administrator/AdminCategoryPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(CategoryPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@Category"
                           OdataUrl="@AdminHelper.OdataHelper.CategoriesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.CategoriesUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(Category.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(Category.TableName)" AllowEditing="false"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Category.DisplayName)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(Category.Description)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(Category.Description)</p>
                            <SfTextBox ID="@nameof(Category.Description)" @bind-Value="@((context as Category).Description)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Category.ImageFileLink)">
                        <Template>
                            <ImageColumnTemplateComponent Src="@((context as Category).ImageFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Document</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.Category"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as Category).ImageFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(Category)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Link</p>
                            <SfTextBox ID="@nameof(Category.ImageFileLink)" @bind-Value="@((context as Category).ImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <BrandColumn>
                        <EditTemplate>
                            <p>@nameof(Category.Brand)</p>
                            <SfDropDownList ID="Brand" @bind-Value="@((context as Category).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </BrandColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>
@code {
    public AdminGridBase<Category> grid;
}
