﻿@page "/about/about-us"

<PageTitle>Our History - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Our History page">
</HeadContent>


<div id="intro" style="background-image:url('@Theme.SecondaryBackgroundImageFileLink')">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center h-100">
            <div class="message-box">
                <p class="text-context">ABOUT US</p>
                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    <h2>
                        <strong>Our mission</strong> is to provide you with both a quality product and 30 years of expert
                        knowledge so that you can remain focused on your goal. Our job is to make your testing life easier.
                    </h2>
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    <h4>
                        For almost 50 years, <strong>Global Specialties</strong> has been innovating electronic training solutions
                        for education and industry. Basing its product offerings on the concept of Education Through Application,
                        Global
                        Specialties believes that relevant scientific and technical education is best when it permits students to
                        learn by doing. Global Specialties products meet the highest standards for reliability, durability, and long
                        life, designed to take the sustained use of educational, research, and prototyping environments.
                    </h4>
                }
                else if (Theme.Id == BrandHelper.BK.Id)
                {
                    <h4>
                        For more than 70 years, B&K Precision Corporation has been building a reputation for excellence in the design and manufacture of reliable and cost-effective test and measurement instruments.
                        The company’s products are used in a wide range of applications including design, research and development, production line testing, industrial maintenance, and electronic field service.
                        B&K Precision test and measurement instruments are standard equipment in a large number of universities and technical schools which train future engineers and technicians.
                        B&K Precision was founded in 1951 and is headquartered in Yorba Linda, California.
                    </h4>
                }

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-4">
        <div class="col-md-6">
            <div>

                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImage_CT4299_2.png" alt="Featured Product image">
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImageGS_1301A_front_300dpi.png" alt="Featured Product image">
                }
            </div>
        </div>
        <div class="col-md-6">
            <div>
                @if (Theme.Id == BrandHelper.CT.Id)
                {
                    <h3>Our History</h3>
                    <p>
                        Since 1995, Cal Test Electronics has been serving the electronic and electrical markets with an extensive
                        line of quality test accessories and a commitment to total customer service. We evolved for the specific
                        purpose of providing customers with products they need to get their tasks completed.
                    </p>
                    <div class="col-6">
                        <h3>Safety Excellence</h3>
                        <p>
                            The majority of our products are compliant to some of the most stringent safety and environmental
                            standards in the world such as IEC61010-1 CAT III &amp; CAT IV and RoHS Directive.
                        </p>
                    </div>
                    <div class="col-6">
                        <h3>Warranty</h3>
                        <p>
                            Every new Cal Test Electronics accessory comes with a standard one year warranty against defects from
                            the original date of purchase.
                        </p>
                    </div>
                }
                else if (Theme.Id == BrandHelper.GS.Id)
                {
                    <h2>Our History</h2>
                    <p>
                        Founded in 1973, <strong>Global Specialties</strong> earned its reputation by offering the world’s finest
                        breadboarding
                        systems for prototyping and education. Acquired by Cal Test Electronics in 2009, expanded product
                        offerings now include power supplies and electronics workstations.
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@if (Theme.Id == BrandHelper.CT.Id)
{
    <div style="background-color: @Theme.SecondaryColor;">
        <div class="container">
            <div class="row p-4">
                <div class="col-12">
                    <div class="bg-white shadow">
                        <ul class="flexblock justify-content-center">
                            <li>
                                <h2>Custom Components</h2>
                                <p>
                                    If your requirement is for a custom component or kit, Cal Test is ready to review your specifications
                                    and construct an accessory that matches your exact need. To that end, we currently supply custom
                                    assemblies and kits to several of the largest instrument manufacturers in the world.
                                </p>
                            </li>
                            <li>
                                <h2>Competitive Prices</h2>
                                <p>
                                    Cal Test Electronics is committed to supporting its core goal of supplying performance accessories at
                                    competitive prices, while actively adding new and unique products as markets and technologies change.
                                </p>
                            </li>
                            <li>
                                <h2>Vast Variety</h2>
                                <p>
                                    If you are in the electronic, electrical, maintenance or process control industries, we offer the
                                    most comprehensive lines of test accessories. With over 3,000 items in 7 product categories, there is
                                    almost no test accessory challenge Cal Test cannot meet.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@if (Theme.Id == BrandHelper.GS.Id)
{
    <div style="background-color: @Theme.SecondaryColor;">

        <div class="container">
            <div class="row p-4">

                <div class="col-md-6">
                    <div>
                        <h2 class="text-white">Today</h2>
                        <p class="text-white">
                            As one of the <strong>Cal Test Electronics</strong> brands, Global Specialties' quality and reliability
                            speak for themselves with a three-year warranty on many of its key products. Global Specialties products
                            are available from electronics distributors worldwide. For a complete list of distributors, see our "<a href="where-to-buy">Where to Buy</a>" page.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img class="img-fluid" src="https://as.caltestelectronics.com/public/images/homepage/AboutImageGS_1370_right.png" alt="Featured Product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>
    #intro {
        height: 80vh;
        min-height: 325px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .message-box {
        background-color: rgb(0,0,0,0.65);
        color: white;
        width: 80%;
        padding: 2rem;
    }

    .text-context {
        position: relative;
        color: inherit;
    }

        .text-context:before {
            content: '';
            display: block;
            height: .2rem;
            margin-bottom: .6rem;
            width: 12rem;
            background-color: white;
        }

    @@media screen and (max-width: 500px) {
        .message-box {
            padding: 0.5rem;
            width: 100%;
        }
    }

    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
