﻿@page "/accessibility-statement"

<PageTitle>Accessibility Statement - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Accessibility Statement page">
</HeadContent>

<div class="container content">
    <h1>Accessibility Statement</h1>
    <p>
        @Theme.Name is working to make sure our website can be used by everyone, including people who use tools like screen readers.
        We strive to follow guidelines to make our website accessible.
    </p>
    <p>@Theme.Name is committed to conforming to the Web Content Accessibility Guidelines (WCAG) 2.1, Level AA and complying with the Department of Justice’s Americans with Disabilities Act (ADA) Standards for Accessible Design, and other applicable regulations.</p>
    <p>
        If you have suggestions for how they can improve, please contact us using our <a href="/support/contact/other">general contact form</a> to send us a message.
        We want to make the website better for all users.
    </p>
    <p>Please note that our website may link to, or interface with, third-party websites that we do not control and are not affiliated directly with.</p>
    <p>@Theme.Name has the right to change this statement at any time.</p>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
