﻿@page "/about/employment"

<PageTitle>Employment - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Employment page">
</HeadContent>


<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid border" src="@Theme.SecondaryBackgroundImageFileLink" alt="Image of company building">
        </div>
        <div class="col-md-6">
            <h1>Employment Opportunities at <br /> @Theme.FormattedName</h1>
            <p class="pt-2">Located in Southern California, @Theme.Name is a leading manufacturer of general purpose test and measurement equipment.</p>
            <p class="py-2">At @Theme.Name we encourage employees to be entrepreneurial, take initiative and be responsible for their actions. We offer a diverse, supportive work environment where you will be given the opportunity to make contributions and to grow. Employees enjoy a comprehensive benefits package including medical, dental and vision insurance, group 401k plan with company match, paid time off, a 4-day work week and a casual work environment.</p>
            <p><strong>Current Employment Opportunities</strong></p>
            <ul>
                <li>
                    There are no current employment opportunities at this time.
                </li>
            </ul>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
