﻿@page "/about/iso-certification"

<PageTitle>ISO Certification - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name ISO Certification page">
</HeadContent>

<div class="container content">
    <div class="row">
        <h1>ISO Certification</h1>
        @if (Theme.Id == BrandHelper.BK.Id)
        {
            <div class="col-3">
                <img class="img-fluid border" src="https://s3-us-west-1.amazonaws.com/bkpmedia/images/bk-iso-2015.png" alt="">
            </div>
            <div class="col-9">
                <img class="img-fluid border" src="https://bkpmedia.s3-us-west-1.amazonaws.com/images/ISO9001_2015_BK_6Z241-IS8_10FEB2020.png" alt="">
            </div>
        }
        else
        {
            <p>
                We are currently in the process of obtaining our ISO certification.<br />
                @Theme.Name is committed to meeting the standards set by the ISO and is working hard to achieve certification.
            </p>
        }

    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
