﻿@page "/about/trade-shows"

<PageTitle>Trade Shows - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Trade Shows page">
</HeadContent>

<div class="container content">
    <h1>Trade Shows</h1>
    <div class="row">
        @if (Theme.Id == BrandHelper.BK.Id)
        {
            <h2>Visit B&amp;K Precision at <a href="https://apec-conf.org">APEC 2023</a> in Orlando!</h2>
            <p>B&amp;K Precision will be featuring the latest in test &amp; measurement solutions for power electronics.</p>
            <p>Booth 313</p>
            <p>March 19-23, 2023</p>
            <p>Orange County Convention Center</p>
            <p>Orlando, FL</p>
            <div class="pt-4">
                <a href="https://apec-conf.org">
                    <img class="img-fluid" src="https://bkpmedia.s3.us-west-1.amazonaws.com/downloads/artwork/orlando_convention_center.jpg" alt="">
                </a>
            </div>
        }
        else
        {
            <h2>No Trade Shows currently scheduled at this time.</h2>
        }
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
