﻿.subCategoryFontStyle {
    color: #444444;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.categoryListStyle22 {
    color: #444444;
    margin: 1px 0px;
    padding: 2px 0px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}


.categoryListStyle222 {
    color: #444444;
    margin: 1px 0px;
    padding: 2px 0px;
    font-size: 12px;
    line-height: 12px;
}

.hr-sm {
    margin: 0.65rem 0
}

.text-underline-hover {
    text-decoration: none;
}

    .text-underline-hover:hover {
        text-decoration: underline;
    }
