﻿@page "/products"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<ProductIndexPage> Logger
@inject IStringLocalizer<SharedResources> Localizer
@inject Services.StateService StateService

@implements IDisposable

<PageTitle>@Localizer["Product Index"]</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["A complete list of our products by category. Filter by New or RoHS compliant."]">
</HeadContent>

<Jumbotron Title="@Localizer["Product Index"]"
           Subtitle="@Localizer["There are many ways to provide a solution. If you don't see what you're looking for, please contact us."]"
           ButtonLink="/support/contact-us"
           ButtonText="@Localizer["Contact Us"]">
    <ImageContent>
        @if (Theme.Id == BrandHelper.CT.Id)
        {
            <img class="img-maintain-aspect-ratio" src="https://as.caltestelectronics.com/public/productReleases/images/CT4422.png" />
        }
        else if (Theme.Id == BrandHelper.GS.Id)
        {
            <img class="img-maintain-aspect-ratio" src="https://as.caltestelectronics.com/public/images/homepage/Left_Side.png" />
        }
    </ImageContent>
</Jumbotron>


<LoadingComponent IsLoading="@loading">
    <div class="container content">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-4 mb-md-0">
                    <h4>@Localizer["Filters"] <small class="text-muted">- @string.Format("{0:n0}",productIndexDTO.TotalCount) @Localizer["Items"]</small> </h4>
                    <hr class="hr-sm" />
                    <div>
                        <SfChip @ref="chipSearchObj" EnableDelete="true">
                            <ChipItems>
                                <ChipEvents OnDelete="@OnDelete" Deleted="@Deleted"></ChipEvents>
                                @foreach (var sv in SearchValues)
                                {
                                    if (!string.IsNullOrWhiteSpace(sv))
                                    {
                                        <ChipItem Text="@sv"></ChipItem>
                                    }
                                }
                            </ChipItems>
                        </SfChip>
                    </div>
                    <div class="mb-2 d-flex">
                        <SfTextBox @ref="@textBoxSearchObj" HtmlAttributes="@HtmlAttribute" Placeholder="@Localizer["Search Within"]" CssClass="shadow-sm" ValueChange="@OnSearch" @bind-Value="@searchValue" Created="@AddSearchIcon"></SfTextBox>
                        <SfButton CssClass="@("ms-2 " + (SearchValues.Count()>0?"d-block":"d-none"))" Content="@Localizer["Reset"]" OnClick="@OnReset" Disabled="@resetButtonDisabled"></SfButton>
                    </div>
                    <div class="mb-3">
                        <h6 class="mb-0">@Localizer["Stocking Options"]</h6>
                        <div class="d-flex flex-column gap-1 mb-1 ms-3">
                            <SfCheckBox @bind-Checked="@NewProduct" @onchange="@onChange">@Localizer["New Product"]</SfCheckBox>
                        </div>
                    </div>
                    @*                    <div class="mb-3">
                        <h6 class="mb-0">Environmental Options</h6>
                        <div class="d-flex flex-column gap-1 mb-1 ms-3">
                        <SfCheckBox @bind-Checked="@RoHsCompliant" @onchange="@onChange">RoHS Compliant</SfCheckBox>
                        </div>
                        </div>
                    *@
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    @if (productIndexDTO.Caterogies.Count == 0)
                    {
                        <div class="e-error">
                            <div class="e-error-content">@Localizer["No results found. Please reset your filters and try a different search."]</div>
                        </div>
                    }
                    else
                    {
                        @foreach (var category in productIndexDTO.Caterogies.GroupBy(pi => new { pi.GroupName }).Select(g => g.First()).ToList())
                        {
                            <div class="mb-4">
                                <h4 id="@category.GroupName.Replace(" ","-")">@category.GroupName - @productIndexDTO.Caterogies.Where(x=>x.GroupName==category.GroupName).Sum(s=>s.ProductCount) @Localizer["Items"]</h4>
                                @*<div class="image-container">
                                    <img class="img-fluid" src="@category.ImageFileLink">
                                    </div>*@
                                <hr />
                                <div class="row">
                                    @foreach (var subCategory in productIndexDTO.Caterogies.Where(x => x.GroupName == category.GroupName).Distinct().ToList())
                                    {
                                        <div class="col-6">
                                            <div class="image-container">
                                                <a id="@subCategory.TableName" class="text-underline-hover m-0" href="/product-list/@subCategory.TableName/?@filters">
                                                    <img class="img-maintain-aspect-ratio" src="@subCategory.ImageFileLink">
                                                </a>
                                            </div>
                                            <span class="subCategoryFontStyle">@subCategory.DisplayName <span class="text-muted">- @subCategory.ProductCount @Localizer["Items"]</span> </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <AnchorNavigation />
</LoadingComponent>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }


    SfTextBox textBoxSearchObj;
    SfChip chipSearchObj;

    [Parameter]
    [SupplyParameterFromQuery]
    public bool NewProduct { get; set; } = false;
    [Parameter]
    [SupplyParameterFromQuery]
    public bool RoHsCompliant { get; set; } = false;
    [Parameter]
    [SupplyParameterFromQuery]
    public string[] SearchParameter { get; set; }

    private string filters { get; set; } = "";

    private ProductIndexPageDTO productIndexDTO;
    private bool loading = true;


    private readonly CancellationTokenSource cancellationTokenSource = new();
    private string searchValue;
    private HashSet<string> SearchValues = new HashSet<string>();

    private HttpClient httpClient;

    bool resetButtonDisabled = true;

    private Dictionary<string, object> HtmlAttribute { get; set; } = new Dictionary<string, object>() {
            {"maxlength", "30" }
            };

    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        Logger.LogWarning("Loading");

        SearchValues = SearchParameter.ToHashSet();
        await UpdateProductIndexPageData();
        loading = false;
    }
    public void AddSearchIcon()
    {
        textBoxSearchObj?.AddIconAsync("append", "e-icons e-search");
    }

    private async Task onChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        await UpdateProductIndexPageData();
        resetButtonDisabled = false;
    }

    private async Task UpdateProductIndexPageData()
    {
        string uriWithQueryParameters = NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object>
            {
                ["NewProduct"] = NewProduct,
                ["RoHsCompliant"] = RoHsCompliant,
                ["SearchParameter"] = string.Join(",", SearchValues),
            });

        GenerateFilters();

        NavigationManager.NavigateTo(uriWithQueryParameters);
        var queryParameters = uriWithQueryParameters.Substring(uriWithQueryParameters.IndexOf("?"));
        productIndexDTO = await httpClient.GetFromJsonAsync<ProductIndexPageDTO>($"api/ProductIndex/PageData/{Theme.Id}{queryParameters}", cancellationTokenSource.Token);
        StateService.ProductIndexPageDTO = productIndexDTO;
    }

    private void GenerateFilters()
    {
        filters = "Filters=";
        if (NewProduct)
        {
            filters += "NewProduct_Yes~";
        }
        if (RoHsCompliant)
        {
            filters += "RoHsCompliant_Yes~";
        }
    }

    public async Task OnSearch(Syncfusion.Blazor.Inputs.ChangedEventArgs args)
    {
        if (onReset == false && !string.IsNullOrWhiteSpace(args.Value) && args.Value.Length >= 3)
        {
            SearchValues.Add(args.Value);
            await UpdateProductIndexPageData();
        }
        resetButtonDisabled = false;
    }

    bool onReset = false;
    public async Task OnReset()
    {
        onReset = true;
        SearchValues.Clear();
        chipSearchObj.Chips.Clear();
        SearchParameter = null;
        searchValue = null;
        NewProduct = false;
        RoHsCompliant = false;
        await UpdateProductIndexPageData();
        resetButtonDisabled = true;
        onReset = false;
    }

    private void OnDelete(ChipEventArgs args)
    {
        SearchValues.Remove(args.Text);
    }
    private async Task Deleted(ChipDeletedEventArgs args)
    {
        if (SearchValues.Count == 0)
        {
            await OnReset();
        }
        else
        {
            await UpdateProductIndexPageData();
        }
    }

    public void Dispose()
    {
        cancellationTokenSource?.Cancel();
        cancellationTokenSource?.Dispose();
    }
}