﻿@page "/administrator/AdminHomeModulePage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(HomeModulePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="grid"
                           TValue="@Homepage"
                           OdataUrl="@AdminHelper.OdataHelper.HomepagesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.HomepagesUrl"
                           Toolbar="@(new List<object>() { "Edit" })">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(Homepage.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(Homepage.Type)" AllowEditing="false"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Homepage.Title)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Homepage.Subtitle)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(Homepage.Summary)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(Homepage.Summary)</p>
                            <SfTextBox ID="@nameof(Homepage.Summary)" @bind-Value="@((context as Homepage).Summary)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Homepage.MediaFileLink)" AllowFiltering="false">
                        <Template>
                            @if ((context as Homepage).Type.Equals("FeaturedProduct"))
                            {
                                <ImageColumnTemplateComponent Src="@((context as Homepage).MediaFileLink)" />
                            }
                            else
                            {
                                <YouTubeVideoColumnTemplateComponent Src="@((context as Homepage).MediaFileLink)" />
                            }
                        </Template>
                        <EditTemplate>
                            @if ((context as Homepage).Type.Equals("FeaturedProduct"))
                            {
                                <p>Upload Image</p>
                                <SfUploader ID="UploadFiles" AllowMultiple=false>
                                    <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.Homepage"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                    </UploaderAsyncSettings>
                                    <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as Homepage).MediaFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(Homepage)))">
                                    </UploaderEvents>
                                </SfUploader>
                                <p>Media Link</p>
                                <SfTextBox ID="@nameof(Homepage.MediaFileLink)" @bind-Value="@((context as Homepage).MediaFileLink)" Readonly="true" Multiline="true">
                                </SfTextBox>
                            }
                            else
                            {
                                <p>Video Link (YouTube Embed)</p>
                                <SfTextBox ID="Media" @bind-Value="@((context as Homepage).MediaFileLink)" Readonly="false" Multiline="true">
                                </SfTextBox>
                            }
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn HeaderText="Url Button Link" AutoFit="true" Field="@nameof(Homepage.Url)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as Homepage).Url)" />
                        </Template>
                    </GridColumn>
                    <BrandColumn>
                        <EditTemplate>
                            <p>@nameof(Homepage.Brand)</p>
                            <SfDropDownList ID="Brand" @bind-Value="@((context as Homepage).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </BrandColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    private AdminGridBase<Homepage> grid;
}
