﻿@inject IStringLocalizer<SharedResources> Localizer

<div class="universal-nav-container d-block">
    <div class="universal-nav">
        <div class="sitewide justify-content-center">
            <div class="brothers-brands-bar">
                <div class="brothers-brands-bar--inner">
                    <a class="brand-bar-button--brand-logo brand-logo--cte @(BrandHelper.CTTheme.Id==Theme.Id ?"active-brand":string.Empty)"
                       href="@(BrandHelper.CTTheme.Id==Theme.Id ?"/":"https://www.caltestelectronics.com/")">
                        <img class="logo_cte"
                             src="@BrandHelper.CTTheme.LowResLogoBase64"
                             alt="@BrandHelper.CTTheme.FormattedName @Localizer["logo"]">
                    </a>
                    <a class="brand-bar-button--brand-logo brand-logo--gs @(BrandHelper.GSTheme.Id==Theme.Id ?"active-brand":string.Empty)"
                       href="@(BrandHelper.GSTheme.Id==Theme.Id ?"/":"https://www.globalspecialties.com/")">
                        <img class="logo_gs"
                             src="@BrandHelper.GSTheme.LowResLogoBase64"
                             alt="@BrandHelper.GSTheme.FormattedName @Localizer["logo"]">
                    </a>
                    <a class="brand-bar-button--brand-logo brand-logo--bk @(BrandHelper.BKTheme.Id==Theme.Id ?"active-brand":string.Empty)"
                       href="@(BrandHelper.BKTheme.Id==Theme.Id ?"/":"https://www.bkprecision.com/")">
                        <img class="logo_bk"
                             src="@BrandHelper.BKTheme.LowResLogoBase64"
                             alt="@BrandHelper.BKTheme.FormattedName @Localizer["logo"]">
                    </a>
                </div>
            </div>
            <!--<div class="d-none d-md-block">
                <div class="slogan-table">
                    <div class="slogan-tablecell">
                        <span class="brand-slogan">Your first choice supplier</span>
                    </div>
                </div>
            </div>
            <div>
                <span>Login</span>
            </div>-->
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
