﻿.universal-nav-container {
    height: auto;
}

.universal-nav {
    background-color: rgb(51, 51, 51);
    z-index: 402;
}

.sitewide {
    display: flex;
    height: 3.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.brothers-brands-bar {
    box-sizing: border-box;
    height: inherit;
    width:100%;
}

.brothers-brands-bar--inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 496px;
    height: inherit;
    overflow:auto;
}

@media (min-width:1024px) {
    .brothers-brands-bar {
        width: auto;
    }

    .brothers-brands-bar--inner {
        justify-content: flex-start;
    }
}

.brand-bar-button--brand-logo {
    box-sizing: border-box;
    display: block;
    height: 3.5rem;
    padding: 0.5rem 0.75rem;
}

    .brand-bar-button--brand-logo:active {
        background-color: white;
    }

    .brand-bar-button--brand-logo:hover {
        background-color: rgba(255, 255, 255, 0.75)
    }

.brand-logo--cte {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    padding: 0.725rem 0.9rem;
    max-width: 8.125rem;
    width: 8.125rem;
}

.logo_cte {
    max-height: 2.15rem;
    margin: auto;
    display: block;
    background: white;
    padding: 3px;
    border-radius: 3px;
}

.brand-logo--gs {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    padding: 0.725rem 0.9rem;
    max-width: 8.125rem;
    width: 8.125rem;
}

.logo_gs {
    max-height: 2.15rem;
    margin: auto;
    display: block;
    background: white;
    padding: 3px;
    border-radius: 3px;
}

.brand-logo--bk {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    padding: 0.725rem 0.9rem;
    max-width: 12.125rem;
    width: 12.125rem;
}

.logo_bk {
    max-height: 2.15rem;
    margin: auto;
    display: block;
    background-color: unset;
    padding: 3px;
    border-radius: 3px;
}

.slogan-table {
    display: table;
    height: 3.5rem;
    text-transform: uppercase;
}

.slogan-tablecell {
    color: rgb(255,255,255);
    display: table-cell;
    font-size: 12px;
    line-height: 1.1;
    vertical-align: middle;
}

.brand-slogan {
    background-color: transparent;
    border-width: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.active-brand {
    background-color: rgb(255,255,255);
}
