﻿@inject IStringLocalizer<SharedResources> Localizer


<div id="footer" class="border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h3>@Localizer["Products"]</h3>
                <ul class="list-unstyled">
                    @foreach (string group in Theme.ListOfGroups)
                    {
                        <li><a href="/products">@group</a></li>
                    }
                </ul>
                <h3>@Localizer["Partners"]</h3>
                <ul class="list-unstyled">
                    <li style="height:4rem;width:10rem">
                        <a href="https://www.caltestelectronics.com/" title="Cal Test Electronics">
                            <img class="img-fluid" src="@BrandHelper.CTTheme.LowResLogoBase64" alt="Cal Test Electronics @Localizer["logo"]">
                        </a>
                    </li>
                    <li style="height:4rem;width:10rem">
                        <a href="https://www.globalspecialties.com/" title="Global Specialties">
                            <img class="img-fluid" src="@BrandHelper.GSTheme.LowResLogoBase64" alt="Global Specialties @Localizer["logo"]">
                        </a>
                    </li>
                    <li style="height:4rem;width:10rem">
                        <a href="https://bkprecision.com/" title="BK Precision">
                            <img class="img-fluid" src="@BrandHelper.BKTheme.LowResLogoBase64" alt="BK Precision @Localizer["logo"]">
                        </a>
                    </li>
                </ul>
            </div>

            <!-- .end .column -->
            <div class="col-sm-6 col-md-3">
                <h3><a class="link-unstyled" href="support">@Localizer["Support"]</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/support/service">@Localizer["MyCTE (RMA, Warranty Registration, etc.)"]</a></li>
                    <li><a href="/support/knowledge-base?TypeParameter=Article&PageParameter=1"> @Localizer["Knowledge Base Articles"]</a></li>
                    <li><a href="/support/estimate"> @Localizer["Calibration & Repair Cost Estimation"]</a></li>
                    <li><a href="/support/contact/techsupport"> @Localizer["Contact Technical Support"]</a></li>
                    <li><a href="/support/downloads"> @Localizer["Downloads"]</a></li>
                    <li><a href="/support/service-centers"> @Localizer["Service Centers"]</a></li>
                    <li><a href="/support/service"> @Localizer["Service Form"]</a></li>
                    <li><a href="/support/warranty-information"> @Localizer["Warranty Information"]</a></li>
                    <li><a href="/support/return-policy"> @Localizer["Return Policy"]</a></li>
                    <li><a href="/support/recalls"> @Localizer["Recall Information"]</a></li>

                </ul>
                <h3><a class="link-unstyled" href="support">@Localizer["Insights"]</a></h3>
                <ul class="list-unstyled">
                    <li><a href="/resources">@Localizer["Resources"]</a></li>
                    <li><a href="/support/contact/sales">@Localizer["Contact Sales"]</a></li>
                    <li><a href="/support/knowledge-base?TypeParameter=Article&PageParameter=1">@Localizer["Blog"]</a></li>
                </ul>

            </div>
            <!-- .end .column -->
            <div class="col-sm-6 col-md-3">
                <h3>@Localizer["Legal"]</h3>
                <ul class="list-unstyled">
                    <li><a href="/legal/terms-of-service">@Localizer["Terms of Service"]</a></li>
                    <li><a href="/legal/cookie-policy">@Localizer["Cookie Policy"]</a></li>
                    <li><a href="/legal/privacy-policy">@Localizer["Privacy Policy"]</a></li>
                    <li><a href="/legal/logo-usage">@Localizer["Logo Usage"]</a></li>
                </ul>
                <h3>@Localizer["Contact"]</h3>
                <ul class="list-unstyled">
                    <li><a href="/support/contact-us">@Localizer["Contact Us"]</a></li>
                </ul>
                <h3>@Localizer["Tools"]</h3>
                <ul class="list-unstyled">
                    <li><a href="/distributor-access">@Localizer["Distributor Portal Access"]</a></li>
                    <li><a href="/where-to-buy">@Localizer["Where To Buy"]</a></li>
                    <li><a href="/test-lead-builder">@Localizer["Test Lead Builder"]</a></li>

                </ul>
            </div>

            <div class="col-sm-6 col-md-3">
                <h3>@Localizer["About Us"]</h3>
                <ul class="list-unstyled">
                    <li><a href="/about/about-us">@Localizer["Our History"]</a></li>
                    <li><a href="/resources?TypeParameter=Press%20Release&PageParameter=1&SortParameter=newest">@Localizer["News"]</a></li>
                    <li><a href="/about/iso-certification">@Localizer["ISO Certification"]</a></li>
                    <li><a href="/about/employment">@Localizer["Employment"]</a></li>
                    <li><a href="/about/trade-shows">@Localizer["Trade Shows"]</a></li>
                    <li><a href="/resources?TypeParameter=Company%20Document&PageParameter=1">@Localizer["Company Documents"]</a></li>
                    @*                    <li><a href="/sitemap">Sitemap</a></li>*@
                    <li><a href="/accessibility-statement">@Localizer["Accessibility Statement"]</a></li>

                </ul>
                <!-- .end .column -->
                <h3>@Localizer["Community"]</h3>
                <ul class="social-list">
                    <li>
                        <a href="@Theme.FacebookLink" target="_blank" title="Facebook">
                            <svg height="25px" style="fill:@Theme.PrimaryColor" class="fa-facebook" viewBox="0 0 512 512">
                                <path d="m384 3l0 76-45 0c-17 0-28 3-33 10-6 7-9 17-9 31l0 54 84 0-11 85-73 0 0 216-87 0 0-216-73 0 0-85 73 0 0-62c0-36 10-63 29-83 20-19 47-29 80-29 28 0 49 1 65 3z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="@Theme.YouTubeLink" target="_blank" title="YouTube">
                            <svg height="25px" style="fill: @Theme.PrimaryColor" class="fa-youtube" viewBox="0 0 512 512">
                                <path d="m314 355l0 61c0 12-4 19-11 19-5 0-9-2-13-6l0-86c4-5 8-7 13-7 7 0 11 7 11 19z m97 1l0 13-26 0 0-13c0-13 4-20 13-20 8 0 13 7 13 20z m-276-63l30 0 0-26-89 0 0 26 30 0 0 163 29 0z m82 163l25 0 0-141-25 0 0 108c-6 8-11 12-16 12-4 0-6-2-6-6-1-1-1-4-1-10l0-104-25 0 0 112c0 9 1 16 2 20 2 7 8 11 17 11 9 0 19-6 29-17z m122-42l0-57c0-13 0-23-2-28-3-11-10-16-20-16-10 0-19 5-27 16l0-62-25 0 0 189 25 0 0-14c9 11 17 16 27 16 10 0 17-5 20-16 2-5 2-14 2-28z m97-3l0-4-26 0c0 10 0 16-1 18-1 6-5 10-11 10-9 0-13-7-13-20l0-25 51 0 0-29c0-15-3-26-8-33-7-10-17-15-30-15-13 0-23 5-31 15-5 7-8 18-8 33l0 49c0 15 3 26 9 33 7 10 17 15 31 15 13 0 24-5 30-15 4-5 6-10 6-16 1-1 1-7 1-16z m-174-261l0-60c0-13-4-20-12-20-8 0-12 7-12 20l0 60c0 13 4 20 12 20 8 0 12-7 12-20z m206 215c0 44-3 77-8 100-2 11-8 20-16 28-9 7-18 12-29 13-35 4-88 6-159 6-71 0-124-2-159-6-11-1-20-6-29-13-8-8-14-17-16-28-5-22-8-55-8-100 0-45 3-78 8-100 2-12 8-21 16-29 9-7 18-12 30-13 35-4 87-6 158-6 71 0 124 2 159 6 11 1 20 6 29 13 8 8 14 17 16 29 5 21 8 54 8 100z m-285-365l29 0-35 114 0 77-28 0 0-77c-3-14-9-34-18-61-7-19-13-37-18-53l30 0 20 75z m105 95l0 50c0 16-2 27-8 34-7 10-17 14-30 14-13 0-23-4-30-14-5-7-8-19-8-34l0-50c0-15 3-26 8-33 7-10 17-15 30-15 13 0 23 5 30 15 6 7 8 18 8 33z m96-46l0 142-26 0 0-15c-10 12-20 17-29 17-9 0-15-3-17-10-2-5-3-12-3-22l0-112 26 0 0 105c0 6 1 9 1 10 0 4 2 6 6 6 5 0 10-4 16-12l0-109z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="@Theme.TwitterLink" target="_blank" title="Twitter">
                            <svg height="25px" style="fill: @Theme.PrimaryColor" class="fa-twitter" viewBox="0 0 512 512">
                                <path d="m481 117c-13 18-28 34-46 47 0 3 0 7 0 12 0 25-3 50-11 74-7 25-18 49-33 71-14 23-32 43-52 61-21 17-45 31-74 41-29 11-60 16-92 16-52 0-99-14-142-42 7 1 14 2 22 2 43 0 81-14 115-40-20 0-38-6-54-18-16-12-27-27-33-46 7 1 13 2 18 2 8 0 16-1 24-4-21-4-39-15-53-31-14-17-21-37-21-59l0-1c13 7 27 11 42 11-13-8-23-19-30-32-8-14-11-29-11-44 0-17 4-33 12-47 23 28 51 51 84 68 33 17 69 27 107 29-2-8-3-15-3-22 0-25 9-47 27-65 18-18 40-27 66-27 26 0 49 10 67 29 21-4 40-11 59-22-7 22-21 39-41 51 18-2 35-7 53-14z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="@Theme.LinkedInLink" target="_blank" title="LinkedIn">
                            <svg height="25px" style="fill: @Theme.PrimaryColor" class="fa-linkedin" viewBox="0 0 512 512">
                                <path d="m136 179l0 283-94 0 0-283z m6-88c0 14-4 26-14 35-10 9-23 14-39 14l0 0c-16 0-29-5-38-14-10-9-14-21-14-35 0-14 4-26 14-35 10-9 23-14 39-14 16 0 28 5 38 14 9 9 14 21 14 35z m333 208l0 163-94 0 0-152c0-20-3-35-11-47-8-11-20-17-36-17-12 0-22 4-30 10-9 7-15 15-19 25-2 5-3 13-3 23l0 158-94 0c1-76 1-138 1-185 0-47 0-76 0-85l-1-13 94 0 0 41 0 0c4-6 7-12 11-16 4-5 10-10 17-15 6-5 15-10 24-13 10-3 21-4 33-4 33 0 59 11 79 32 20 22 29 54 29 95z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <span>&copy; @DateTime.Now.Year - <a class="text-muted" href="/">@Theme.FormattedName</a></span>


    </div>
</div>

<style>
    #footer {
        border-top: 1px solid #a4a1a9;
        background-color: #e5e7eb;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }

        #footer h3 {
            color: #9ca3af;
            text-transform: uppercase;
            font-size: 0.875rem;
            line-height: 1.25rem;
            letter-spacing: 0.05rem;
        }

        #footer a {
            color: #6b7280;
            font-size: 1rem;
            line-height: 1.5rem;
            text-decoration: none;
        }

    .social-list {
        margin: 0;
        padding: 0;
    }

        .social-list li {
            display: inline;
        }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}