﻿@using System.Timers;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject IStringLocalizer<SharedResources> Localizer

@implements IDisposable
<LoadingComponent IsLoading="@loading">
    <div class="quick-search-section-container flex-fill">
        <div class="quick-search-section">
            <input name="Searchbox" autocomplete="off" @bind="@searchString" @bind:event="oninput" @onkeyup="@ResetTimer" maxlength="30" type="text" @onkeydown="@Enter" placeholder="@Localizer["Search"] @Theme.ApexDomain" />
            <button class="fa fa-search button-color-@Theme.Id" type="submit" @onclick="@Click"></button>
        </div>
        <ul class="quick-search-results shadow-sm border" style="display:@(showSearchResults?"block":"hidden");">
            @if (searchData.Count <= 0)
            {
                <span>@Localizer["No results to show."]</span>
            }

            @foreach (var item in searchData)
            {
                <li class="quick-search-results-item">
                    <div class="d-flex">
                        <div class="col-3 m-auto">
                            <a href="@item.UrlLink" target="@(item.OpenNewTab?"_blank":"_self")" @onclick="@(()=>showSearchResults=false)">
                                <div class="img-container-w100-h100px">
                                    <img class="img-maintain-aspect-ratio" src="@item.ThumbnailLink">
                                </div>
                            </a>
                        </div>
                        <div class="col-9 m-auto">
                            <span class="quick-search-result-item-type">@item.ResourceType</span>
                            <h4><a class="text-color-@Theme.Id" target="@(item.OpenNewTab?"_blank":"_self")" @onclick="@(()=>showSearchResults=false)" href="@item.UrlLink">@item.Title</a></h4>
                            <div class="quick-search-result-item-desc">@item.Description</div>
                            <div class="quick-search-result-item-footer-wrapper">
                                <p>
                                    Date: @item.CreatedDate.ToLongDateString()
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            }
            <div style="position:absolute;right:4px;top:4px;">
                <button type="button" class="btn button-color-@Theme.Id" @onclick="@ButtonCloseClick">X</button>
            </div>
            <div class="show-all-results-section">
                <a class="btn button-color-@Theme.Id" @onclick="ExecuteSearch">@Localizer["Show all results"] →</a>
            </div>
        </ul>
    </div>
</LoadingComponent>



<style>
    .quick-search-section-container {
        position: relative;
    }

    .quick-search-section {
        display: flex;
    }

        .quick-search-section input {
            padding-left: 12px;
            height: 45px;
            width: 100%;
        }

        .quick-search-section button {
            width: 45px;
            color: white;
        }

    .quick-search-results {
        display: none;
        background-color: white;
        z-index: 1000;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        padding: 5px;
        min-height: 100px;
        padding-bottom: 48px;
    }

    .show-all-results-section {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        text-align: center;
    }

    .quick-search-results-wrapper {
        box-sizing: border-box;
        flex: 0 75%;
        padding: 0 1.5rem;
    }

        .quick-search-results-wrapper li h4 {
            margin-bottom: .625rem;
            margin-top: .625rem;
            font-size: 1.25rem;
        }

    .quick-search-results-list {
        padding: 0;
    }

        .quick-search-results-list ul {
            list-style-type: disc;
        }

        .quick-search-results-list li {
            margin: 2rem 0;
            list-style: none;
        }

    .quick-search-results-item {
        border-bottom: 1px solid #edecee;
    }

        .quick-search-results-item img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

    .quick-search-result-item-type {
        font-size: .875rem;
        color: #999;
        font-weight: 700;
    }

    .quick-search-result-item-desc {
        margin-bottom: .9375rem;
    }

    .quick-search-result-item-footer-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

        .quick-search-result-item-footer-wrapper p {
            flex-grow: 1;
            margin: 0;
            text-align: right;
            font-style: normal;
            font-weight: 300;
            color: #1b2935;
            font-size: .9375rem;
        }
</style>

@code {

    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private string searchString;
    private HttpClient httpClient;

    private bool loading = true;
    List<ResourceDTO> searchData = new();
    private bool showSearchResults = false;
    private string searchBaseUrl = "search?PageParameter=1&SearchParameter=";


    private Timer timer = default;

    protected override void OnInitialized()
    {
        loading = true;
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        timer = new Timer(800);
        timer.Elapsed += OnUserFinish;
        timer.AutoReset = false;
        loading = false;

    }

    private void ResetTimer(KeyboardEventArgs e)
    {
        timer.Stop();
        timer.Start();
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            ExecuteSearch();
        }
    }

    private void Click()
    {
        ExecuteSearch();
    }

    private void ButtonCloseClick()
    {
        showSearchResults = false;
    }
    public void ExecuteSearch()
    {
        searchString ??= string.Empty;
        string url = $"{searchBaseUrl}{searchString.Trim()}";
        NavigationManager.NavigateTo(url, false, false);
        searchString = string.Empty;
        showSearchResults = false;
    }

    private async void OnUserFinish(object source, ElapsedEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(searchString))
        {
            showSearchResults = false;
            return;
        }

        searchData = await httpClient.GetFromJsonAsync<List<ResourceDTO>>($"api/Resource/QuickSearch/{Theme.Id}/?SearchParameter={searchString.Trim()}");
        showSearchResults = true;
        await InvokeAsync(StateHasChanged);

    }



    public void Dispose()
    {
        timer?.Dispose();
    }

}