﻿@inherits LayoutComponentBase
<main>
    <div class="bottom-row px-4">
    <CultureSelector />
</div>
</main>

<div class="page">
    <div class="sidebar">
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/culture-example-1" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> culture-example-1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/culture-example-2">
                <span class="oi oi-plus" aria-hidden="true"></span> culture-example-2
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="/file-upload-1">
                <span class="oi oi-plus" aria-hidden="true"></span> file-upload-1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
        private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}