﻿@page "/support/contact-us"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Contact Us"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Contact Us"] @Localizer["page"]">
</HeadContent>

<div id="main-menu" class="bg-light">
    <div class="container content justify-content-center">
        <h1>@Localizer["Contact Us"]</h1>
        <div class="row p-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact/sales" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["Contact Sales"]</h2>
                        <p class="card-text">@Localizer["Use our form to make a sales inquiry."]</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact/techsupport" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["Technical Support"]</h2>
                        <p class="card-text">@Localizer["Get answers to technical, or other questions related to documentation & parts."]</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/support/contact/other" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["General Requests"]</h2>
                        <p class="card-text">@Localizer["Contact us using our form to get answers to general questions."]</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    #main-menu {
        min-height:inherit;
    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
