﻿@page "/support/downloads"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Support Downloads & Links"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Support Downloads & Links"] @Localizer["page"]">
</HeadContent>

<div class="container content">
    <DevelopmentNoticeComponent />

    <div class="row">
        <h1>@Localizer["Support Downloads & Links"]</h1>
        <p>
            @(new MarkupString(Localizer["downloads_page_message", Theme.Name]))
        </p>
    </div>
</div>


@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
