﻿@page "/support/recalls"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Recall Information"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Recall Information"] @Localizer["page"]">
</HeadContent>


<div class="container content">
    <h1>@Theme.Name @Localizer["Product Recalls"]</h1>
    <p>@Theme.Name @Localizer["has announced a recall on the product (s) identified below, Information on each recalled product, and the steps you should take if you own such a product, are available within each specific recall notice page."]</p>
    <ul>
        <li><i>@Localizer["No products recalled at this time"]</i></li>
    </ul>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
