﻿@page "/support/return-policy"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Return Policy"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Return Policy"] @Localizer["page"]">
</HeadContent>


<div class="container content">
    <h1>@Localizer["Return Policy"]</h1>
    @(new MarkupString(Localizer["return_policy_message", Theme.Name]))
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
