﻿@page "/support/service-centers"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Service Centers"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Service Centers"] @Localizer["page"]">
</HeadContent>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid border" src="@Theme.SecondaryBackgroundImageFileLink" alt="">

        </div>
        <div class="col-md-6">
            <h1>@Localizer["Service Centers"]</h1>
            <h5 class="mb-0">@Localizer["Corporate Headquarters"]</h5>
            <h5 class="mb-0">@Theme.Name</h5>
            <span>
                22820 Savi Ranch Pkwy #4610
                <br />
                Yorba Linda, CA 92887
            </span>
            <br />
            <span><strong>Phone:</strong> (714) 221-9330</span>
        </div>
    </div>

</div>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
