﻿@page "/support"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Support Tools"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Support Tools"] @Localizer["page"]">
</HeadContent>

<Jumbotron Title="@Localizer["Support Tools"]"
           Subtitle="@($"{Localizer["Find answers to questions across"]} {Theme.Name}.")"
           ImageLink="https://as.caltestelectronics.com/public/images/homepage/knowledge_image.svg">
</Jumbotron>

<div id="main-menu" style="background-color: @Theme.SecondaryColor;">
    <div class="container justify-content-center">
        <div class="row p-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/knowledge-base?TypeParameter=Article&PageParameter=1" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/knowledge_image.svg" alt="@Localizer["alt_image_with_parameter",Localizer["Knowledge Base"]]">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["Knowledge Base"]</h2>
                        <p class="card-text">@Localizer["Browse help articles and how-to guides authored by our staff."]</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact-us" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/contact_image.svg" alt="@Localizer["alt_image_with_parameter",Localizer["Contact Us"]]">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["Contact Us"]</h2>
                        <p class="card-text">@Localizer["Contact us using our form to get answers to sales, technical, or other questions."]</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/support/service" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/service_image.svg" alt="@Localizer["alt_image_with_parameter",Localizer["Service Form"]]">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">@Localizer["Service Form"]</h2>
                        <p class="card-text">@Localizer["Fill out our service form to request calibration or repair. (RMA Form Request)"]</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .card-img-top {
        height: 200px;
        padding-top: 1rem;
    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}