﻿@page "/support/estimate"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger
@inject IStringLocalizer<SharedResources> Localizer


<PageTitle>@Localizer["Calibration and Repair Cost Estimation"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Calibration and Repair Cost Estimation"] @Localizer["page"]">
</HeadContent>

<div class="container content">
    <DevelopmentNoticeComponent />
    <h1>@Localizer["Calibration and Repair Cost Estimation"]</h1>
    @(new MarkupString(Localizer["support_estimate_message", @Theme.Name]))
</div>


@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
