﻿@page "/support/warranty-information"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Warranty Information"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["Warranty Information"] @Localizer["page"] ">
</HeadContent>

<div class="container content">
    <h1>@Localizer["Warranty Information"]</h1>
    <p>
        @(new MarkupString(Localizer["warranty_information_message", @Theme.Name]))
    </p>
</div>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
