﻿@inject IStringLocalizer<SharedResources> Localizer


<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <a class="navbar-brand" href=""><img style="height:3.5rem" src="@Theme.LowResLogoBase64" alt="@Theme.FormattedName @Localizer["logo"]"></a>
            <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-none d-lg-block collapse navbar-collapse @NavBarCssClass justify-content-end gap-4">
                <SearchBar />

                <div class="d-flex flex-row align-items-start gap-4 justify-content-start">
                    <LoginDisplay />
                    <CultureSelector />
                </div>
            </div>

        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-1">
            <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse">
                <div class="d-lg-none">
                    <SearchBar />
                </div>
                <ul class="navbar-nav mb-2 mb-md-0" @onclick="ToggleNavMenu">
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link" href="/products">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_Products"] <i class="fa fa-caret-down"></i>
                        </NavLink>
                        @*<div class="dropdown-content">
                            <ul class="list-unstyled">
                            @foreach (string group in Theme.ListOfGroups)
                            {
                            <li><a class="link-unstyled" href="/products">@group</a></li>
                            }
                            </ul>
                            </div>*@
                    </li>
                    <li class="nav-item dropdown">
                        <NavLink class="nav-link" href="where-to-buy">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_WhereToBuy"]   <i class="fa fa-caret-down"></i>
                        </NavLink>
                        @*<div class="dropdown-content">
                            <ul class="list-unstyled">
                            <li><a class="link-unstyled" href="#">Refurbished Products</a></li>
                            <li><a class="link-unstyled" href="#">Promo for Education</a></li>
                            <li><a class="link-unstyled" href="https://www.bkprecision.com/wtb/global-specialties-training-solutions">International Sales</a></li>
                            </ul>
                            </div>*@
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/resources?TypeParameter=Press%20Release&PageParameter=1&SortParameter=newest">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_ProductReleases"]
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="test-lead-builder">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_TestLeadBuilder"]
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="resources">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_Resources"]
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="support">
                            <span aria-hidden="true"></span> @Localizer["NavMenu_Support"]
                        </NavLink>
                    </li>

                </ul>
                <div class="d-lg-none mt-2">
                    <LoginDisplay />
                </div>
                <div class="d-lg-none mt-4 mb-4">
                    <CultureSelector />
                </div>
            </div>
        </nav>
    </div>
</div>

<style>
    .nav-item {
        font-weight: 500;
        letter-spacing: 1px;
    }

    li.nav-item:hover {
        background-color: rgb(192, 192, 192);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100%;
        left: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content li {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

            .dropdown-content li:hover {
                background-color: rgb(192, 192, 192);
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private bool collapseNavMenu = true;
    private string NavBarCssClass => collapseNavMenu ? null : "show";
    private string NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    string MyClass { get; set; }
    void MouseOver(Microsoft.AspNetCore.Components.Web.MouseEventArgs e) { MyClass = "over"; }
    void MouseOut(Microsoft.AspNetCore.Components.Web.MouseEventArgs e) { MyClass = ""; }
}
