﻿
body {
    /*background-color: #f7f9fb;*/
    background-color: #fff;
    color: #333;
    text-rendering: optimizeLegibility;
}

.body {
    min-height: 50vh;
}



    .body .container {
    }

        .body .container.content, .container-fluid.content {
            padding-top: 2.1rem;
            padding-bottom: 2.1rem;
        }

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}


a {
    color: #0366d6;
}

    a:hover {
        color: black;
    }

a {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.5s ease;
}

p.card-text {
    color: #333;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

    .mask * {
        color: white;
    }



.all-text-white:has(h1,h2,h3,h4,h5,p) {
    color: white;
}

h1.title {
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
}

h2.subtitle {
    color: #fff;
    font-weight: 300;
}

.img-container {
    width: 200px;
    height: 100px;
}

.img-container-w100-h100px{
    width:100%;
    height:100px;
}

.img-container-square{
    width:100px;
    height:100px;
}


.image-container {
    width: 150px;
    height: 150px;
    border: solid 1px black;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.error-text {
    color: red;
}

.solid-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display: inline-block;
}

::selection {
    background-color: rgba(221, 238, 255, 0.8);
}

::selection {
    text-shadow: none;
}

.flexblock {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

    .flexblock li, .flexblock.blink li > a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        padding: 2.4rem;
        position: relative;
    }

@media (min-width: 600px) {
    .flexblock li {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .flexblock li {
        width: 25%;
    }
}


/* webslides styling */


h1 + h1 {
    margin-top: .8rem;
}

h1 + h2 {
    margin-top: .8rem;
}

h1 + h3 {
    margin-top: .8rem;
}

h1 + h4 {
    margin-top: .8rem;
}

h1 + h5 {
    margin-top: .8rem;
}

h1 + h6 {
    margin-top: .8rem;
}

h2 + h1 {
    margin-top: .8rem;
}

h2 + h2 {
    margin-top: .8rem;
}

h2 + h3 {
    margin-top: .8rem;
}

h2 + h4 {
    margin-top: .8rem;
}

h2 + h5 {
    margin-top: .8rem;
}

h2 + h6 {
    margin-top: .8rem;
}

h3 + h1 {
    margin-top: .8rem;
}

h3 + h2 {
    margin-top: .8rem;
}

h3 + h3 {
    margin-top: .8rem;
}

h3 + h4 {
    margin-top: .8rem;
}

h3 + h5 {
    margin-top: .8rem;
}

h3 + h6 {
    margin-top: .8rem;
}

h4 + h1 {
    margin-top: .8rem;
}

h4 + h2 {
    margin-top: .8rem;
}

h4 + h3 {
    margin-top: .8rem;
}

h4 + h4 {
    margin-top: .8rem;
}

h4 + h5 {
    margin-top: .8rem;
}

h4 + h6 {
    margin-top: .8rem;
}

h5 + h1 {
    margin-top: .8rem;
}

h5 + h2 {
    margin-top: .8rem;
}

h5 + h3 {
    margin-top: .8rem;
}

h5 + h4 {
    margin-top: .8rem;
}

h5 + h5 {
    margin-top: .8rem;
}

h5 + h6 {
    margin-top: .8rem;
}

h6 + h1 {
    margin-top: .8rem;
}

h6 + h2 {
    margin-top: .8rem;
}

h6 + h3 {
    margin-top: .8rem;
}

h6 + h4 {
    margin-top: .8rem;
}

h6 + h5 {
    margin-top: .8rem;
}

h6 + h6 {
    margin-top: .8rem;
}


.embed {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.6%;
    padding-bottom: 75%;
    position: relative;
}

    .embed iframe {
        height: 100%;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

iframe {
    max-width: 100%;
}

iframe {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.label-required {
    font-weight: 700;
}

.text-cols {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4.8rem;
    column-gap: 4.8rem;
    text-align: left;
}

    .text-cols p:first-child:first-letter {
        float: left;
        font-size: 11rem;
        font-weight: 600;
        line-height: 1;
        margin: -.4rem 1.6rem 0 0;
        padding: 0;
        text-transform: uppercase;
    }


.img-maintain-aspect-ratio {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.jumbotron-image-container {
    width: 500px;
    height: 400px;
}

@media (max-width: 1060px) {
    .jumbotron-image-container {
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .jumbotron-image-container {
        width: 200px;
        height: 200px;
    }
}