﻿@inject HttpClient Http
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Layouts.NoLayout)">
                <Authorizing>
                   <IndeterminateProgressBar/>
                </Authorizing>

                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <LayoutView Layout="@typeof(Shared.Layouts.MainLayout)">
                            <p class="text-center display-3 p-5">You are not authorized to access this resource.</p>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Shared.Layouts.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
       
    </Router>
</CascadingAuthenticationState>
@code {
    private async Task OnNavigateAsync(NavigationContext context)
    {
        if (context.Path == "/about") 
        {
            //var stats = new Stats = { Page = "/about" };
            //await Http.PostAsJsonAsync("api/visited", stats, 
            //    context.CancellationToken);
        }
        else if (context.Path == "/store")
        {
            //var productIds = [345, 789, 135, 689];

            //foreach (var productId in productIds) 
            //{
            //    context.CancellationToken.ThrowIfCancellationRequested();
            //    Products.Prefetch(productId);
            //}
        }
    }
     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await JS.InvokeVoidAsync(
            //    "setElementText1", divElement, "Text after render");
        }
    }
}

<NavigationTracker />
<AnchorNavigation />

