﻿@page "/administrator/AdminBarcodePage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime js
@inject IToastService ToastService

<PageTitle>@nameof(BarcodePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1>Barcode Generator</h1>
            <span>Barcode Type</span>
            <SfDropDownList TItem="string" TValue="string" @bind-Value="dropDownSelection" DataSource="dropDownList">
                <DropDownListEvents TItem="string" TValue="string"></DropDownListEvents>
            </SfDropDownList>
            <span>Display Text</span>
            <SfTextBox @bind-Value="BarcodeDisplayText"></SfTextBox>
            <span>Content</span>
            <SfTextBox @bind-Value="@BarcodeValue" Multiline="true"></SfTextBox>
            <div class="row">
                @if (dropDownSelection == "QR Code" || dropDownSelection == "Data Matrix")
                {
                    <div class="col-6">
                        <span>Width</span>
                        <SfNumericTextBox @bind-Value="Width" Min="200" Max="1920"></SfNumericTextBox>
                    </div>
                    <div class="col-6">
                        <span>Height</span>
                        <SfNumericTextBox Enabled="false" @bind-Value="Width" Min="200" Max="1920"></SfNumericTextBox>
                    </div>
                }
                else
                {
                    <div class="col-6">
                        <span>Width</span>
                        <SfNumericTextBox @bind-Value="Width" Min="200" Max="1920"></SfNumericTextBox>
                    </div>
                    <div class="col-6">
                        <span>Height</span>
                        <SfNumericTextBox @bind-Value="Height" Min="200" Max="1920"></SfNumericTextBox>
                    </div>
                }

            </div>
            <div class="pt-2">
                <SfButton Content="Generate"></SfButton>
                <SfButton Content="Export" OnClick="OnExport"></SfButton>

            </div>
            <div class="pt-2">
                <span>Notes:</span>
                <ul>
                    <li><p>Barcode 39 is used by Digi-Key labels</p></li>
                    <li><p>Barcode 39 only supports letters, digits, and dashes (-)</p></li>
                    <li>
                        <p>Data Matrix content must match exactly to product the same data visualization. This includes spaces, tabs, and carriage returns</p>
                    </li>
                    <li><p>For example: "Hi my name is&nbsp;&nbsp;Mason." is not the same as "Hi my name is Mason."</p></li>
                    <li><p>Digi-key date code 9DyyMM an example is "9D2111". 9D is the prefix field from the Packing Slip.</p></li>
                    <li><p>UPC A is 11 digits.</p></li>

                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <h1>Results</h1>
            <div class="overflow-auto">
                @if (dropDownSelection == "QR Code")
                {
                    <SfQRCodeGenerator @ref="QRcode" Width="@Width.ToString()" Height="@Width.ToString()" OnValidationFailed="@OnValidationFailed" Value="@BarcodeValue">
                        <QRCodeGeneratorDisplayText Text="@BarcodeDisplayText"></QRCodeGeneratorDisplayText>
                    </SfQRCodeGenerator>
                }
                else if (dropDownSelection == "Data Matrix")
                {
                    <SfDataMatrixGenerator @ref="SfDataMatrixGenerator" Width="@Width.ToString()" Height="@Width.ToString()" OnValidationFailed="@OnValidationFailed" Value="@BarcodeValue">
                        <DataMatrixGeneratorDisplayText Text="@BarcodeDisplayText"></DataMatrixGeneratorDisplayText>
                    </SfDataMatrixGenerator>
                }
                else if (dropDownSelection == "Barcode Code39")
                {
                    <SfBarcodeGenerator @ref="SfBarcodeGenerator" Width="@Width.ToString()" Height="@Height.ToString()" OnValidationFailed="@OnValidationFailed" Type="@BarcodeType.Code39" Value="@BarcodeValue">
                        <BarcodeGeneratorDisplayText Text="@BarcodeDisplayText"></BarcodeGeneratorDisplayText>
                    </SfBarcodeGenerator>
                }
                else if (dropDownSelection == "Barcode UpcA")
                {
                    <SfBarcodeGenerator @ref="SfBarcodeGenerator" Width="@Width.ToString()" Height="@Height.ToString()" OnValidationFailed="@OnValidationFailed" Type="@BarcodeType.UpcA" Value="@BarcodeValue">
                    </SfBarcodeGenerator>
                }
                else
                {
                    <div><p>Select a barcode type from the drop down list.</p></div>
                }
            </div>
        </div>
    </div>
</div>


@code {
    public string BarcodeValue = "07578164125";
    private string _barcodeDisplayText = "07578164125";
    public string BarcodeDisplayText
    {
        get
        {
            return _barcodeDisplayText;
        }
        set
        {
            if (string.IsNullOrEmpty(value))
            {
                _barcodeDisplayText = " ";
            }
            else
            {
                _barcodeDisplayText = value.Trim();
            }
        }
    }

    public int Width = 200;
    public int Height = 200;

    SfQRCodeGenerator QRcode;
    SfDataMatrixGenerator SfDataMatrixGenerator;
    SfBarcodeGenerator SfBarcodeGenerator;

    List<string> dropDownList = new List<string>() { "QR Code", "Data Matrix", "Barcode Code39", "Barcode UpcA" };
    string dropDownSelection = "QR Code";

    public async Task OnValidationFailed(ValidationFailedEventArgs args)
    {
        await ToastService.ShowCustomToastAsync(new ToastModel { Title = "Error!", Content = "Unsupported input for this barcode type.\n" + args.Message, CssClass = "e-toast-warning", Timeout = 5000 });
    }



    private async void OnExport()
    {
        string base64image = null;
        if (dropDownSelection == "QR Code")
        {
            base64image = await QRcode.ExportAsBase64Image(BarcodeExportType.PNG);
        }
        else if (dropDownSelection == "Data Matrix")
        {
            base64image = await SfDataMatrixGenerator.ExportAsBase64Image(BarcodeExportType.PNG);
        }
        else if (dropDownSelection == "Barcode Code39")
        {
            base64image = await SfBarcodeGenerator.ExportAsBase64Image(BarcodeExportType.PNG);
        }
        else if (dropDownSelection == "Barcode UpcA")
        {
            base64image = await SfBarcodeGenerator.ExportAsBase64Image(BarcodeExportType.PNG);
        }
        if (base64image != null)
        {
            base64image = base64image.Substring(base64image.IndexOf("base64,") + 7);
            await ClientHelper.FileUtil.SaveAs(js, dropDownSelection.Replace(" ", string.Empty) + ".png", Convert.FromBase64String(base64image));
        }
    }
}
