﻿.brand-card {
    width: 50%;
    border-radius: 10%;
    width: 18rem;
}

.brand-card-body {
    background-color: rgba(0, 0, 0, .03);
}

.brand-card-footer {
    background-color: unset;
}

.brand-outer-container {
    max-width: 18rem;
    margin-top: 5rem;
}
