﻿@page "/administrator/AdminAuthorizedDistributorPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(AuthorizedDistributorPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@AuthorizedDistributor"
                           OdataUrl="@AdminHelper.OdataHelper.AuthorizedDistributorsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.AuthorizedDistributorsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(AuthorizedDistributor.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.CustomerId)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.Name)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.LogoImageFileLink)">
                        <Template>
                            @{
                                var ad = (context as AuthorizedDistributor);
                                <ImageColumnTemplateComponent Src="@ad.LogoImageFileLink" />
                            }
                        </Template>
                        <EditTemplate>
                            <p>Upload Image</p>
                            <SfUploader ID="UploadFiles" AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.AuthorizedDistributor"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as AuthorizedDistributor).LogoImageFileLink = SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(AuthorizedDistributor)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>@nameof(AuthorizedDistributor.LogoImageFileLink)</p>
                            <SfTextBox ID="@nameof(AuthorizedDistributor.LogoImageFileLink)" @bind-Value="@((context as AuthorizedDistributor).LogoImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.City)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.State)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.Country)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.Phone)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.TollFreePhone)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.Contact)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.WebsiteUrl)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as AuthorizedDistributor).WebsiteUrl)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.WebsiteUrlGs)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as AuthorizedDistributor).WebsiteUrlGs)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.AccountType)">
                        <EditTemplate>
                            <p>@nameof(AuthorizedDistributor.AccountType)</p>
                            <SfDropDownList ID="@nameof(AuthorizedDistributor.AccountType)" @bind-Value="@((context as AuthorizedDistributor).AccountType)" DataSource="@accountTypeEditParams">
                            </SfDropDownList>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(AuthorizedDistributor.Brand)">
                        <EditTemplate>
                            <p>@nameof(AuthorizedDistributor.Brand)</p>
                            <SfDropDownList ID="@nameof(AuthorizedDistributor.Brand)" @bind-Value="@((context as AuthorizedDistributor).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>
<style>
    .img2 {
        align-self: center;
    }

    .image2 {
        display: flex;
        align-content: center;
        height: 70px;
        width: 80px;
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
    }
</style>

@code {
    private AdminGridBase<AuthorizedDistributor> grid;
    private List<string> accountTypeEditParams = new List<string> { "national", "international" };
}
