﻿@page "/administrator/AdminDistributorStockPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(DistributorStockPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase TValue="@DistributorStock"
                           OdataUrl="@AdminHelper.OdataHelper.DistributorStocksUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.DistributorStocksUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(DistributorStock.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(DistributorStock.CustomerId)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(DistributorStock.PartNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(DistributorStock.Quantity)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(DistributorStock.WebsiteUrl)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as DistributorStock).WebsiteUrl)" />
                        </Template>
                    </GridColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {

}
