﻿@page "/administrator/AdminUsersPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(UsersPage) - Admin Modules</PageTitle>

<div class="container">
    <div>
        <p class="mb-0"><b>Notes:</b> You need to verify the steps below to ensure a distributor account is properly setup.</p>
        <ol>
            <li>User register and are preauthorized automatically using the domain in their email. To add more domains use the Authorized Distributor Domain module.</li>
            <li>For domains that are public such as .edu, gmail.com, or live.com. Set role as Distributor and set the CustomerId, manually.</li>
        </ol>
    </div>
    <LoadingComponent IsLoading="@loading">
        <AdminGridBase @ref="grid"
                       TValue="@User"
                       SortField="@nameof(User.Email)"
                       DataSource="@users"
                       SelectedRowIndex="0"
                       Toolbar="@(new List<object>() {"Edit", "Delete" })">
            <ChildContent>
                <GridEvents TValue="@User"
                            OnActionBegin="@BeginHandler"
                            OnActionFailure="@grid.ActionFailure"
                            OnActionComplete="@CompleteHandler">
                </GridEvents>
            </ChildContent>
            <AdditionalColumns>
                <GridColumn AllowEditing="@false" AutoFit="@true" Field="@nameof(User.Id)" IsPrimaryKey="true"></GridColumn>
                <GridColumn AllowEditing="@false" AutoFit="@true" Field="@nameof(User.Email)"></GridColumn>
                <GridColumn AllowEditing="@true" AutoFit="@true" Field="@nameof(User.GivenName)"></GridColumn>
                <GridColumn AllowEditing="@true" AutoFit="@true" Field="@nameof(User.Surname)"></GridColumn>
                <GridColumn AllowEditing="@false" AutoFit="@true" Field="@nameof(User.DisplayName)"></GridColumn>
                <GridColumn AllowEditing="@true" AutoFit="@true" Field="@nameof(User.Role)">
                    <EditTemplate>
                        <p class="mb-0">Role</p>
                        <SfDropDownList ID="Role" @bind-Value="@((context as User).Role)" TItem="string" TValue="string" DataSource="@RoleEditParams">
                        </SfDropDownList>
                    </EditTemplate>
                </GridColumn>
                <GridColumn AllowEditing="true" AutoFit=true Field="@nameof(User.CustomerId)"></GridColumn>
                <GridColumn AllowEditing="true" AutoFit=true Field="@nameof(User.CompanyName)"></GridColumn>
            </AdditionalColumns>
        </AdminGridBase>
    </LoadingComponent>
</div>
@code {
    List<string> RoleEditParams = new List<string> { "Visitor", "Distributor", "Administrator" };

    private bool loading = true;
    private AdminGridBase<User> grid;
    List<User> users = new List<User>();
    HttpClient httpClient;
    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        users = await httpClient.GetFromJsonAsync<List<User>>("api/Users");
        loading = false;
    }


    public async Task BeginHandler(ActionEventArgs<User> actionEventArgs)
    {
        if (actionEventArgs.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit)
        {
            Console.WriteLine("BeginEdit");
        }

        if (actionEventArgs.RequestType == Syncfusion.Blazor.Grids.Action.Save && actionEventArgs.Action == "Edit")
        {
            actionEventArgs.Data.DisplayName = actionEventArgs.Data.GivenName + " " + actionEventArgs.Data.Surname;
            var response = await httpClient.PostAsJsonAsync<User>("api/Users", actionEventArgs.Data);
            if (response.IsSuccessStatusCode)
            {
                await grid.CloseEdit();
            }
        }
        if (actionEventArgs.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            var response = await httpClient.DeleteAsync($"api/Users/{actionEventArgs.Data.Id}");
            if (response.IsSuccessStatusCode)
            {
                users.Remove(actionEventArgs.Data);
            }
        }
    }

    public async Task CompleteHandler(ActionEventArgs<User> Args)
    {
        if (Args.Action == "Save")
        {
            users = await httpClient.GetFromJsonAsync<List<User>>("api/Users");
            grid.sfGrid.Refresh();
        }
    }

}
