﻿@using Syncfusion.Blazor.Grids
@typeparam TValue
@inherits SfGrid<TValue>

<SfGrid @ref="@sfGrid" TValue="@TValue"
        AllowFiltering="true"
        AllowPaging="true"
        AllowSorting="true"
        Toolbar="@AdminHelper.DefaultDatagridToolbarItems"
        ContextMenuItems="@AdminHelper.DefaultDatagridContextMenuList"
        @attributes="props">
    <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.Menu">
    </GridFilterSettings>
    <GridEvents TValue="@TValue"
                OnActionBegin="@BeginHandler"
                OnActionComplete="@ActionCompleteHandler"
                OnActionFailure="@ActionFailure">
    </GridEvents>
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="@SortField"
                            Direction="@SortDirection.Descending">
            </GridSortColumn>
        </GridSortColumns>
    </GridSortSettings>
    <GridSelectionSettings CheckboxOnly="@true"
                           Type="@Syncfusion.Blazor.Grids.SelectionType.Single">
    </GridSelectionSettings>
    <GridEditSettings Dialog="@AdminHelper.DefaultDialogParameters"
                      AllowAdding="@true"
                      AllowDeleting="@true"
                      AllowEditing="@true"
                      ShowDeleteConfirmDialog="@true"
                      AllowEditOnDblClick="@false"
                      Mode="@EditMode.Dialog">
    </GridEditSettings>
    @if (DataSource == null)
    {
        <SfDataManager @ref="@DM"
                   Headers="@AdminHelper.DefaultHeaderData"
                   Url="@OdataUrl"
                   BatchUrl="@OdataBatchUrl"
                   Adaptor="@Adaptors.ODataV4Adaptor"
                   CrossDomain="true">
        </SfDataManager>
    }
    <GridPageSettings PageCount="PAGE_COUNT" PageSize="DEFAULT_PAGE_SIZE" PageSizes="PageSizes"></GridPageSettings>
    <GridColumns>
        <GridColumn Type="@ColumnType.CheckBox" Width="50">
            <HeaderTemplate>
            </HeaderTemplate>
        </GridColumn>
        @AdditionalColumns
    </GridColumns>
    @ChildContent
</SfGrid>
<div id="target" style="height:100%">

    <SfDialog Target="#target" Height="30%" Width="400px" ShowCloseIcon="true" @bind-Visible="Visibility" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header> Error </Header>
            <Content> <div> @ErrorDetails</div></Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="OK" IsPrimary="true" OnClick="@OnDialogBtnClick" />
        </DialogButtons>
    </SfDialog>
</div>

<style>
    #target {
        height: 400px;
    }
</style>