﻿@page "/resources"
@page "/search"
@page "/support/knowledge-base"
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<ResourcesPage> Logger
@inject IStringLocalizer<SharedResources> Localizer

@implements IDisposable

<PageTitle>Resources - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @Localizer["ResourcePageTitle"]">
</HeadContent>


<div class="p-5  bg-@Theme.Id">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <h1 class="title display-4">@Localizer["Resources"]</h1>
                    <h2 class="subtitle">@Localizer["Search across"] @Theme.ApexDomain @Localizer["SearchMessage"]</h2>
                </div>
                <div class="search-section">
                    <input name="Searchbox" autocomplete="off" @bind="@searchString" @bind:event="oninput" maxlength="60" type="text" @onkeydown="@Enter" placeholder="@Localizer["Search Resources"]" />
                    <button class="fa fa-search button-color-@Theme.Id" type="submit" @onclick="@Click"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container content">
    <div class="row">
        <LoadingComponent IsLoading="@loading">
            <LoadingTemplate>

            </LoadingTemplate>
            <ChildContent>
                <div class="d-flex justify-content-between">
                    <span>Showing: @(((pageData.CurrentPage-1)*pageData.PageSize)+1) - @(pageData.CurrentPage*pageData.PageSize<pageData.TotalCount?pageData.CurrentPage*pageData.PageSize:pageData.TotalCount) out of @pageData.TotalCount.ToString("n0")</span>
                    <div>
                        <label>Sort By</label>
                        <select value="@selectedSort" @onchange="@SortSelected">
                            <option value="" selected>@Localizer["Relevancy"]</option>
                            <option value="newest">@Localizer["Date: Newest to Oldest"]</option>
                            <option value="oldest">@Localizer["Date: Oldest to Newest"]</option>
                        </select>
                    </div>
                </div>
                <hr class="mt-2" />

                <div class="col-md-3">
                    <h3>@Localizer["Filter Results"] <a class="btn btn-link text-color-@Theme.Id" title="@Localizer["Clear all filters below"]" @onclick="@FilterClearClick">Clear All</a></h3>
                    <div class="search-results-filter-wrapper">
                        <h3>@Localizer["By Type"]</h3>
                        <ul>
                            @foreach (var item in pageData.Types)
                            {
                                <li><a class="text-color-@Theme.Id @GetActiveType(item.Key)" title="Filter by @item.Key" @onclick="@(()=>FilterClick(item.Key))">@item.Key </a> <span>(@item.Value)</span></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <h3>@Localizer["Search Results"]</h3>
                        <div class="search-results-wrapper">
                            <ul class="search-results-list">
                                @if (pageData.Records.Count <= 0)
                                {
                                    <p>@Localizer["No Results Found."]</p>
                                    <div>
                                        @Localizer["NoResultsMessage"]
                                    </div>
                                }
                                @foreach (var data in GetRecords())
                                {
                                    <li class="search-results-item">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="search-results-item-image-container">
                                                    <a target="@(data.OpenNewTab?"_blank":"_self")" href="@data.UrlLink">
                                                        <img src="@data.ThumbnailLink" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <span class="search-result-item-type">@data.ResourceType</span>
                                                <h4>
                                                    <a class="text-color-@Theme.Id" target="@(data.OpenNewTab?"_blank":"_self")" href="@data.UrlLink">@data.Title</a>
                                                </h4>
                                                <div class="search-result-item-desc">
                                                    @data.Description
                                                </div>
                                                <div class="search-result-item-footer-wrapper">
                                                    <p>
                                                        @Localizer["Date"]: @data.CreatedDate.ToLongDateString()
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                }
                            </ul>
                            @if (pageData.TotalPages != 0)
                            {
                                            <div class="pager">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center">
                                                        @if (pageData.CurrentPage != 1)
                                                        {
                                                            <li class="page-item">
                                                                <a class="page-link" title="« First Page" @onclick="PageFirstClick" tabindex="-1" aria-disabled="true">« @Localizer["First"]</a>
                                                </li>
                                            }
                                            @if (pageData.HasPrevious)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" title="‹ Previous Page" @onclick="PagePreviousClick" tabindex="-1" aria-disabled="true">‹ @Localizer["Previous"]</a>
                                                </li>
                                            }

                                            @if (pageData.HasNext)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" title="Next Page ›" @onclick="PageNextClick">@Localizer["Next"] ›</a>
                                                </li>
                                            }
                                            @if (pageData.TotalPages != PageParameter)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" title="Last Page »" @onclick="PageLastClick">@Localizer["Last"] »</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                    <span> @pageData.CurrentPage.ToString("n0") / @pageData.TotalPages.ToString("n0") @Localizer["pages"] </span>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </ChildContent>
        </LoadingComponent>
    </div>
</div>

<style>

    .search-section {
        display: flex;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

        .search-section input {
            padding-left: 12px;
            height: 45px;
            width: 100%;
        }

        .search-section button {
            width: 45px;
            color: white;
        }

    .search-results-filter-wrapper {
        padding: 1rem 0;
    }

        .search-results-filter-wrapper ul {
            padding: inherit;
            list-style-type: disc;
        }

        .search-results-filter-wrapper li {
            margin: .2rem 0;
            font-size: 1.2rem;
            list-style: none;
        }

        .search-results-filter-wrapper a {
            cursor: pointer;
            text-decoration: none;
            transition: color .15s ease;
        }

        .search-results-filter-wrapper li span {
            font-size: 0.8125rem;
        }

    .search-results-item-image-container {
        height: 150px;
        width: 150px;
        margin: auto;
    }

    .search-results-wrapper {
        box-sizing: border-box;
        flex: 0 75%;
        padding: 0 1.5rem;
    }

        .search-results-wrapper li h4 {
            margin-bottom: .625rem;
            margin-top: .625rem;
            font-size: 1.25rem;
        }

    .search-results-list {
        padding: 0;
    }

        .search-results-list ul {
            list-style-type: disc;
        }

        .search-results-list li {
            margin: 2rem 0;
            list-style: none;
        }

    a.selected-type {
        font-weight: bold;
    }

    .search-results-item {
        border-bottom: 1px solid #edecee;
    }

        .search-results-item img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

    .search-result-item-type {
        font-size: .875rem;
        color: #999;
        font-weight: 700;
    }



    .search-result-item-desc {
        margin-bottom: .9375rem;
    }

    .search-result-item-footer-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

        .search-result-item-footer-wrapper p {
            flex-grow: 1;
            margin: 0;
            text-align: right;
            font-style: normal;
            font-weight: 300;
            color: #1b2935;
            font-size: .9375rem;
        }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string SearchParameter { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string SortParameter { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string TypeParameter { get; set; }

    private int _pageNumber;

    [Parameter]
    [SupplyParameterFromQuery]
    public int PageParameter { get; set; }
    //{
    //    get
    //    {
    //        return _pageNumber;
    //    }
    //    set
    //    {
    //        if (value <= 0)
    //        {
    //            _pageNumber = 1;
    //        }
    //        else
    //        {
    //            _pageNumber = value;
    //        }
    //    }
    //}

    private string searchString;
    private string selectedSort;

    private bool loading = true;

    private readonly CancellationTokenSource cancellationTokenSource = new();

    ResourcePageDTO pageData = new ResourcePageDTO();
    private HttpClient httpClient;

    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");

        //var queryParams = GetQueryString(GetUriWithQueryParameters());
        //await RefreshDataFromApi(queryParams);
    }

    private string GetUriWithQueryParameters()
    {
        string uriWithQueryParameters = NavigationManager.GetUriWithQueryParameters(new Dictionary<string, object>
            {
                ["SearchParameter"] = searchString,
                ["SortParameter"] = SortParameter,
                ["TypeParameter"] = TypeParameter,
                ["PageParameter"] = PageParameter
            });
        return uriWithQueryParameters;
    }

    private string GetQueryString(string uri)
    {
        return new Uri(uri).Query;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ValidSearch(SearchParameter))
        {
            searchString = SearchParameter;
        }
        if (ValidSortString(SortParameter))
        {
            selectedSort = SortParameter;
        }
        PageParameter = GetValidPage(PageParameter);
        var queryParams = GetQueryString(GetUriWithQueryParameters());
        await RefreshDataFromApi(queryParams);
    }

    private IEnumerable<ResourceDTO> GetRecords()
    {
        if (SortParameter == "newest")
        {
            return pageData.Records.OrderByDescending(x => x.CreatedDate);
        }
        else if (SortParameter == "oldest")
        {
            return pageData.Records.OrderBy(x => x.CreatedDate);
        }
        return pageData.Records;
    }

    private string GetActiveType(string type)
    {
        if (type == TypeParameter)
        {
            return "selected-type";
        }
        return string.Empty;
    }


    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            ExecuteSearch();
            PageParameter = 1;
        }
    }

    private void Click()
    {
        ExecuteSearch();
    }

    private void FilterClick(string args)
    {
        TypeParameter = args;
        PageParameter = 1;
        ExecuteSearch();
    }

    private void FilterClearClick()
    {
        SortParameter = string.Empty;
        TypeParameter = string.Empty;
        PageParameter = 1;
        ExecuteSearch();
    }

    private void PageNextClick()
    {
        if (pageData.HasNext)
        {
            PageParameter++;
            ExecuteSearch();
        }
    }
    private void PagePreviousClick()
    {
        if (pageData.HasPrevious)
        {
            PageParameter--;
            ExecuteSearch();
        }
    }

    private void PageFirstClick()
    {
        PageParameter = 1;
        ExecuteSearch();
    }

    private void PageLastClick()
    {
        PageParameter = pageData.TotalPages;
        ExecuteSearch();
    }

    private void SortSelected(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        SortParameter = e.Value.ToString();
        ExecuteSearch();
    }
    private void ExecuteSearch()
    {
        Logger.LogInformation($"searchString: {searchString}");

        NavigationManager.NavigateTo(GetUriWithQueryParameters(), false, false);
    }

    private async Task RefreshDataFromApi(string queryParams)
    {
        loading = true;

        pageData = await httpClient.GetFromJsonAsync<ResourcePageDTO>($"api/Resource/PageData/{Theme.Id}/{queryParams}");
        if (pageData.CurrentPage > pageData.TotalPages)
        {
            PageParameter = 1;
            ExecuteSearch();
        }
        loading = false;

    }

    private bool ValidSearch(string args)
    {
        return true;
    }

    private bool ValidSortString(string args)
    {
        return (args == "" || args == "newest" || args == "oldest");
    }

    private int GetValidPage(int page)
    {
        if (page <= 0)
        {
            return 1;
        }
        return page;
    }

    public void Dispose()
    {
        cancellationTokenSource?.Cancel();
        cancellationTokenSource?.Dispose();
    }

}
