﻿@inject IStringLocalizer<SharedResources> Localizer
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Components.Layout.NoLayout)">
                <Authorizing>
                   <IndeterminateProgressBar />
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity.IsAuthenticated)
                    {
                        <LayoutView Layout="@typeof(Shared.Components.Layout.MainLayout)">
                            <p class="text-center display-3 p-5">@Localizer["NotAuthorized"]</p>
                        </LayoutView>
                    }
                    else
                    { 
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
@*            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Components.Layout.MainLayout)" />
*@            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>@Localizer["NotFoundPageTitle"]</PageTitle>
            <LayoutView Layout="@typeof(Shared.Components.Layout.MainLayout)">
                <p role="alert">@Localizer["NotFound404"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
<NavigationTracker />
<AnchorNavigation />
<GlobalToast />
<Syncfusion.Blazor.Popups.SfDialogProvider />