﻿@inject IToastService ToastService
@implements IDisposable

<SfToast @ref="ToastObj" Title="@ToastTitle" Content="@ToastContent" ShowCloseButton="true" CssClass="@ToastCssClass">
    <ChildContent>
        <ToastPosition X="Center" Y="Top"></ToastPosition>
    </ChildContent>
</SfToast>

@code {
    SfToast ToastObj;
    private string ToastTitle = "";
    private string ToastContent = "";
    private string ToastCssClass = "";

    protected override void OnInitialized()
    {
        ToastService.OnShow += ShowToastAsync;
        ToastService.OnShowCustom += ShowCustomToastAsync;
    }

    public async Task ShowToastAsync(ToastModelHelper.ToastKeys key)
    {
        var toastModel = ToastModelHelper.GetToastModel(key);
        ToastTitle = toastModel.Title;
        ToastContent = toastModel.Content;
        ToastCssClass = toastModel.CssClass;
        StateHasChanged();
        await ToastObj.ShowAsync();
    }

    public async Task ShowCustomToastAsync(ToastModel toastModel)
    {
        ToastTitle = toastModel.Title;
        ToastContent = toastModel.Content;
        ToastCssClass = toastModel.CssClass;
        StateHasChanged();
        await ToastObj.ShowAsync();
    }

    public void Dispose()
    {
        ToastService.OnShow -= ShowToastAsync;
        ToastService.OnShowCustom -= ShowCustomToastAsync;
    }
}
