﻿@page "/distributor-access"
@attribute [Authorize(Roles = "Administrator,Distributor")]
@using System.Threading
@inject Services.StateService StateService
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResources> Localizer
@inject ILogger<DistributorAccessPage> Logger
@implements IDisposable

<PageTitle>@Localizer["Distributor Portal Access"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Localizer["Distributor Portal Access"] - @Theme.Name @Localizer["page"]">
</HeadContent>

<AuthorizeView>
    <LoadingComponent IsLoading="loading">
        <Jumbotron Title="@Localizer["Distributor Portal Access"]"
                   Subtitle="@($"{Localizer["Welcome"]} {@context.User.Identity.Name}")"
                   ImageLink="https://as.caltestelectronics.com/public/productReleases/images/CT4467.png">
            <LeadContent>
                <h2 class="subtitle">@Localizer["Thanks for being an Authorized Distributor"]</h2>
            </LeadContent>
        </Jumbotron>
        <div class="container content">
            <AuthorizeView Context="edit" Roles="Administrator">
                <div class="row">
                    <div class="col-4">
                        <div class="card mb-2">
                            <div class="card-header">@Localizer["Admin Section"]</div>
                            <div class="card-body">
                                <h5>@Localizer["Select Customer"]:</h5>
                                <SfComboBox TValue="string"
                                            ShowClearButton="@false"
                                            TItem="@CompanyInfoDTO"
                                            @bind-Value="@customerId">
                                    <SfDataManager Url="api/DistributorAccess/CompanyList"
                                                   Adaptor="@Adaptors.WebApiAdaptor"
                                                   CrossDomain="true">
                                    </SfDataManager>
                                    <ComboBoxFieldSettings Text="@(nameof(CompanyInfoDTO.CompanyName))"
                                                           Value="@(nameof(CompanyInfoDTO.CustomerId))">
                                    </ComboBoxFieldSettings>
                                </SfComboBox>
                            </div>
                        </div>
                    </div>
                </div>
            </AuthorizeView>
            <div class="alert alert-primary" role="alert">
                @Localizer["Kindly be informed that the information on purchase orders, tracking numbers, and stock availability is refreshed daily at 8am."]
            </div>
            <CascadingValue Value="@customerId">
                <SfTab LoadOn="@ContentLoad.Demand">
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="@Localizer["Purchase Orders"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <PurchaseOrderComponent />
                            </ContentTemplate>
                        </TabItem>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="@Localizer["Available Product Stock"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <ProductStockComponent />
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </CascadingValue>
        </div>
    </LoadingComponent>
</AuthorizeView>


@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private bool loading = true;

    private CancellationTokenSource cancellationTokenSource = new();

    private string customerId;

    private HttpClient httpClient;


    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        if (AuthenticationStateTask == null)
        {
            throw new ArgumentNullException(nameof(AuthenticationStateTask));
        }
        var user = (await AuthenticationStateTask).User;
        foreach (var c in user.Claims)
        {
            Console.WriteLine(c.Type + " : " + c.Value);
            if (c.Type == "extension_CustomerId")
            {
                customerId = c.Value;
                Logger.LogInformation($"extension_CustomerId: {customerId}");
            }
        }
        if (customerId == null)
        {
            Logger.LogWarning($"No CustomerId set");
        }
        loading = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}