﻿@inject IHttpClientFactory HttpClientFactory
@inject ILogger<PurchaseOrderComponent> Logger
@inject IStringLocalizer<SharedResources> Localizer
@inject IJSRuntime JsRuntime
<h3>@Localizer["Purchase Orders"]</h3>
<div class="alert alert-info" role="alert">
    @Localizer["Showing all open purchase orders and last 6 months of closed orders."]
</div>
<LoadingComponent IsLoading="@loading">
    <SfGrid ID="gridPurchaseOrderSummary"
            @ref="@gridPurchaseOrderSummary"
            TValue="PurchaseOrderSummaryDTO"
            DataSource="@purchaseOrderSummaries"
            AllowExcelExport="@true"
            AllowFiltering="@true"
            AllowSorting="@true"
            AllowPaging="@true"
            Toolbar="@(new List<string>() {"ExcelExport"})">
        <GridFilterSettings Mode="@FilterBarMode.Immediate">
        </GridFilterSettings>
        <GridEvents OnToolbarClick="@ToolbarClickHandler"
                    RowSelected="@SummaryRowSelecthandler"
                    TValue="@PurchaseOrderSummaryDTO">
        </GridEvents>
        <GridSortSettings>
            <GridSortColumns>
                <GridSortColumn Direction="@SortDirection.Descending" Field="@nameof(PurchaseOrderSummaryDTO.OrderDate)"></GridSortColumn>
            </GridSortColumns>
        </GridSortSettings>
        <GridColumns>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.OrderNumber)"
                        IsPrimaryKey="true"
                        AutoFit="true"
                        AllowFiltering="true"
                        HeaderText="@Localizer["Order #"]">
            </GridColumn>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.CustomerOrderNumber)"
                        AutoFit="true"
                        HeaderText="@Localizer["Your Order #"]">
            </GridColumn>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.OrderDate)"
                        AutoFit="true"
                        HeaderText="@Localizer["Order Date"]"
                        Format="d"
                        Type="ColumnType.Date">
            </GridColumn>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.TotalSale)"
                        AutoFit="true"
                        HeaderText="@Localizer["Cost"]"
                        Format="c2">
            </GridColumn>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.ShippingMethod)"
                        AutoFit="true"
                        HeaderText="@Localizer["Carrier"]">
            </GridColumn>
            <GridColumn Field="@nameof(PurchaseOrderSummaryDTO.Status)"
                        HeaderText="@Localizer["Order Status"]">
            </GridColumn>
        </GridColumns>
    </SfGrid>
</LoadingComponent>
@if (selectedPurchaseOrderSummary != null)
{
    <SfDialog Height="650px" Width="80%" ShowCloseIcon="@true" CloseOnEscape="@true" IsModal="@true" @bind-Visible="showDialog">
        <DialogTemplates>
            <Header> @selectedPurchaseOrderSummary.OrderNumber </Header>
            <Content>
                <p>@Localizer["Showing line items of"] <b>@selectedPurchaseOrderSummary.OrderNumber</b></p>
                <SfGrid TValue="OrderTrackingNumberAggregate"
                    DataSource="@purchaseOrders"
                    AllowFiltering="@true"
                    AllowPaging="@true">
                    <GridFilterSettings Mode="FilterBarMode.Immediate"></GridFilterSettings>
                    <GridColumns>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.PartNumber)"
                                AutoFit="true"
                                TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left"
                                HeaderText="@Localizer["Model"]">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.AlternateModel)"
                                AutoFit="true"
                                HeaderText="@Localizer["Your Model"]">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.Price)"
                                AutoFit="true"
                                HeaderText="@Localizer["Price"]"
                                Format="c2">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.QuantityOrdered)"
                                AutoFit="true"
                                HeaderText="@Localizer["Quantity"]"
                                Type="ColumnType.Number">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.QuantityShipped)"
                                AutoFit="true"
                                HeaderText="@Localizer["Shipped"]"
                                Type="ColumnType.Number">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.Eta)"
                                AutoFit="true"
                                HeaderText="@Localizer["EST. Ship Date"]"
                                Format="d"
                                Type="ColumnType.Date">
                        </GridColumn>
                        <GridColumn Field="@nameof(OrderTrackingNumberAggregate.RevisedEta)"
                                AutoFit="true"
                                HeaderText="@Localizer["Revised EST. Ship Date"]"
                                Format="d"
                                Type="ColumnType.Date">
                            <Template Context="purchaseOrder">
                                @{
                                    var po = (purchaseOrder as OrderTrackingNumberAggregate);
                                    if (po.RevisedEta <= new DateTime(1901, 01, 01))
                                    {
                                        string.Format("{0:d}", DateTime.Now);
                                    }
                                    else
                                    {
                                        string.Format("{0:d}", po.RevisedEta);
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="@Localizer["Item Status"]">
                            <Template Context="purchaseOrder">
                                @{
                                    var po = (purchaseOrder as OrderTrackingNumberAggregate);
                                    if (po.QuantityOrdered == 0 && po.QuantityShipped == 0)
                                    {
                                        <span>@Localizer["Cancelled"]</span>
                                    }
                                    else if (po.QuantityOrdered == po.QuantityShipped)
                                    {
                                        <span>@Localizer["Shipped (full quantity)"]</span>
                                    }
                                    else if (po.QuantityShipped > 0)
                                    {
                                        <span>@Localizer["Partially shipped (some quantity shipped)"]</span>
                                    }
                                    else if (po.RevisedEta <= new DateTime(1901, 01, 01))
                                    {
                                        <span>@Localizer["Processing at facility (preparing to ship)"]</span>
                                    }
                                    else
                                    {
                                        <span>@Localizer["Confirmed (not shipped yet)"]</span>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn HeaderText="@Localizer["Tracking Number(s)"]">
                            <Template Context="purchaseOrder">
                                <ul>
                                    @{
                                        var po = (purchaseOrder as OrderTrackingNumberAggregate);
                                        if (!string.IsNullOrWhiteSpace(po.TrackingNumbers))
                                        {
                                            @foreach (var trackingNumber in po.TrackingNumbers.Split(','))
                                            {
                                                <li>
                                                    <a class="text-color-@Theme.Id" href="@ShippingCarrierHelper.DetermineCarrierUrlByTrackingNumber(trackingNumber)" target="_blank">@trackingNumber</a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </SfGrid>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="@Localizer["OK"]" IsPrimary="true" OnClick="@DlgButtonClick" />
        </DialogButtons>
        <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose"></DialogEvents>
        <DialogAnimationSettings Effect="@DialogEffect.FadeZoom"></DialogAnimationSettings>
    </SfDialog>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [CascadingParameter]
    protected string CustomerId { get; set; }

    private SfGrid<PurchaseOrderSummaryDTO> gridPurchaseOrderSummary;
    private List<PurchaseOrderSummaryDTO> purchaseOrderSummaries = new();
    private List<OrderTrackingNumberAggregate> purchaseOrders = new();
    private PurchaseOrderSummaryDTO selectedPurchaseOrderSummary;
    private CancellationTokenSource cancellationTokenSource = new();
    private HttpClient httpClient;
    private bool loading = true;

    private bool showDialog = false;


    protected override void OnInitialized()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        Logger.LogInformation($"{nameof(CustomerId)}:{CustomerId} current value");
    }

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        Logger.LogInformation($"{nameof(CustomerId)}:{CustomerId} current value");
        if (CustomerId == null)
        {
            return;
        }
        purchaseOrderSummaries = await httpClient.GetFromJsonAsync<List<PurchaseOrderSummaryDTO>>($"api/DistributorAccess/PurchaseOrderSummaries/{CustomerId}", cancellationTokenSource.Token);
        purchaseOrderSummaries.Where(x => x.Status == "O").ToList().ForEach(x => x.Status = "Open");
        purchaseOrderSummaries.Where(x => x.Status == "C").ToList().ForEach(x => x.Status = "Closed");

        loading = false;
    }
    public async Task SummaryRowSelecthandler(RowSelectEventArgs<PurchaseOrderSummaryDTO> args)
    {
        selectedPurchaseOrderSummary = args.Data;
        purchaseOrders.Clear();
        showDialog = true;
        purchaseOrders = await httpClient.GetFromJsonAsync<List<OrderTrackingNumberAggregate>>($"api/DistributorAccess/PurchaseOrders/{CustomerId}/{args.Data.OrderNumber}", cancellationTokenSource.Token);

    }


    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        Logger.LogInformation($"ClickEventArgs: {args.Item.Id}");
        if (args.Item.Id == "gridPurchaseOrderSummary_excelexport") //Id is combination of Grid's ID and itemname
        {
            Logger.LogInformation("Starting export process");
            if (gridPurchaseOrderSummary == null)
            {
                Logger.LogWarning($"{nameof(gridPurchaseOrderSummary)} is null cannot export empty file");
                return;
            }
            await gridPurchaseOrderSummary.EnableToolbarItemsAsync(new List<string>() { "ExcelExport" }, isEnable: false);
            var bytes = await httpClient.GetByteArrayAsync("api/DistributorAccess/ExcelExport_PurchaseOrders/" + CustomerId, cancellationTokenSource.Token);
            await ClientHelper.FileUtil.DownloadFromByteArray(JsRuntime, bytes, $"Orders_{CustomerId}.xlsx", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
            await Task.Delay(1500);
            await gridPurchaseOrderSummary.EnableToolbarItemsAsync(new List<string>() { "ExcelExport" }, isEnable: true);
        }
    }


    private void DialogOpen(Object args)
    {
        showDialog = true;
    }

    private void DialogClose(Object args)
    {
        showDialog = false;
    }
    private void DlgButtonClick()
    {
        DialogClose(null);
    }

}