﻿@implements IDisposable
<div class="gallery-container">
    @if (StatusIcons != null)
    {
        @StatusIcons
    }
    <div @onclick="@(()=>modal.ShowAsync())" class="main-image-container">
        <img class="img-maintain-aspect-ratio" src="@mainImage.GetMedium()" alt="Placeholder">
    </div>
    <div class="thumbnails-container">
        @foreach (var pi in Images)
        {
            <div class="thumbnails-item">
                <img class="img-maintain-aspect-ratio" src="@pi.GetThumbnail()" @onmouseover="@(()=>SetMainImage(pi,false))" @onclick="@(()=>SetMainImage(pi,true))" alt="Thumbnails" />
            </div>
        }
    </div>
</div>


<SfDialog Target="#image-gallery-target" @ref="modal"
          CssClass="image-gallery-modal"
          IsModal="@true"
          CloseOnEscape="@true"
          @bind-Visible="showModal">
    <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose" OnOverlayModalClick="@OverlayClick"></DialogEvents>
    <DialogTemplates>
        <Content>
            <img class="img-maintain-aspect-ratio" src="@mainImage.GetLarge()" />
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
</SfDialog>
<style>
    .arrows-box {
        height: 80px;
        width: 50px;
        position: absolute;
    }

    .image-gallery-modal {
        width: 80vw !important;
        height: 90vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @@media screen and (max-width: 600px) {
        .image-gallery-modal {
            width: 80vw !important;
            height: 50vh !important;
        }
    }


    .gallery-container {
        display: block;
        width: 100%;
        height: 455px;
    }

    .main-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: 300px;
        padding: 1rem;
        cursor: pointer;
    }



    .thumbnails-container {
        width: inherit;
        height: 105px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .thumbnails-item {
        width: 90px;
        height: 80px;
        display: inline-flex;
        border: 1px solid rgba(0,0,0,.125);
        cursor: pointer;
    }

    .img-maintain-aspect-ratio {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    public RenderFragment StatusIcons { get; set; }

    [Parameter]
    public List<ImageGalleryItem> Images { get; set; }

    [Parameter]
    public ImageGalleryItem MainImage { get; set; }

    private ImageGalleryItem mainImage;

    private SfDialog modal;

    protected override async Task OnInitializedAsync()
    {
        mainImage = MainImage ?? Images.FirstOrDefault();
    }

    void SetMainImage(ImageGalleryItem productImage, bool showModal1)
    {
        mainImage = productImage;
        if (showModal1)
        {
            modal.ShowAsync();
        }
    }

    private bool showModal = false;
    private void DialogOpen(Object args)
    {
        showModal = true;
    }

    private void DialogClose(Object args)
    {
        showModal = false;

    }
    private void OverlayClick(OverlayModalClickEventArgs args)
    {
        showModal = false;
    }

    public void Dispose()
    {
        showModal = false;
        modal.HideAsync();
    }
}
