﻿<ul class="list-unstyled product-status-icons">
    @if (New)
    {
        <li class="product-status-icons--new">NEW</li>
    }
    @if (Catalog)
    {
        <li class="product-status-icons--catalog">CATALOG</li>
    }
    @if (Discontinued)
    {
        <li class="product-status-icons--discontinued">DISCONTINUED</li>
    }
</ul>

<style>
    .product-status-icons {
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
        cursor: default;
        -webkit-user-select: none;
        margin: 0;
        padding: 0;
        height: 35px;
    }

        .product-status-icons li {
            padding: 0.4rem 1rem;
            color: white;
            font-weight: bold;
            text-transform: capitalize;
            border-radius: 25px;
        }

    .product-status-icons--new {
        background-color: #d900a6;
    }

    .product-status-icons--catalog {
        background-color: #4b4b4b;
    }

    .product-status-icons--discontinued {
        background-color: #ff0000;
    }
</style>

@code {
    [Parameter]
    public bool New { get; set; }
    [Parameter]
    public bool Catalog { get; set; }
    [Parameter]
    public bool Discontinued { get; set; }
}
