﻿
    <div class="iframe-container embed-responsive embed-responsive-16by9">
        <iframe src="@(YoutubeEmebedLink+"?rel=0")" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

@code {
    [Parameter]
    public string YoutubeEmebedLink { get; set; }
}
