﻿@inject IHttpClientFactory HttpClientFactory
@inject ILogger<ProductStockComponent> Logger
<h3>
    Product Stock Availability
</h3>
<div class="alert alert-info" role="alert">
    Catalog and special order product information for both Cal Test Electronics and Global Specialties.
</div>
<LoadingComponent IsLoading="loading">
    <SfGrid ID="gridProductStockAvailability"
            @ref="gridProductStockAvailability"
            TValue="@ErpInventory"
            DataSource="@erpInventories"
            AllowFiltering="@true"
            AllowSorting="@true"
            AllowPaging="@true"
            AllowExcelExport="@true"
            Toolbar="@(new List<string>() {"ExcelExport"})">
        <GridEvents OnToolbarClick="@ToolbarClickHandler" TValue="@ErpInventory"></GridEvents>
        <GridFilterSettings Mode="@FilterBarMode.Immediate"></GridFilterSettings>
        <GridSortSettings>
            <GridSortColumns>
                <GridSortColumn Field="@nameof(ErpInventory.PartNumber)" Direction="SortDirection.Ascending"></GridSortColumn>
            </GridSortColumns>
        </GridSortSettings>
        <GridColumns>
            <GridColumn Field=@nameof(ErpInventory.PartNumber) AutoFit="true" HeaderText="Part Number"></GridColumn>
            <GridColumn Field=@nameof(ErpInventory.Price) Width="110" HeaderText="MSRP." Format="c2"></GridColumn>
            <GridColumn Field=@nameof(ErpInventory.Quantity) AutoFit="true" HeaderText="Quantity Available" Type="@ColumnType.Number"></GridColumn>
            <GridColumn Field=@nameof(ErpInventory.MinimumOrderQuantity) AutoFit="true" HeaderText="MOQ/Multiples" Type="@ColumnType.Number"></GridColumn>
            <GridColumn Field=@nameof(ErpInventory.LeadTime) HeaderText="Lead Time (Days)" Type="@ColumnType.Number"></GridColumn>
        </GridColumns>
    </SfGrid>
</LoadingComponent>
@code {
    private SfGrid<ErpInventory> gridProductStockAvailability;
    private List<ErpInventory> erpInventories;

    private HttpClient httpClient;
    private readonly CancellationTokenSource cancellationTokenSource = new();

    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        erpInventories = await httpClient.GetFromJsonAsync<List<ErpInventory>>($"api/DistributorAccess/ErpInventories/", cancellationTokenSource.Token);
        loading = false;
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {

        Logger.LogInformation($"ClickEventArgs: {args.Item.Id}");
        if (args.Item.Id == "gridProductStockAvailability_excelexport") //Id is combination of Grid's ID and itemname
        {
            Logger.LogInformation("Starting export process");
            if (gridProductStockAvailability == null)
            {
                Logger.LogWarning($"{nameof(gridProductStockAvailability)} is null");
                return;
            }

            ExcelExportProperties ExportProperties = new()
                {
                    IncludeHiddenColumn = true
                };
            await gridProductStockAvailability.ExcelExport(ExportProperties);
        }
    }
}
