﻿@inject IHttpClientFactory HttpClientFactory

<AdminGridBase @ref="@grid"
               TValue="@Article"
               OdataUrl="@AdminHelper.OdataHelper.ArticlesUrl"
               OdataBatchUrl="@AdminHelper.OdataHelper.ArticlesUrl">
    <ChildContent>
        <GridEvents TValue="Article"
                    OnActionBegin="@grid.BeginHandler"
                    OnActionComplete="@ActionCompleteHandler"
                    OnActionFailure="@grid.ActionFailure"
                    >
        </GridEvents>
    </ChildContent>
    <AdditionalColumns>
        <PrimaryKeyColumn Field=@nameof(Article.Id) />
        <GridColumn AutoFit="true" Field="@nameof(Article.Title)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
        <GridColumn AutoFit="true" Field="@nameof(Article.Url)" ClipMode="@ClipMode.EllipsisWithTooltip">
            <Template>
                <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@("/knowledge-base/article/"+(context as Article).Url)" />
            </Template>
        </GridColumn>
        <GridColumn Width="300" Field="@nameof(Article.Summary)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
        <GridColumn Width="300" Field="@nameof(Article.BodyHtml)">
            <EditTemplate>
                <p>@nameof(Article.BodyHtml)</p>
                <SfRichTextEditor ID="@nameof(Article.BodyHtml)" @ref="@rteObj" @bind-Value="(context as Article).BodyHtml" EditorMode="@EditorMode.HTML" ShowCharCount="true">
                    <RichTextEditorImageSettings SaveUrl="@FileUploadHelper.SaveDirectory.RTE"
                                                 Path="">
                    </RichTextEditorImageSettings>
                    <RichTextEditorToolbarSettings Items="@AdminHelper.DefaultRTEToolbarItems" Type="@ToolbarType.MultiRow" />
                    <RichTextEditorEvents BeforeUploadImage="@BeforeUpload" ImageDelete="@OnDelete"  OnImageUploadSuccess="@ImageUploadSuccess" />
                </SfRichTextEditor>
            </EditTemplate>
        </GridColumn>
        <BrandColumn>
            <EditTemplate>
                <p>@nameof(Article.Brand)</p>
                <SfDropDownList ID="Brand" @bind-Value="@((context as Article).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                </SfDropDownList>
            </EditTemplate>
        </BrandColumn>
        <PublishedColumn />
        <ModifiedColumn />
        <CreatedColumn />
    </AdditionalColumns>
</AdminGridBase>

@code {
    private AdminGridBase<Article> grid;
    SfRichTextEditor rteObj;


    public async Task ActionCompleteHandler(ActionEventArgs<WebDB.Data.Models.Article> actionEventArgs)
    {
        await grid.ActionCompleteHandler(actionEventArgs);
        // To check if the ‘OnActionComplete’ is called when editing the grid data.
        if (actionEventArgs.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit || actionEventArgs.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {
            // Please increase or decrease the delay depending on the application load to render properly.
            await Task.Delay(1100);
            await this.rteObj.RefreshUIAsync();
            Console.WriteLine("Test refresh");
        }
    }



    private async Task BeforeUpload(ImageUploadingEventArgs args)
    {
        var accessToken = "Bearer " + grid.AccessToken;
        args.CurrentRequest = new List<object> { new { Authorization = accessToken } };
    }


    public string[] header { get; set; }
    private void ImageUploadSuccess(ImageSuccessEventArgs args)
    {
        var headers = args.Response.Headers.ToString();
        header = headers.Split("name: ");
        header = header[1].Split("\r");

        // Update the modified image name to display an image in the editor.
        args.File.Name = header[0];
    }

    private async Task OnDelete(AfterImageDeleteEventArgs args)
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        var result = await httpClient.PostAsJsonAsync("api/Files/DeleteByUrl", new UrlLink { Url = args.Src.ToString() });
        Console.WriteLine($"Response: {result}");

        string resultContent = await result.Content.ReadAsStringAsync();
        Console.WriteLine($"Content as string: \n{resultContent}");
    }

}
