﻿@inject IStringLocalizer<SharedResources> Localizer

@layout Shared.Components.Layout.MainLayout
@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<div class="text-center">
    <RemoteAuthenticatorView Action="@Action">
        <LogInFailed>
            <div class="alert alert-danger" role="alert">@LogInFailed</div>
        </LogInFailed>
        <LogOut>
            <div class="alert alert-info" role="alert">@LogOut</div>
        </LogOut>
        <LogOutSucceeded>
            <div class="alert alert-success" role="alert">@LogOutSucceeded</div>
        </LogOutSucceeded>
        <LoggingIn>
            <div class="alert alert-info" role="alert">@LoggingIn</div>
        </LoggingIn>
        <CompletingLoggingIn>
            <div class="alert alert-success" role="alert">@CompletingLoggingIn</div>
        </CompletingLoggingIn>
    </RemoteAuthenticatorView>
</div>

@code {
    [Parameter] public string Action { get; set; }

    string LogInFailed; 
    string LogOut;
    string LogOutSucceeded;
    string LoggingIn;
    string CompletingLoggingIn;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LogInFailed = Localizer["LogInFailed"];
        LogOut = Localizer["LogOut"];
        LogOutSucceeded = Localizer["LogOutSucceeded"];
        LoggingIn = Localizer["LoggingIn"];
        CompletingLoggingIn = Localizer["CompletingLoggingIn"];
    }
}
