﻿@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject IStringLocalizer<SharedResources> Localizer

<AuthorizeView>
    <Authorized>
        <SfButtonGroup Mode="@Syncfusion.Blazor.SplitButtons.SelectionMode.Single" HtmlAttributes="htmlAttributes">
            <SfDropDownButton style="border-radius:15px" IconCss="e-icons e-people" Content="@Localizer["My Account"]">
                <DropDownButtonEvents ItemSelected="ItemSelected"></DropDownButtonEvents>
                <DropDownMenuItems>
                    <DropDownMenuItem Id="logout" IconCss="oi oi-account-login" Text="@Localizer["Log Out"]"></DropDownMenuItem>
                    @*<DropDownMenuItem Url="Identity/Account/Manage" IconCss="oi oi-cog" Text="User Settings"></DropDownMenuItem>*@
                    <AuthorizeView Context="AdministratorContext" Roles="Administrator">
                        <DropDownMenuItem Url="administrator" IconCss="oi oi-list-rich" Text="@Localizer["Admin Dashboard"]"></DropDownMenuItem>
                    </AuthorizeView>
                    <AuthorizeView Context="DistributorContext" Roles="Administrator,Distributor">
                        <DropDownMenuItem Url="distributor-access" IconCss="oi oi-terminal" Text="@Localizer["Distributor Access"]"></DropDownMenuItem>
                    </AuthorizeView>
                </DropDownMenuItems>
            </SfDropDownButton>
        </SfButtonGroup>
    </Authorized>
    <NotAuthorized>
        <div><a style="color:black;font-weight:600" href="distributor-access">@Localizer["Distributor Login"]</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private Dictionary<string, object> htmlAttributes { get; set; } = new Dictionary<string, object>() {
            {"height", "40" },
            {"style","margin-top: -3px;"}
            };
    public void ItemSelected(MenuEventArgs args)
    {
        if (args.Item.Id == "logout")
        {
            Navigation.NavigateToLogout("authentication/logout");
        }
    }
}
