﻿@inject IStringLocalizer<SharedResources> Localizer


@if (RelatedProducts.Count > 0)
{
    <div id="product-related">
        <h2 class="product-content-title">@Localizer["You May Also Be Interested In"]</h2>
    </div>
}

@code {
    [Parameter]
    public List<ProductPageDTO.RelatedProductDTO> RelatedProducts { get; set; }
}
