﻿@inject IStringLocalizer<SharedResources> Localizer

<div id="attachments-section">
    @if (Documents.Count>0)
    {
        <h2 class="product-content-title">@Localizer["Docs and Software"]</h2>
        <h5>@Localizer["Documents"]</h5>
        <ul class="list-unstyled">
            @foreach (var doc in Documents)
            {
                <li>
                    <img class="document-image" src="https://img.icons8.com/glyph-neue/344/document.png" alt="">
                    <a class="text-color-@Theme.Id" href="@doc.AttachmentFileLink" target="_blank">@doc.Type</a>
                </li>
            }
        </ul>

    }
    @if (Software != null)
    {
        <h5>@Localizer["Software"]</h5>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr class="d-flex">
                        <th class="col-4 col-md-2">@Localizer["Description"]</th>
                        <th class="col-8 col-md-7">@Localizer["Version"]</th>
                        <th class="col-8 col-md-7">@Localizer["Download"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var soft in Software)
                    {
                        <tr class="d-flex">
                            <th class="col-4 col-md-2">@soft.Type</th>
                            <td class="col-8 col-md-7"></td>
                            <td class="col-8 col-md-7"><a class="text-color-@Theme.Id" href="@soft.AttachmentFileLink" target="_blank">@soft.GetFileNameWithExtension()</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
</div>

<style>
.document-image{
    display:inline;
    width:50px;
    height:50px;
}
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
    [Parameter]
    public List<ProductPageDTO.Attachment> Documents { get; set; }
    [Parameter]
    public List<ProductPageDTO.Attachment> Software { get; set; }

}
