﻿@inject IStringLocalizer<SharedResources> Localizer

@if (Videos.Count > 0)
{
    <div id="videos-section">
        <h2 class="product-content-title">@Localizer["Videos"]</h2>
        <div class="row">
            @foreach (var video in Videos)
            {
                <div class="col-sm-6">
                    <YouTubeVideoComponent YoutubeEmebedLink="@video.AttachmentFileLink"></YouTubeVideoComponent>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public List<ProductPageDTO.Attachment> Videos { get; set; }
}
