﻿@page "/product/{ProductParameter}"
@page "/product-list/product-page/view/{ProductParameter}"
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject IStringLocalizer<SharedResources> Localizer
@inject ILogger<ProductPage> Logger
@implements IDisposable

<PageTitle>@title - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @title @Localizer["page"]">
</HeadContent>

<LoadingComponent IsLoading="loading">
    <div class="bg-light">
        <div class="container content product-page-container bg-white">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-color-@Theme.Id" href="/products">@Localizer["Product Index"]</a></li>
                        <li class="breadcrumb-item"><a class="text-color-@Theme.Id" href="/products?NewProduct=False&RoHsCompliant=False&SearchParameter=@productPageData.GroupName">@productPageData.GroupName</a></li>
                        <li class="breadcrumb-item"><a class="text-color-@Theme.Id" href="product-list/@productPageData.CategoryTableName/">@productPageData.CategoryName</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@productPageData.SelectedPartNumber</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <ReplacementBannerComponent ReplacementSeries="@productPageData.ReplacementSeries" Discontinued="@productPageData.Discontinued"></ReplacementBannerComponent>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <ImageGalleryComponent Images="@productPageData.Images" MainImage="@productPageData.Images.FirstOrDefault()">
                        <StatusIcons>
                            <StatusIconsComponent Discontinued="@productPageData.Discontinued" Catalog="@true" New="@productPageData.New"></StatusIconsComponent>
                        </StatusIcons>
                    </ImageGalleryComponent>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1 class="text-color-@Theme.Id">Model @productPageData.SelectedPartNumber</h1>
                    @if (productPageData.Products.Count > 1)
                    {
                        <h4>@productPageData.SeriesName @Localizer["Series"]</h4>
                    }
                    <h5>@productPageData.Title</h5>
                    <h5>Price: @productPageData.FormattedMsrp / @productPageData.Warranty @Localizer["Warranty"]</h5>
                    <div class="card">
                        <div class="card-header">@Localizer["Where To Buy"]</div>
                        <WhereToBuyComponent SearchParameter="@productPageData.SelectedPartNumber"></WhereToBuyComponent>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="list-unstyled product-menu background-color-@Theme.Id">
                    <li><a href="product/@productPageData.SelectedPartNumber/#product-overview">@Localizer["Overview"]</a></li>
                    @if (productPageData.Products.Count > 1)
                    {
                        <li><a href="product/@productPageData.SelectedPartNumber/#product-models">@Localizer["Models"]</a></li>
                    }
                    <li><a href="product/@productPageData.SelectedPartNumber/#product-specifications">@Localizer["Specifications"]</a></li>
                    @if (productPageData.Videos.Count > 0)
                    {
                        <li><a href="product/@productPageData.SelectedPartNumber/#videos-section">@Localizer["Videos"]</a></li>
                    }
                    @if (productPageData.Documents.Count > 0 || productPageData.Softwares.Count > 0)
                    {
                        <li><a href="product/@productPageData.SelectedPartNumber/#attachments-section">@Localizer["Docs and Software"]</a></li>
                    }
                    @if (productPageData.RelatedProducts.Count > 0)
                    {
                        <li><a href="product/@productPageData.SelectedPartNumber/#product-related">@Localizer["Related Products"]</a></li>
                    }
                </ul>
            </nav>
            <div id="product-overview">
                <h2 class="product-content-title">@Localizer["Overview"]</h2>
                <p>@((MarkupString)productPageData.Overview)</p>
                @if (false)
                {
                    <h5>@Localizer["Features"]:</h5>
                    <ul>
                        <li></li>
                    </ul>
                }
            </div>
            @if (productPageData.Products.Count > 1)
            {
                <div id="product-models">
                    <h2 class="product-content-title">@Localizer["Models"]</h2>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    @foreach (var propertyInfo in typeof(ProductPageDTO.ProductDTO).GetProperties())
                                    {
                                        @if (propertyInfo.Name == "Msrp") continue;
                                        @if (propertyInfo.Name == "FormattedMsrp")
                                        {
                                            <th>MSRP</th>
                                            continue;
                                        }
                                        <th>@propertyInfo.Name</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in productPageData.Products)
                                {
                                    <tr>
                                        @foreach (var propertyInfo in typeof(ProductPageDTO.ProductDTO).GetProperties())
                                        {
                                            @if (propertyInfo.Name == "Msrp") continue;
                                            @if (propertyInfo.Name == "PartNumber")
                                            {
                                                <td><a class="text-color-@Theme.Id" href="/product/@propertyInfo.GetValue(product)/">@propertyInfo.GetValue(product)</a></td>

                                            }
                                            else
                                            {
                                                <td>@propertyInfo.GetValue(product)</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div id="product-specifications">
                <h2 class="product-content-title">@Localizer["Specifications"]</h2>
                <div class="@(Theme.Id==BrandHelper.CT.Id?"table":"") table-responsive">@((MarkupString)productPageData.SpecificationsLegacy)</div>
            </div>
            <ProductVideosComponent Videos="@productPageData.Videos"></ProductVideosComponent>
            <ProductDocumentsComponent Documents="@productPageData.Documents"></ProductDocumentsComponent>
            <ProductRelatedComponent RelatedProducts="@productPageData.RelatedProducts"></ProductRelatedComponent>
        </div>
    </div>
    <AnchorNavigation />
    <div id="#image-gallery-target">
    </div>
</LoadingComponent>

<style>
    .product-page-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .buy-button {
        background-color: #216b42
    }

    .product-menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1rem;
        flex-wrap: wrap;
        color: white;
    }

        .product-menu li {
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            line-height: 2rem;
            -webkit-user-select: none;
        }

        .product-menu a {
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 1rem;
            color: white;
        }

        .product-menu li:hover {
            background-color: rgba(0,0,0,0.10);
        }

    .product-content-title {
        margin-top: 2.5rem;
        display: inline-block;
        width: unset;
    }




    @@media screen and (max-width: 500px) {
        .product-page-container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .product-menu {
            display: none;
        }
    }

</style>
@if (Theme.Id == BrandHelper.CT.Id)
{
    <style>
        .product-content-title:after {
            content: "";
            display: block;
            border-bottom: 2px solid #c23;
            width: 100%;
        }
    </style>
}
else if (Theme.Id == BrandHelper.GS.Id)
{
    <style>
        .product-content-title:after {
            content: "";
            display: block;
            border-bottom: 2px solid #005dab;
            width: 100%;
        }
    </style>
}
else
{
    <style>
        .product-content-title:after {
            content: "";
            display: block;
            border-bottom: 2px solid #000;
            width: 100%;
        }
    </style>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
    private string title = "Product";

    [Parameter]
    public string ProductParameter { get; set; }

    private bool loading { get; set; } = true;

    private List<string> images = new();

    private ProductPageDTO productPageData { get; set; }

    private readonly CancellationTokenSource cancellationTokenSource = new();

    protected override void OnInitialized()
    {
        ProductParameter ??= "";
    }

    private HttpClient httpClient;

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        productPageData = await httpClient.GetFromJsonAsync<ProductPageDTO>($"/api/Product/PageData/{ProductParameter.ToUpper()}", cancellationTokenSource.Token);
        title = productPageData.SelectedPartNumber;
        loading = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}