﻿@inject IStringLocalizer<SharedResources> Localizer


@if (ReplacementSeries != null)
{
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">@Localizer["Product Replacement"]</h4>
        <hr>
        <p class="mb-0">@Localizer["This product series was replaced by"] @ReplacementSeries.Name</p>
    </div>
}
@if (Discontinued)
{
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">@Localizer["Discontinued"]</h4>
        <hr>
        <p class="mb-0">@Localizer["This product series was discontinued."]</p>
    </div>
}
@code {
    [Parameter]
    public ProductPageDTO.ReplacementSeriesDTO ReplacementSeries { get; set; }
    [Parameter]
    public bool Discontinued { get; set; }
}
