﻿@page "/administrator/AdminDistributorAuthorizedDomainPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(DistributorAuthorizedDomainPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <p><b>Notes:</b></p>
            <ol>
                <li><b>DO NOT</b> add .edu or public domains such as gmail.com or yahoo.com</li>
                <li>The CustomerId listed is the CustomerId domain users will be preauthorized to.</li>
                <li>This list is used for new customers. Modifying the CustomerId will <b>not</b> update previously authorized customers.</li>
                <li>This is a static list to be maintained. <i>If you change the CustomerId for a domain in Solomon, you will need to change it here.</i></li>
            </ol>
        </div>

        <AdminGridBase @ref="@grid"
                       TValue="@DistributorAuthorizedDomain"
                       OdataUrl="@AdminHelper.OdataHelper.DistributorAuthorizedDomainsUrl"
                       OdataBatchUrl="@AdminHelper.OdataHelper.DistributorAuthorizedDomainsUrl">
            <AdditionalColumns>
                <GridColumn AutoFit="true" Field="@nameof(DistributorAuthorizedDomain.Id)" IsPrimaryKey="true" IsIdentity="true"></GridColumn>
                <GridColumn AutoFit="true" Field="@nameof(DistributorAuthorizedDomain.CustomerId)"></GridColumn>
                <GridColumn AutoFit="true" Field="@nameof(DistributorAuthorizedDomain.CompanyName)"></GridColumn>
                <GridColumn AutoFit="true" Field="@nameof(DistributorAuthorizedDomain.Domain)">
                    <Template>
                        <LinkColumnTemplateComponent Type="@LinkType.ExternalLink" Href="@((context as DistributorAuthorizedDomain).Domain)" />
                    </Template>
                </GridColumn>
                <ModifiedColumn />
                <CreatedColumn />
            </AdditionalColumns>
        </AdminGridBase>
    </div>
</div>
@code {
    private AdminGridBase<DistributorAuthorizedDomain> grid;
}
