﻿@inject IJSRuntime JSRuntime
@inject IStringLocalizer<SharedResources> Localizer
<div class="form-inline">
    @if (ShowInput)
    {
        <input class="form-control" readonly type="text" value="@Text" />
    }
    <button type="button" class="btn button-color-@Theme.Id" @onclick="CopyTextToClipboard">@ButtonText</button>
</div>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string ButtonText { get; set; } = "Copy";

    [Parameter]
    public bool ShowInput { get; set; } = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ButtonText = Localizer["Copy"];

    }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Text);
        ButtonText = Localizer["Copied"];
    }
}