﻿@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigate
@inject ILogger<TValue> Logger
@using Newtonsoft.Json
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using System.Reflection
@using System.Linq.Expressions
@using CTEWebApp.Shared.Interfaces
@using System.Collections.ObjectModel
@using System.Globalization
@inject Services.StateService StateService
@implements IDisposable

@typeparam TValue where TValue : CompiledSelectors<TValue>

<LoadingComponent IsLoading="@loading">
    <ProductListJumbotronComponent Content="@pageData.CategoryJumbotron"></ProductListJumbotronComponent>
    <div class="bg-light">
        <div class="container-fluid">
            <div class="overflow-auto">
                <div class="row pb-2 ms-0 ms-sm-2 g-0 flex-nowrap">
                    @{
                        var columns = CompiledSelectors<TValue>.Columns.Values;
                        foreach (var columnDef in columns.OrderBy(cd => cd.PropertyName))
                        {
                            if (!columnDef.Filterable||!columnDef.Visible
                                || columnDef.PropertyName == "ProductId" 
                                || columnDef.PropertyName == "ImageFileLink" 
                                || columnDef.PropertyName == "PartNumber" 
                                || columnDef.PropertyName == "Id"
                                || columnDef.PropertyName == "Description" 
                                || columnDef.PropertyName == "Msrp"
                                ||columnDef.PropertyName=="Temperature"
                                ||columnDef.PropertyName=="Discontinued")
                                continue;
                            //var items = (Items.Select(o => columnDef.Selector(o)).Distinct().OrderBy(x => x).ToList());
                            var items = (Items.Select(o => columnDef.Selector(o)).OrderBy(x => x).ToHashSet());
                            if (items.Where(x => !string.IsNullOrWhiteSpace(x)).Count() <= 0) continue;
                            Console.WriteLine($"Count:{items.Count}/{columnDef.PropertyName}");
                            <div class="col-auto card me-2 me-md-4  shadow-sm boxfilter-card">
                                <h3 class="boxfilter-title">@ProductListHelper.GetHeader(columnDef.PropertyName)</h3>
                                <SfListBox @key="columnDef.PropertyName" @ref="listBoxes[columnDef.PropertyName]" Height="215px" TValue="string[]" DataSource="@items" TItem="string">
                                    <ListBoxSelectionSettings Mode="Syncfusion.Blazor.DropDowns.SelectionMode.Multiple" ShowCheckbox="true"></ListBoxSelectionSettings>
                                    <ListBoxEvents TValue="string[]" ValueChange="@((args)=>OnChange(args,columnDef.PropertyName))" TItem="string"></ListBoxEvents>
                                    <ListBoxFieldSettings Text="@columnDef.PropertyName" Value="@columnDef.PropertyName"></ListBoxFieldSettings>
                                </SfListBox>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">

        <SfGrid @ref="gridInstance" RowHeight="125" EnableStickyHeader=true AllowFiltering="@true" AllowTextWrap="@true" AllowPaging="@true" DataSource="@Items" AllowSelection="false" AllowSorting="true">
            <GridEvents OnActionBegin="@ActionBegin" Created="@OnGridCreated" TValue="@TValue"></GridEvents>
            <GridTextWrapSettings WrapMode="@WrapMode.Both"></GridTextWrapSettings>
            <GridPageSettings CurrentPage="@CurrentPage" PageSize="10"></GridPageSettings>
            <GridColumns>
                @{
                    var columns = CompiledSelectors<TValue>.Columns.Values;
                    <GridColumn Field="@nameof(CompiledSelectors<TValue>.ImageFileLink)"
                            HeaderText="Part #"
                            Width="310"
                            ClipMode="ClipMode.EllipsisWithTooltip"
                            Visible="true"
                            TextAlign="TextAlign.Left"
                            AllowFiltering="false">
                        <Template>
                            @{
                                var plv = (context as TValue);
                                string price =  plv.Msrp;
                                string currency=null;
                                if (double.TryParse(price, out double value))
                                {
                                    // Format the string as currency with two decimal places
                                    currency = string.Format(new CultureInfo("en-US"), "{0:C2}", value);

                                    // Output: $12.34
                                    Console.WriteLine(currency);
                                }

                                <div class="product-list-partnumber-container">
                                    <a href="/product/@plv.PartNumber/">
                                        <div class="product-list-image-container">
                                            <img class="img-maintain-aspect-ratio" alt="Main Image of @plv.PartNumber" src="@plv.ImageFileLink" />
                                        </div>
                                    </a>
                                    <div class="product-list-text-container">
                                        <a class="product-list-text-partnumber text-color-@Theme.Id" href="/product/@plv.PartNumber">@plv.PartNumber</a>
                                        <p class="product-list-text-description">@plv.Description</p>
                                        <p class="product-list-text-msrp">@currency</p>
                                    </div>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                    foreach (var columnDef in columns.OrderBy(x => x.PropertyName))
                    {
                        if (columnDef.PropertyName == "ProductId" 
                        || columnDef.PropertyName == "ImageFileLink"
                        || columnDef.PropertyName == "Description"
                        || columnDef.PropertyName == "PartNumber"
                        || columnDef.PropertyName == "Msrp" 
                        ) continue;

                        <GridColumn Field="@columnDef.PropertyName" Width="200" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="@ProductListHelper.GetHeader(columnDef.PropertyName)" Format="@columnDef.Format" Visible="@columnDef.Visible"></GridColumn>
                    }
                }
            </GridColumns>
        </SfGrid>
    </div>
</LoadingComponent>

<style>
    tr.e-filterbar {
        display: none;
    }

    .img-maintain-aspect-ratio {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .product-list-partnumber-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .product-list-image-container {
        display: flex;
        align-content: center;
        height: 70px;
        width: 80px;
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
    }

    .product-list-text-container {
        text-align: left;
        margin: 0.75rem;
    }

    div.product-list-text-container p {
        white-space: pre-wrap;
        margin: 0;
        padding: 0;
    }

    .product-list-text-partnumber {
        font-weight: 500;
        font-size: 14.5px;
    }

    .product-list-text-description {
        font-size: 12px;
        line-height: 12.5px;
    }

    .product-list-text-msrp {
        font-weight: 400;
        color: green;
        font-size: 14px;
    }


    .boxfilter-title {
        color: #222222;
        padding: 12px;
        font-size: 15px;
        font-weight: bold;
        line-height: 14px;
        border-bottom: 1px solid #CCCC;
        margin-bottom: 0;
    }

    .boxfilter-card {
        background-color: #ffffff;
    }
</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    public ObservableCollection<TValue> Items { get; set; }

    private SfGrid<TValue> gridInstance;
    private Dictionary<string, SfListBox<string[], string>> listBoxes = new Dictionary<string, SfListBox<string[], string>>();


    private CancellationTokenSource cancellationTokenSource = new();
    private bool loading = true;

    [Parameter]
    public string CategoryTableName { get; set; }

    private int _page = 1;
    [Parameter, EditorRequired]
    [SupplyParameterFromQuery]
    public int CurrentPage
    {
        get { return _page; }
        set { _page = value == 0 ? 1 : value; }
    }

    [Parameter, EditorRequired]
    [SupplyParameterFromQuery]
    public string Filters { get; set; } = "";

    private CategoryPageDTO<TValue> pageData;
    protected override async Task OnInitializedAsync()
    {
        List<TValue> allItems = new();
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        try
        {
            pageData = await httpClient.GetFromJsonAsync<CategoryPageDTO<TValue>>($"api/CategoryList/PageData/{CategoryTableName}", cancellationTokenSource.Token);
            allItems = pageData.Data;
            if (StateService.ProductIndexPageDTO != null)
            {
                //only waste filtering time if more than one product
                if (StateService.ProductIndexPageDTO.TotalCount > 1)
                {
                    var specificModels = StateService.ProductIndexPageDTO.Caterogies.Where(x => x.TableName == CategoryTableName).FirstOrDefault().ProductsFound;
                    allItems = allItems.Where(y => specificModels.Any(x => (y.PartNumber?.Contains(x, StringComparison.OrdinalIgnoreCase) ?? false))).ToList();
                }
            }
        }
        catch
        {

        }
        Items = new ObservableCollection<TValue>(allItems);
        loading = false;
    }

    private bool isGridCreating = true;
    public async Task OnGridCreated(object args)
    {
        if (Filters != null)
        {
            var filterArray = Filters.Split("~").AsEnumerable();
            filterArray = filterArray.SkipLast(1);
            foreach (var fi in filterArray)
            {
                if (listBoxes.Count > 0)
                {
                    await listBoxes[fi.Split("_")[0]].SelectItemsAsync<string>(fi.Split("_")[1], true);
                }
            }
        }
        isGridCreating = false;
    }

    public void ActionBegin(ActionEventArgs<TValue> args)
    {
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Paging)
        {
            args.Cancel = true; // prevent the default action.
            Navigate.NavigateTo($"/product-list/{CategoryTableName}/?CurrentPage={args.CurrentPage}&Filters={Filters}", false, true);
        }
    }

    private async Task OnChange(ListBoxChangeEventArgs<string[], string> args, string field)
    {

        if (args.Value == null)
        {
            await gridInstance!.ClearFiltering(field);
        }
        else
        {
            await gridInstance!.FilterByColumn(field, "equal", args.Value);
        }

        var filteredData = await gridInstance.GetFilteredRecords();
        List<TValue> filteredList = filteredData as List<TValue>;  //JsonConvert.DeserializeObject<List<TValue>>(JsonConvert.SerializeObject(filteredData));

        foreach ((string prop, var listbox) in listBoxes)
        {
            var availableValues = filteredList.Select(p => CompiledSelectors<TValue>.PropFilters[prop](p)).Distinct().ToList();
            listbox.EnableItems(listbox.DataSource.Except(availableValues), false);
            listbox.EnableItems(availableValues, true);
        }

        ////rebuild filters
        Filters = string.Empty;
        foreach (var lb in listBoxes)
        {
            if (lb.Value.Value == null)
            {
                continue;
            }
            if (lb.Value.Value.Count() > 0)
            {
                Filters += lb.Key + "_" + lb.Value.Value.FirstOrDefault() + "~";
            }

        }
        if (!isGridCreating)
        {
            Navigate.NavigateTo($"product-list/{CategoryTableName}/?CurrentPage={CurrentPage}&Filters={Filters}");
        }
    }


    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }

}
