﻿@page "/product-list/{TableParameter}"

<PageTitle>Product List - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Product List page">
</HeadContent>


@if (TableParameter == "A_Alligator_CT")
{
    <CategoryListComponent TValue="@AvAlligatorCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_Banana_CT")
{
    <CategoryListComponent TValue="@AvBananaCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_BindingPost_CT")
{
    <CategoryListComponent TValue="@AvBindingPostCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_CoaxialAssemblies_CT")
{
    <CategoryListComponent TValue="@AvCoaxialAssembliesCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_CoaxialsAdapters_CT")
{
    <CategoryListComponent TValue="@AvCoaxialsAdaptersCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_CoaxialsAttenuators_CT")
{
    <CategoryListComponent TValue="@AvCoaxialsAttenuatorsCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_CoaxialsTerminators_CT")
{
    <CategoryListComponent TValue="@AvCoaxialsTerminatorsCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}


else if (TableParameter == "A_DigitalMultimeter_CT")
{
    <CategoryListComponent TValue="@AvDigitalMultimeterCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_GrabbersandHooks_CT")
{
    <CategoryListComponent TValue="@AvGrabbersandHooksCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_Kits_CT")
{
    <CategoryListComponent TValue="@AvKitsCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_OscilloscopeCurrent_CT")
{
    <CategoryListComponent TValue="@AvOscilloscopeCurrentCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else if (TableParameter == "A_OscilloscopeDifferential_CT")
{
    <CategoryListComponent TValue="@AvOscilloscopeDifferentialCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_OscilloscopeHighVoltage_CT")
{
    <CategoryListComponent TValue="@AvOscilloscopeHighVoltageCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_OscilloscopePassiveVoltage_CT")
{
    <CategoryListComponent TValue="@AvOscilloscopePassiveVoltageCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_ProbeAccessories_CT")
{
    <CategoryListComponent TValue="@AvProbeAccessoriesCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_SpadeLugs_CT")
{
    <CategoryListComponent TValue="@AvSpadeLugsCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_TestLeadAssemblies_CT")
{
    <CategoryListComponent TValue="@AvTestLeadAssembliesCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

else if (TableParameter == "A_TestLeadWire_CT")
{
    <CategoryListComponent TValue="@AvTestLeadWireCtDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}
else
{
    <CategoryListComponent TValue="@VBaseProductListDTO" CategoryTableName="@TableParameter" CurrentPage="@CurrentPage" Filters="@Filters"></CategoryListComponent>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme{ get; set; }

    [Parameter]
    public string TableParameter { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int CurrentPage { get; set; }
    [SupplyParameterFromQuery]
    [Parameter]
    public string Filters { get; set; } = "";

}
