﻿@page "/administrator"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Admin Panel</PageTitle>

<Jumbotron Title="Admin Panel" ImageLink="https://as.caltestelectronics.com/public/images/homepage/service_image.svg">
</Jumbotron>
<div class="container">
    <div class="row">
        @foreach (var parent in AdminModule.Parents())
        {
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm mx-auto">
                    <div class="card-header">
                        @parent
                    </div>
                    @foreach (AdminModule adminModule in AdminModules.Where(x => x.Parent == parent))
                    {

                        <div class="card-body">
                            <div class="card-text"></div>
                        </div>
                        <SfButton CssClass="e-btn e-primary" @onclick="@(e => ClientHelper.NavigateToUrlAsync(JsRuntime,NavigationManager,adminModule.NavUrl,false))">@adminModule.Title - @adminModule.SubTitle</SfButton>

                    }
                </div>
            </div>
        }
    </div>
</div>
<style>
    .card-header {
        height: 60px;
    }

    .card-body {
        height: 300px;
    }
</style>

@code {
    [Inject] public NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JsRuntime { get; set; }
    public string SearchValue { get; set; }
    public string SortingValue { get; set; }
    public string[] FilteringValue { get; set; }

    public List<AdminModule> AdminModules = AdminModule.GetModules();
    public List<string> SortingType = new List<string>() { "Ascending", "Descending" };

    public class AdminModule
    {
        public string Page { get; set; }
        public string Parent { get; set; }
        public string Title { get; set; }
        public string NavUrl { get; set; }
        public string SubTitle { get; set; }
        public AdminModule() { }
        public AdminModule(string Page, string Parent, string Title = "", string SubTitle = "")
        {
            this.Parent = Parent;
            this.Title = string.IsNullOrWhiteSpace(Title) ? Page : Title;
            this.SubTitle = SubTitle;
            this.NavUrl = "administrator/Admin" + Page;
        }
        public AdminModule(string Page, string Parent, string SubTitle)
        {
            this.Parent = Parent;
            this.Title = string.IsNullOrWhiteSpace(Title) ? Page : Title;
            this.SubTitle = SubTitle;
            this.NavUrl = "administrator/Admin" + Page;
        }


        public static List<string> Parents()
        {
            return GetModules().Select(x => x.Parent).DistinctBy(x => x).ToList();
        }

        public static List<AdminModule> GetModules()
        {
            List<AdminModule> AdminModules = new List<AdminModule>();
            AdminModules.Add(new AdminModule(nameof(Article.ArticlePage), "KB Articles", "Articles", "Create a Knowledge Base Article"));
            AdminModules.Add(new AdminModule(nameof(Article.ArticleSeriesPage), "KB Articles", "ArticleSeries", "Associate KB Article to Series"));

            AdminModules.Add(new AdminModule(nameof(Utility.BarcodePage), "Utility", "Barcode Generator", "Create QR and barcodes"));

            AdminModules.Add(new AdminModule(nameof(Modules.HomeModulePage), "Page-specifc Modules", "Homepages", "Edit featured product/video on Homepage"));
            AdminModules.Add(new AdminModule(nameof(Modules.CompanyDocumentPage), "Page-specifc Modules", "Company Documents", "Upload Company Documents"));

            AdminModules.Add(new AdminModule(nameof(Distributor.AuthorizedDistributorPage), "Distributor", "Distributors (Where To Buy Page)", "Edit Distributors"));
            AdminModules.Add(new AdminModule(nameof(Distributor.UsersPage), "Distributor", "Users (Distributor Access)", "Edit Distributors"));
            AdminModules.Add(new AdminModule(nameof(Distributor.DistributorAuthorizedDomainPage), "Distributor", "Authorized Domains (Distributor Access)", "Edit Distributors"));
            AdminModules.Add(new AdminModule(nameof(Distributor.DistributorStockPage), "Distributor", "Distributor Stock (Where To Buy Page)", "Edit Distributors"));



            AdminModules.Add(new AdminModule(nameof(Category.GroupPage), "Categories", "Groups", "Edit Groups on Product Index page"));
            AdminModules.Add(new AdminModule(nameof(Category.CategoryPage), "Categories", "Category", "Edit Categories"));
            AdminModules.Add(new AdminModule(nameof(Category.CategoryGroupPage), "Categories", "Category Groups", "Associate Categories to a Group"));

            AdminModules.Add(new AdminModule(nameof(Product.ProductPage), "Products", "Products (Product Page, Product List)", "Create and associate Products (SKUs) to Series"));
            AdminModules.Add(new AdminModule(nameof(Product.ErpInventoryPage), "Products", "Erp Inventory Data (Automatic)", "Edit Inventory Data"));
            AdminModules.Add(new AdminModule(nameof(Product.BkGsStockPage), "Products", "BkGs Stock Data (Automatic)", "Edit BK's GS Stock Data"));

            AdminModules.Add(new AdminModule(nameof(Series.PressReleasePage), "Series", "Marketing Releases (Product Release Page)", "Edit MarketingRelease"));
            AdminModules.Add(new AdminModule(nameof(Series.SeriesAttachmentPage), "Series", "Series Attachments (Product Page)", "Edit Series Attachments"));
            AdminModules.Add(new AdminModule(nameof(Series.SeriesPage), "Series", "Series (Product Page, Product List)", "Create Series information"));
            AdminModules.Add(new AdminModule(nameof(Series.SeriesRelatedPage), "Series", "Series Related (Related Series section)", "Associate Series to another Series"));

            AdminModules.Add(new AdminModule(nameof(TestLeadBuilder.TlbConnectorPage), "Test Lead Builder", "1. Connectors", "Edit possible Connector selection"));
            AdminModules.Add(new AdminModule(nameof(TestLeadBuilder.TlbWirePage), "Test Lead Builder", "2. Wires", "Edit possible Wire selection"));
            AdminModules.Add(new AdminModule(nameof(TestLeadBuilder.TlbColorPage), "Test Lead Builder", "3. Colors", "Edit possible Tlb Colors"));
            AdminModules.Add(new AdminModule(nameof(TestLeadBuilder.TlbLengthPage), "Test Lead Builder", "4. Lengths", "Edit possible Length options"));
            AdminModules.Add(new AdminModule(nameof(TestLeadBuilder.TlbPage), "Test Lead Builder", "Test Leads", "Combine possible options to form a Test Lead"));


            AdminModules.Add(new AdminModule(nameof(WebForms.ContactFormPage), "Web Forms", "Contact Forms", "View Submitted Contact Forms"));
            AdminModules.Add(new AdminModule(nameof(WebForms.RmaFormPage), "Web Forms", "RMA Forms", "View Submitted RMA Forms"));
            AdminModules.Add(new AdminModule(nameof(WebForms.TlbQuoteFormPage), "Web Forms", "TlbQuoteForms", "View Submitted TlbQuoteForms"));


            AdminModules.Add(new AdminModule(nameof(Distributor.UsersPage), "Users", "Users (Admin Access)", "Edit Users"));
            return AdminModules;
        }

    }
}
