﻿@page "/administrator/AdminCategoryGroupPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<CategoryGroupPage> Logger

<PageTitle>@nameof(CategoryGroupPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@CategoryGroup"
                           SortField="@nameof(CategoryGroup.Id)"
                           OdataUrl="@AdminHelper.OdataHelper.CategoryGroupsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.CategoryGroupsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(CategoryGroup.Id)" />
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(CategoryGroup.GroupId)"
                                       TValue="@AdminHelper.GroupDTO"
                                       ForeignDataSource="@groups"
                                       ForeignKeyField="@nameof(AdminHelper.GroupDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.GroupDTO.Name)"
                                       HeaderText="Group Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(CategoryGroup.CategoryId)"
                                       TValue="@AdminHelper.CategoryDTO"
                                       ForeignDataSource="@categories"
                                       ForeignKeyField="@nameof(AdminHelper.CategoryDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.CategoryDTO.DisplayName)"
                                       HeaderText="Category Display Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>
@code {
    public SfGrid<CategoryGroup> grid;
    private List<AdminHelper.CategoryDTO> categories { get; set; }
    private List<AdminHelper.GroupDTO> groups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        categories = await ODataResponseHelper<AdminHelper.CategoryDTO>.GetODataResponseValue($"Category?$select={nameof(AdminHelper.CategoryDTO.Id)},{nameof(AdminHelper.CategoryDTO.DisplayName)}", httpClient);
        groups = await ODataResponseHelper<AdminHelper.GroupDTO>.GetODataResponseValue($"Group?$select={nameof(AdminHelper.GroupDTO.Id)},{nameof(AdminHelper.GroupDTO.Name)}", httpClient);
    }
}
