﻿@page "/administrator/AdminGroupPage"
@attribute [Authorize(Roles = "Administrator")]
<PageTitle>@nameof(GroupPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@Group"
                           OdataUrl="@AdminHelper.OdataHelper.GroupsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.GroupsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(Group.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(Group.Name)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(Group.Description)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(Group.Description)</p>
                            <SfTextBox ID="@nameof(Group.Description)" @bind-Value="@((context as Group).Description)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Group.ImageFileLink)">
                        <Template>
                            <ImageColumnTemplateComponent Src="@((context as Group).ImageFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Document</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.Group"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as Group).ImageFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(Group)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Link</p>
                            <SfTextBox ID="@nameof(Group.ImageFileLink)" @bind-Value="@((context as Group).ImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <BrandColumn>
                        <EditTemplate>
                            <p>@nameof(Group.Brand)</p>
                            <SfDropDownList ID="Brand" @bind-Value="@((context as Group).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </BrandColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>
@code {
    public AdminGridBase<Group> grid;
}
