﻿@page "/legal/cookie-policy"

<PageTitle>Cookie Policy - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Cookie Policy page">
</HeadContent>

<div class="container content">
    <h1>Cookie Policy</h1>
    <div class="row">
        <div class="w-80">
            <div class="text-cols">
                <h4><strong>What are cookies?</strong></h4>
                <p>Cookies are simple text files that are stored on your computer or mobile device by a website’s server. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier, website’s domain name, and some digits and numbers.</p>
                <h4><strong>What type of cookies do we use?</strong></h4>
                <p><i>Necessary cookies</i></p>
                <p>Necessary cookies allow us to offer you the best possible experience when accessing and navigating through our website and using its features. For example, these cookies let us recognize that you have created an account and have logged into that account.</p>
                <p><i>Functionality cookies</i></p>
                <p>Functionality cookies let us operate the site in accordance with the choices you make. For example, we will recognize your username and remember how you customized the site during future visits.</p>
                <p><i>Analytical cookies</i></p>
                <p>These cookies enable us and third-party services to collect aggregated data for statistical purposes on how our visitors use the website. These cookies do not contain personal information such as names and email addresses and are used to help us improve your user experience of the website.</p>
                <h4><strong>How to delete cookies?</strong></h4>
                <p>If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting. Alternatively, you can visit www.internetcookies.com, which contains comprehensive information on how to do this on a wide variety of browsers and devices. You will find general information about cookies and details on how to delete cookies from your device.</p>
                <h4><strong>Cookies</strong></h4>
                <p>
                    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies
                    are sent to your browser from a web site and stored on your computer’s hard drive.
                </p>
                <p>
                    We use “cookies” to collect information. You can instruct your browser to refuse all cookies or to
                    indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use
                    some portions of our site.
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
