﻿@page "/legal/logo-usage"

<PageTitle>Logo Usage - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Logo Usage page">
</HeadContent>
<div class="container content">
    <h1>@Theme.Name Logo Usage Guidelines</h1>
    <div class="row">
        <h4>Usage</h4>
        <p>
            All @Theme.Name logos, including the names and logos set forth herein, are trademarks of @Theme.FormattedName. These logos shall not be altered or redrawn in any way, and are useable only by licensed or authorized entities for applications approved by @Theme.FormattedName. Changing of elements, regardless of intent, detracts from the brand consistency of @Theme.Name trademarks and logos.
        </p>
        @if (Theme.Id == BrandHelper.BK.Id)
        {
            <p>B&K Precision, with an ampersand between the B and the K, is for reference to the company as an entity, while B+K Precision–with a plus symbol is only used within the logo itself.</p>
            <h4>Specific Guidelines</h4>
            <ul>
                <li>The blue and red colored backgrounds (fields) comprising the overall "rectangle" of the logo, must maintain their shapes, proportions, and colors.</li>
                <li>The "B+K Precision®" and the "Electronic Test Instruments" text elements should always be colored solid white, and sit on their blue and red color fields, respectively. Each text body should also be centered vertically and horizontally within its respective color field.</li>
                <li>A clear space of minimum 0.25 inches (or 0.5 centimeters) should surround the logo to separate and differentiate it from other elements.</li>
                <li>No other symbols, elements, words, designs, etc. should be combined with the B&amp;K Precision logo.</li>
                <li>Do not stretch or distort the logo.</li>
                <li>Do not enclose the logo in any shapes.</li>
                <li>Do not use the "B&amp;K Precision" portion of the logo independently. This usage is reserved for B&amp;K Precision manufacturing and corporate applications only, unless other specific application use is approved in writing.</li>
                <li>It is not acceptable to print or apply the logo in any colors other than those specified herein.</li>
            </ul>
        }

        <h4>@Theme.Name Logos</h4>
        <p>There are two "color" versions of the @Theme.Name logo meant for public use. One is CMYK, for printing purposes, and the other is RGB, for on-screen use, such as web or video. For correct results, use the correct version for your application.</p>
        @if (Theme.Id == BrandHelper.BK.Id)
        {
            <div class="col-sm-4">
                <h5>Pantone® Matching System (PMS) Colors</h5>
                <p>Blue color: PMS 541 <br> Red color: PMS 193</p>
            </div>
            <div class="col-sm-4">
                <h5>CMYK color equivalents for print</h5>
                <p>PMS 541: 100% C, 58% M, 9%Y, 46% K <br> PMS 193: 2% C, 99% M, 62% Y, 11% K</p>
            </div>
            <div class="col-sm-4">
                <h5>RGB color equivalents for screen</h5>
                <p>PMS 541: R: 0 G: 60 B: 113 <br> PMS 193: R: 191 G: 13 B: 62</p>
            </div>

            <p><i>The CMYK EPS file can be scaled without loss of quality.</i></p>
            <h5>Screen/Web (right click the file and select "save as")</h5>
            <img class="img-fluid" src="https://l.bkprecision.com/images/logo/bklogo_rgb_screen245.png" alt="RGB PNG file 245px wide">
            <p>RGB PNG file (245px wide)</p>
            <img class="img-fluid" src="https://l.bkprecision.com/images/logo/bklogo_rgb_screen350.png" alt="RGB PNG file 350px wide">
            <p>RGB PNG file (350px wide)</p>
            <p>CMYK (Scalable Vector) <a class="font-bold hover:underline" href="https://l.bkprecision.com/images/logo/bklogo_cmyk_print.eps">EPS file</a></p>
        }
        else
        {
            <h5>Screen/Web (right click the file and select "save as")</h5>
            <img class="img-fluid" src="@Theme.HiResLogoImageFileLink" alt="RGB PNG file">
            <p>RGB PNG file</p>

        }
        <h5>Contact Information</h5>
        <p>If you have specific questions about use of the logo, and any @Theme.Name trademarks, use our website's <a href="/support/contact/other">general contact form</a> to send us a message.</p>
        <h5>Terms and Conditions</h5>
        <p>The logos provided are for promotion, advertising, co-promotion, or marketing use by authorized entities only. The @Theme.Name brand, name, logo, corporate identity are protected by copyright and trademark, and their use is governed by the rights provided by these protections.</p>

    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

}
