﻿@page "/legal/privacy-policy"
@page "/legal/terms-of-service"

<PageTitle>Privacy Policy - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Privacy Policy page">
</HeadContent>

<div class="container content">
    <h1>Privacy Policy</h1>
    <div class="row">
        <div class="w-80">
            <div class="text-cols">
                <p>
                    This privacy policy subject to change without notice. The policies specified herein supersede any
                    previous or other privacy policies pertaining to @Theme.Name websites, and found elsewhere on
                    this website (www.@Theme.ApexDomain), or other @Theme.Name websites or partner sites including
                    @string.Join(", ",BrandHelper.Brands.Select(x=>x.ApexDomain))
                    and any other @Theme.Name website properties
                    within the
                    @Theme.ApexDomain top level domain and sub domains.
                </p>
                <p>
                    This Policy sets forth the terms and conditions ("Terms and Conditions") governing your use of all sites
                    within the @Theme.ApexDomain domain.
                </p>
                <p>
                    This Policy applies to personally identifiable information, or "personal information," that we collect
                    when you sign up for a newsletter, submit personal information via a form on a @Theme.ApexDomain
                    website, or visit any of our websites (collectively, the "site"). It also applies to personal information
                    we collect when you otherwise interact with us, such as when you make a payment, place an order, or
                    contact customer service. This Policy also applies to personal information that we may receive from our
                    partners and third-party sources.
                </p>
                <h4><strong>Personal Information</strong></h4>
                <p>
                    Personal information under this Policy is personal information that we directly associate with a specific
                    person such as the person's name, address, phone or fax number, email address, account information (e.g.,
                    credit card information and online registration), online activities or other specific personal
                    information. Our definition of personal information does not include "aggregate" personal information;
                    this includes information that we may collect about a group or category of services or people that does
                    not contain any personal information or from which we or our agents remove any personal information.
                </p>
                <h4><strong>Collection of Personal Information</strong></h4>
                <p>
                    We collect personal information when you sign up for services directly, purchase products directly via
                    any number of upgrade or replacement programs, or when you email, call or otherwise communicate with us.
                </p>
                <p>
                    In some instances, the personal information we ask you to provide will be mandatory for purposes of
                    participating in a particular activity or service. If you do not provide this personal information, your
                    participation may be limited or prohibited.
                </p>
                <p>
                    We receive certain types of personal information automatically whenever you use our services. For
                    example, when your web browser accesses our site, we obtain certain types of personal information, such as
                    your IP address, the type of browser you use, and the page you visited before visiting our site.
                </p>
                <p>
                    We may receive personal information about you from other sources, such as contest participation, or
                    product referrals by your colleagues.
                </p>
                <p>
                    This Policy applies to personal information we obtain from other sources as well as to any personal
                    information that we add to or combine with personal information otherwise covered by this Policy.
                </p>
                <h4><strong>Our Use of Personal Information</strong></h4>
                <p>
                </p><ul>
                    <li>We may use your personal information to verify and validate your identity.</li>
                    <li>
                        If you submit a job application or resume to us, we may use the personal information in the
                        application or resume to communicate with you and, subject to laws and regulations that govern our
                        consideration of that personal information, to evaluate your qualifications for employment.
                    </li>
                    <li>
                        We keep information as a record of our interactions with you. If you place an order or otherwise deal
                        with us over the telephone, we may record the details of the conversation. Personal information
                        referenced in the call may be recorded or entered into another media (e.g., a computer). We may also
                        keep logs of emails we receive from you.
                    </li>
                </ul>
                <p></p>
                <p>
                    It is not possible to list every lawful use that we might make of personal information and the above
                    examples are not intended to do so - they are only a general description and are for illustration.
                </p>
                <h4><strong>Disclosure of Personal Information</strong></h4>
                <p>
                    We may disclose personal information to third parties who complete transactions or perform services on
                    our behalf, transactions on your behalf, or transfers related to providing products or services to you.
                    Through contracts with such third parties, we restrict the manner in which they may use and disclose
                    personal information about you without your consent.
                </p>
                <p>
                    We may disclose personal information to comply with the law (e.g., a lawful subpoena); to enforce or
                    apply any contracts or agreements; to initiate, render, bill, and collect for products or services; to
                    protect our rights or property; in connection with claims, disputes, or litigation; to protect ourselves,
                    our members, and other customers from the harmful acts of others (e.g., theft, fraud, or abuse); or if we
                    determine disclosure of personal information is necessary in an emergency.
                </p>
                <p>
                    @Theme.Name does not sell or rent your contact information to other marketers. Because we do not
                    sell directly, where required, your contact information may be given to one of our distributors if you are
                    seeking to purchase our products.
                </p>
                <h4><strong>Cookies</strong></h4>
                <p>
                    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies
                    are sent to your browser from a web site and stored on your computer’s hard drive.
                </p>
                <p>
                    We use “cookies” to collect information. You can instruct your browser to refuse all cookies or to
                    indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use
                    some portions of our Service.
                </p>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
