﻿@page "/culture-example-1"
@using System.Globalization
@inject IToastService ToastService
<AuthorizeView Roles="Administrator">
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li><b>@claim.Type</b>: @claim.Value</li>
        }
    </ul>
</AuthorizeView>
<C_SpinLoadingAnimationV2/>

<h1>Culture Example 1</h1>
<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<h2>Rendered values</h2>

<ul>
    <li><b>Date</b>: @dt</li>
    <li><b>Number</b>: @number.ToString("N2")</li>
</ul>

<h2><code>&lt;input&gt;</code> elements that don't set a <code>type</code></h2>

<p>
    The following <code>&lt;input&gt;</code> elements use
    <code>CultureInfo.CurrentCulture</code>.
</p>

<ul>
    <li><label><b>Date:</b> <input @bind="dt" /></label></li>
    <li><label><b>Number:</b> <input @bind="number" /></label></li>
</ul>

<h2><code>&lt;input&gt;</code> elements that set a <code>type</code></h2>

<p>
    The following <code>&lt;input&gt;</code> elements use
    <code>CultureInfo.InvariantCulture</code>.
</p>

<ul>
    <li><label><b>Date:</b> <input type="date" @bind="dt" /></label></li>
    <li><label><b>Number:</b> <input type="number" @bind="number" /></label></li>
</ul>


@code {
    private DateTime dt = DateTime.Now;
    private double number = 1999.69;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.SuccessMessageSent);
                
        await Task.Delay(3000);
        var customToastModel = new ToastModel
            {
                Title = "Custom Title",
                Content = "This is a custom toast notification.",
                CssClass = "e-toast-info",
                Timeout = 5000
            };
        await ToastService.ShowCustomToastAsync(customToastModel);

        await Task.Delay(3000);
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.NetworkWarning);

        await Task.Delay(3000);
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.LengthAndColor);

        await Task.Delay(3000);
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.PartBuiltSuccessfully);

    }
}