﻿@page "/administrator/AdminTlbColorPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(TlbColorPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadColor"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadColorsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadColorsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadColor.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadColor.ColorId)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadColor.Name)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadColor.HexCode)">
                        <Template>
                            <span style="width: 30px; height: 30px; margin: auto; display: inline-block; border: 1px solid gray; vertical-align: middle; border-radius: 2px; background: @((context as TestLeadColor).HexCode) "></span>
                        </Template>
                        <EditTemplate>
                            <p>Color HexCode</p>
                            <SfColorPicker ID="@nameof(TestLeadColor.HexCode)" @bind-Value="(context as TestLeadColor).HexCode" ModeSwitcher="false"></SfColorPicker>
                        </EditTemplate>
                    </GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<TestLeadColor> grid;
}
