﻿@page "/administrator/AdminTlbWirePage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(TlbWirePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadWire"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadWiresUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadWiresUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadWire.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.PartNumber)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(TestLeadWire.Description)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.MaxCurrent)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.Material)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.ConductorAreaMm2)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.Gauge)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.Strands)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.StrandDiameterMm)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.LeadodMm)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.LeadodIn)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadWire.CostPerCentimeter)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>



@code {
    private AdminGridBase<TestLeadWire> grid;
}
