﻿@page "/support/contact/{Reason}"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@cardHeader @Localizer["Form"] - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @cardHeader @Localizer["Form"] @Localizer["page"]">
</HeadContent>


<div class="bg-light">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                    @Localizer["form_first_come_message"]
                </div>
                <div class="card">
                    <h3 class="card-header">@cardHeader</h3>
                    <p class="card-body">@cardBody</p>
                </div>
            </div>
            <div class="col-md-6">
                <ContactFormComponent Reason="@Reason" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Reason { get; set; }

    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private string cardHeader;
    private string cardBody;

    protected override void OnParametersSet()
    {
        if (Reason == "sales")
        {
            cardHeader = @Localizer["Contact Sales"];
            cardBody = @Localizer["form_sales_message"];
        }
        else if (Reason == "techsupport")
        {
            cardHeader = @Localizer["Technical Support"];
            cardBody = @Localizer["form_technical_support_message"];
        }
        else if (Reason == "other")
        {
            cardHeader = @Localizer["General Requests"];
            cardBody = @Localizer["form_other_message"];
        }
        else
        {
            //default to general requests for all other parameters
            cardHeader = @Localizer["General Requests"];
            cardBody = @Localizer["form_other_message"];
            Reason = "other";
        }
    }

}
