﻿@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<ContactFormComponent> Logger
@inject IToastService ToastService
@inject IStringLocalizer<SharedResources> Localizer

@implements IDisposable

@if (formSucceeded)
{
    <div class="card shadow-sm rounded-3 p-4 bg-white">
        <p>@Localizer["Thank you for your submission."]</p>
        <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" OnClick="@ResetForm">@Localizer["Submit another form"]</SfButton>
    </div>
}
else
{
    <EditForm EditContext="@editContext" OnSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <div class="card shadow-sm rounded-3 p-4 bg-white">
            <label class="col-form-label label-required">@Localizer["Contact Reason"]</label>
            <SfDropDownList Readonly=@true TValue="string" TItem="ContactFormHelper.ContactReason" @bind-Value="@contactForm.ContactReasonChoice" DataSource="@ContactFormHelper.ContactReasons">
                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
            <ValidationMessage For="@(() => contactForm.ContactReasonChoice)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["First Name"]</label>
            <SfTextBox @bind-Value="@contactForm.FirstName"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.FirstName)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Last Name"]</label>
            <SfTextBox @bind-Value="@contactForm.LastName"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.LastName)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Phone"]</label>
            <SfTextBox @bind-Value="@contactForm.Phone"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Phone)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Phone Ext"] #</label>
            <SfTextBox @bind-Value="@contactForm.PhoneExt"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.PhoneExt)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Email"]</label>
            <SfTextBox @bind-Value="@contactForm.Email"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Email)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Company"]</label>
            <SfTextBox @bind-Value="@contactForm.Company"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Company)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Address 1"]</label>
            <SfTextBox @bind-Value="@contactForm.Address1"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Address1)"></ValidationMessage>

            <label class="col-form-label">@Localizer["Address 2"]</label>
            <SfTextBox @bind-Value="@contactForm.Address2"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Address2)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["City"]</label>
            <SfTextBox @bind-Value="@contactForm.City"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.City)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["State or Province"]</label>
            <SfTextBox @bind-Value="@contactForm.StateOrProvince"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.StateOrProvince)"></ValidationMessage>

            <label class="col-form-label label-required">@Localizer["Postal Code"]</label>
            <SfTextBox @bind-Value="@contactForm.PostalCode"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.PostalCode)"></ValidationMessage>

            <LoadingComponent IsLoading="@isLoading">
                <label class="col-form-label label-required">@Localizer["Country"]</label>
                <SfComboBox TItem="string" TValue="string" AllowCustom="false" Autofill="true" DataSource="CteCore.Utility.CountryList()" @bind-Value="@contactForm.Country">
                </SfComboBox>
                <ValidationMessage For="@(() => contactForm.Country)"></ValidationMessage>
            </LoadingComponent>

            <label class="col-form-label label-required">@Localizer["Message"]</label>
            <SfTextBox Multiline="@true" @bind-Value="@contactForm.Message"></SfTextBox>
            <ValidationMessage For="@(() => contactForm.Message)"></ValidationMessage>

            <label>@(!string.IsNullOrEmpty(contactForm.Message) ? (contactForm.Message.Count().ToString()+"/1024"):"0/1024")</label>

            <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" Disabled="@(isSubmitting)">@Localizer["Submit"]</SfButton>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
    [Parameter]
    public string Reason { get; set; }

    private bool formSucceeded = false;

    private ContactFormDTO contactForm = new();
    private EditContext editContext;
    private bool isLoading = true;
    private bool isSubmitting = false;
    private CancellationTokenSource cancellationTokenSource = new();

    protected override void OnParametersSet()
    {
        editContext = new(contactForm);

        contactForm.Brand = Theme.Id;

        if (Reason == "sales")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.SalesReason.Value;
        }
        else if (Reason == "techsupport")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.TechSupportReason.Value;
        }
        else if (Reason == "other")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        else
        {
            //default to general requests
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        isLoading = false;
    }

    public async Task OnSubmit()
    {
        Logger.LogInformation("Submit ContactForm");
        bool isValid = editContext.Validate();
        // Maybe the button is not yet disable, be sure to not reprocess the event in this case
        if (isSubmitting)
        {
            return;
        }
        if (isValid == false)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.ReadCommentsCarefully);
            return;
        }

        isSubmitting = true;
        //upload function
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        var results = await httpClient.PostAsJsonAsync("api/ContactForm/", contactForm, cancellationTokenSource.Token);

        if (results.IsSuccessStatusCode)
        {
            await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.SuccessMessageSent);
            isSubmitting = false;
            formSucceeded = true;
            return;
        }
        await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.DataSubmissionError);
        isSubmitting = false;

    }

    private void ResetForm()
    {
        contactForm.Clear();
        contactForm.Brand = Theme.Id;
        if (Reason == "sales")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.SalesReason.Value;
        }
        else if (Reason == "techsupport")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.TechSupportReason.Value;
        }
        else if (Reason == "other")
        {
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        else
        {
            //default to general requests
            contactForm.ContactReasonChoice = ContactFormHelper.ContactOtherReason.Value;
        }
        isSubmitting = false;
        formSucceeded = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}