﻿@using CTEWebApp.Shared.Helpers
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory

<HeadContent>
    <link rel="shortcut icon" href="@theme.FaviconRelativePath" />
</HeadContent>
<div class="page">
    <main>
        <CascadingValue Value="@theme" IsFixed="@true">
            <BrandBar />
        </CascadingValue>
    </main>

    <div class="border-bottom">
        <CascadingValue Value="@theme" IsFixed="@true">
            <LoadingComponent IsLoading="@loading">
                <ChildContent>
                    <NavMenu />
                </ChildContent>
            </LoadingComponent>
        </CascadingValue>

    </div>
    <div>
        <ErrorBoundary @ref="errorBoundary">
            <CascadingValue Value="@theme" IsFixed="@true">
                <div class="body">
                    @Body
                </div>
            </CascadingValue>
        </ErrorBoundary>
    </div>
    <CascadingValue Value="@theme" IsFixed="@true">
        <LoadingComponent IsLoading="@loading">
            <FooterComponent />
        </LoadingComponent>
    </CascadingValue>
</div>
@code {

    private BrandTheme theme;
    private bool loading = true;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var uri = NavigationManager.Uri;
        if (uri.Contains(BrandHelper.CT.ApexDomain))
        {
            theme = BrandHelper.CTTheme;
        }
        else if (uri.Contains(BrandHelper.GS.ApexDomain))
        {
            theme = BrandHelper.GSTheme;
        }
        else if (uri.Contains(BrandHelper.BK.ApexDomain))
        {
            theme = BrandHelper.BKTheme;
        }
        else if (uri.Contains("localhost")||uri.Contains("caltestelectronics.azurewebsites.net"))
        {
            Console.WriteLine("localhost detected, Theme default set to CT");
            theme = BrandHelper.CTTheme;
        }
        else
        {
            throw new NotImplementedException();
        }
        try
        {
            var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
            theme.ListOfGroups = await httpClient.GetFromJsonAsync<List<string>>($"/api/Web/ListOfGroups/{theme.Id}");
        }
        catch
        {

        }
        loading = false;
    }

    bool visibility = true;

    void ShowMenuOverlay()
    {
        visibility = !visibility;
    }
    void CloseMenuOverlay()
    {
        visibility = true;
    }
    private ErrorBoundary errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}