﻿@inject IStringLocalizer<SharedResources> Localizer

<h3>@Localizer["Select a color from the list"] </h3>
<h4>@Localizer["Selected Color"]: @SelectedColor?.Name</h4>
<SfGrid @ref="@gridColor" Height="500px" TValue="@TlbPageDTO.TestLeadColorDTO" DataSource="@TestLeadColorsDataSource">
    <GridEvents RowSelected="@SelectedRow" TValue="@TlbPageDTO.TestLeadColorDTO"></GridEvents>
    <GridColumns>
        @*<GridColumn Field=@nameof(TestLeadWire.Id) HeaderText="Train No" Width="120" Type="@ColumnType.Number"></GridColumn>*@
        <GridColumn Field="@nameof(TlbPageDTO.TestLeadColorDTO.HexCode)" HeaderText="@Localizer["Color"]" Width="50px">
            <Template>
                @{
                    var color = (context as TlbPageDTO.TestLeadColorDTO);
                    <span class="solid-circle" style="background-color:@color.HexCode"></span>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadColorDTO.Name) HeaderText="" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="50"></GridColumn>
    </GridColumns>
</SfGrid>
@if (!colorSelected)
{
    <p class="error-text">* @Localizer["Select your color"]</p>
}

@code {

    [Parameter, EditorRequired]
    public List<TlbPageDTO.TestLeadColorDTO> TestLeadColorsDataSource { get; set; }


    private SfGrid<TlbPageDTO.TestLeadColorDTO> gridColor;

    [Parameter]
    public TlbPageDTO.TestLeadColorDTO SelectedColor { get; set; }

    [Parameter]
    public EventCallback<TlbPageDTO.TestLeadColorDTO> SelectedColorChanged { get; set; }

    private bool colorSelected = false;

    public async Task ResetGrid()
    {
        await gridColor.ClearCellSelectionAsync();
    }

    private void SelectedRow(RowSelectEventArgs<TlbPageDTO.TestLeadColorDTO> args)
    {
        SelectedColor = args.Data;
        colorSelected = true;

        // Notify the parent component that the parameter has changed
        SelectedColorChanged.InvokeAsync(SelectedColor);
    }

}