﻿@using WebApp.Client.Pages.Brand.Tlb;
@inject IStringLocalizer<SharedResources> Localizer

<h3>@Localizer["Select a length from the list or enter a custom length"]</h3>
<div class="row">
    <h4>@Localizer["Selected Length"]: @(SelectedLength == 0 ? "" : SelectedLength)</h4>
    <div class="col-4">
        <div class="card">
            <div class="card-header">@Localizer["Custom Length"]</div>
            <div class="card-body">
                <SfNumericTextBox ShowClearButton="@true"
                                  ShowSpinButton="@true"
                                  TValue="@decimal"
                                  Min="10"
                                  Max="10000">
                    <NumericTextBoxEvents TValue="@decimal" ValueChange="@CustomLengthChanged">
                    </NumericTextBoxEvents>
                </SfNumericTextBox>
            </div>
        </div>
    </div>
    <div class="col-8">
        <SfGrid @ref="@gridLength" Height="500px" TValue="@decimal" DataSource="@TestLeadLengthsDataSource">
            <GridEvents RowSelected="@SelectedRow" TValue="@decimal"></GridEvents>
            <GridColumns>
                <GridColumn HeaderText="@Localizer["Centimeters"]" Width="140">
                    <Template Context="c">
                        @{
                            decimal centimeters = (decimal)c;
                            <span>@centimeters.ToString("N0")</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="@Localizer["Inches"]" Width="140">
                    <Template Context="c">
                        <span>@TlbHelper.TlbMath.ConvertCentimetersToInches((decimal)c).ToString("N2") </span>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>


@if (!lengthSelected)
{
    <p class="error-text">* @Localizer["Select your length"]</p>
}

@code {

    [Parameter, EditorRequired]
    public List<decimal> TestLeadLengthsDataSource { get; set; }


    private SfGrid<decimal> gridLength;

    [Parameter]
    public decimal SelectedLength { get; set; }

    [Parameter]
    public EventCallback<decimal> SelectedLengthChanged { get; set; }

    private bool lengthSelected = false;

    public async Task ResetGrid()
    {
        await gridLength.ClearCellSelectionAsync();
    }

    private void SelectedRow(RowSelectEventArgs<decimal> args)
    {
        LengthSelected(args.Data);
    }


    private void CustomLengthChanged(Syncfusion.Blazor.Inputs.ChangeEventArgs<decimal> args)
    {
        LengthSelected(args.Value);
    }

    private void LengthSelected(decimal value)
    {
        SelectedLength = value;
        lengthSelected = true;

        // Notify the parent component that the parameter has changed
        SelectedLengthChanged.InvokeAsync(SelectedLength);
    }
}