﻿@page "/test-lead-builder"
@page "/test-lead-builder/{TlbParameter}"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<TlbPage> Logger
@inject IStringLocalizer<SharedResources> Localizer

@inject IToastService ToastService
@implements IDisposable

<PageTitle>@Localizer["Test Lead Builder"] @title - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name @title page">
</HeadContent>

<Jumbotron Title="@Localizer["Test Lead Builder"]"
           Subtitle="@(Localizer["custom_cable_assemblies_message"])"
           ImageLink="https://as.caltestelectronics.com/public/productReleases/images/1-CT4403.jpg"
           ButtonLink="/support/contact-us"
           ButtonText="@Localizer["Contact Us"]">
    <LeadContent>
        @if (Theme.Id != BrandHelper.CT.Id)
        {
            <p class="text-white">@Localizer["In partnership with"] @BrandHelper.CTTheme.FormattedName</p>
        }
    </LeadContent>

</Jumbotron>
<LoadingComponent IsLoading="@loading">
    <div class="container content">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        @Localizer["Search"]
                    </div>
                    <div class="card-body">
                        <SfAutoComplete TValue="string" TItem="string" @bind-Value="SearchedModelBuild" DataSource="searchListData" Placeholder="CT2060-50-2" IgnoreCase="true" Autofill="true">
                            <ChildContent>
                                <AutoCompleteEvents TValue="string" TItem="string" ValueChange="(()=>ReverseSearchValueChangeHandler(SearchedModelBuild))"></AutoCompleteEvents>
                            </ChildContent>
                            <NoRecordsTemplate>
                                <span>@Localizer["Refine your search or type in a length then color."] </span>
                            </NoRecordsTemplate>
                        </SfAutoComplete>
                        <p>@Localizer["Search for a custom part number to find your exact product."]</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        @Localizer["Instructions"]
                    </div>
                    <div class="card-body">
                        <p>
                            @(new MarkupString(Localizer["tlb_instructions_message"]))
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="btn-container d-flex justify-content-between">
                    <SfButton Disabled="@false" @onclick="@BackButton">Back</SfButton>

                    @if (tab?.Items.Count - 1 != tab?.SelectedItem)
                    {
                        <SfButton IsPrimary="true" Disabled="@CanContinue()" @onclick="@ForwardButton">@Localizer["Continue"]</SfButton>
                    }
                    @if (tab?.SelectedItem == 5)
                    {
                        <SfButton IsPrimary="true" Disabled="@(tab.SelectedItem != 5)" CssClass="e-warning" @onclick="@ResetTlb">@Localizer["Start Over"]</SfButton>
                    }
                </div>
                <SfTab @ref="tab" LoadOn="@ContentLoad.Init">
                    <TabEvents Selecting="@Selecting" Selected="@Selected"></TabEvents>
                    <TabItems>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Connector 1"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-connector1">
                                    <TlbConnectorComponent @bind-SelectedConnector="@tlbState.Connector1"
                                                           TestLeadConnectorsDataSource="@testLeadConnectorsFiltered">
                                    </TlbConnectorComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Wire (Jacket & Gauge)"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-wire">
                                    <TlbWireComponent @bind-SelectedWire="@tlbState.Wire"
                                                      TestLeadWiresDataSource="@testLeadWiresFiltered">
                                    </TlbWireComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Connector 2"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-connector2">
                                    <TlbConnectorComponent @bind-SelectedConnector="@tlbState.Connector2"
                                                           TestLeadConnectorsDataSource="@testLeadConnectors2Filtered">
                                    </TlbConnectorComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Length"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-Length">
                                    <TlbLengthComponent @bind-SelectedLength="@tlbState.Length"
                                                        TestLeadLengthsDataSource="@testLeadLengths">
                                    </TlbLengthComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Color"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-color">
                                    <TlbColorComponent @bind-SelectedColor="@tlbState.Color"
                                                       TestLeadColorsDataSource="@testLeadColors">
                                    </TlbColorComponent>
                                </div>
                            </ContentTemplate>
                        </TabItem>
                        <TabItem Disabled="@true">
                            <ChildContent>
                                <TabHeader Text="@Localizer["Results"]"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <div id="stage-results">
                                    @if (testLeadBuilderBuilt != null)
                                    {
                                        <TlbResultComponent TestLeadBuilderBuilt="@testLeadBuilderBuilt"
                                                        TestLeadBuilderResult="@testLeadBuilderResult"
                                                        IsStandardTestLeadWire="@isStandardTestLeadWire">
                                        </TlbResultComponent>
                                    }
                                    else
                                    {
                                        <h3>@Localizer["No results found."]</h3>
                                        <p>@Localizer["Please make sure to make a selection for every tab"]</p>
                                    }
                                </div>
                            </ContentTemplate>
                        </TabItem>
                    </TabItems>
                </SfTab>
            </div>
        </div>
    </div>
</LoadingComponent>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    public string TlbParameter { get; set; }

    private string title;

    private SfTab tab;

    private readonly CancellationTokenSource cancellationTokenSource = new();

    private TlbPageDTO tlbPageDTO = new();
    private TestLeadBuilderState tlbState = new();
    private bool loading = true;

    private List<string> standardTestLeadWires { get; set; }
    private List<TlbPageDTO.TestLeadBuilderDTO> testLeadBuilders { get; set; }
    private List<TlbPageDTO.TestLeadConnectorDTO> testLeadConnectors { get; set; }
    private List<TlbPageDTO.TestLeadConnectorDTO> testLeadConnectors2 { get; set; }
    private List<TlbPageDTO.TestLeadWireDTO> testLeadWires { get; set; }
    private List<decimal> testLeadLengths { get; set; }
    private List<TlbPageDTO.TestLeadColorDTO> testLeadColors { get; set; }
    private List<string> searchListData { get; set; }

    private List<TlbPageDTO.TestLeadConnectorDTO> testLeadConnectorsFiltered { get; set; }
    private List<TlbPageDTO.TestLeadConnectorDTO> testLeadConnectors2Filtered { get; set; }
    private List<TlbPageDTO.TestLeadWireDTO> testLeadWiresFiltered { get; set; }

    private TlbPageDTO.TestLeadBuilderDTO testLeadBuilderBuilt;
    private TestLeadBuilderResult testLeadBuilderResult;

    private bool isStandardTestLeadWire = false;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");

        tlbPageDTO = await httpClient.GetFromJsonAsync<TlbPageDTO>("/api/Tlb/PageData", cancellationTokenSource.Token);

        standardTestLeadWires = tlbPageDTO.StandardTestLeadWires;

        testLeadBuilders = tlbPageDTO.TestLeadBuilders;
        testLeadConnectors = tlbPageDTO.TestLeadConnectors;
        testLeadConnectorsFiltered = testLeadConnectors.ToList();
        testLeadConnectors2 = tlbPageDTO.TestLeadConnectors2;
        testLeadConnectors2Filtered = testLeadConnectors2.ToList();

        testLeadWires = tlbPageDTO.TestLeadWires;
        testLeadWiresFiltered = testLeadWires.ToList();

        testLeadLengths = tlbPageDTO.TestLeadLengths;
        testLeadColors = tlbPageDTO.TestLeadColors;

        searchListData = testLeadBuilders.GroupBy(x => x.PartNumber).Select(x => x.First().PartNumber).OrderBy(x => x).ToList();

        loading = false;
    }
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(TlbParameter))
        {
            await Task.Delay(250);
            await ReverseSearchValueChangeHandler(TlbParameter);
        }
    }

    private enum Tabs : int
    {
        Connector1 = 0,
        Wire = 1,
        Connector2 = 2,
        Length = 3,
        Color = 4,
        Result = 5
    }

    private bool CanContinue()
    {
        moving = false;
        if (tab.SelectedItem == (int)Tabs.Connector1 && tlbState.Connector1 != null)
        {
            return false;
        }
        if (tab.SelectedItem == (int)Tabs.Wire && tlbState.Wire != null)
        {
            return false;
        }
        if (tab.SelectedItem == (int)Tabs.Connector2 && tlbState.Connector2 != null)
        {
            return false;
        }
        if (tab.SelectedItem == (int)Tabs.Length && tlbState.Length != 0)
        {
            return false;
        }
        if (tab.SelectedItem == (int)Tabs.Color && tlbState.Color != null)
        {
            return false;
        }
        return true;
    }


    private bool enableStartOverButton = false;
    private void Selecting(Syncfusion.Blazor.Navigations.SelectingEventArgs selectingEventArgs)
    {
        Console.WriteLine($"{selectingEventArgs.PreviousIndex}/{selectingEventArgs.SelectedIndex}/{selectingEventArgs.SelectingIndex}");
        Recalculate(selectingEventArgs.SelectedIndex);
    }

    private void Selected(Syncfusion.Blazor.Navigations.SelectEventArgs selectedEventArgs)
    {
        if (selectedEventArgs.SelectedIndex == (int)Tabs.Result)
        {
            enableStartOverButton = !enableStartOverButton;

            //calculate results
            var connector1Id = tlbState.Connector1.Id;
            var wireId = tlbState.Wire.Id;
            var connector2Id = tlbState.Connector2.Id;
            testLeadBuilderBuilt = testLeadBuilders.Where(x => x.ConnectorOneId == connector1Id && x.WireId == wireId && x.ConnectorTwoId == connector2Id).FirstOrDefault();
            testLeadBuilderResult = new TestLeadBuilderResult
                {
                    PartNumber = $"{testLeadBuilderBuilt.PartNumber}-{tlbState.Length.ToString("N0")}-{tlbState.Color.ColorId}",
                    ConnectorOne = tlbState.Connector1.Type,
                    WireJacket = $"{tlbState.Wire.Material} - {tlbState.Wire.ConductorAreaMm2.ToString("N2")}mm²",
                    WireGauge = $"{tlbState.Wire.Gauge} AWG",
                    ConnectorTwo = tlbState.Connector2.Type,
                    Length = $"{tlbState.Length} cm ({TlbHelper.TlbMath.ConvertCentimetersToInches((decimal)tlbState.Length).ToString("N2")} in)",
                    Color = tlbState.Color.Name,
                    Voltage = (tlbState.Connector1.Rating < tlbState.Connector2.Rating ? tlbState.Connector1.Information : tlbState.Connector2.Information),
                    Current = tlbState.Wire.MaxCurrent.ToString()
                };
            isStandardTestLeadWire = standardTestLeadWires.Any(x => x == testLeadBuilderResult.PartNumber);
            decimal cost = TlbHelper.TlbMath.CalculateCost(tlbState.Length, tlbState.Wire.CostPerCentimeter, tlbState.Connector1.Cost, tlbState.Connector2.Cost,isStandardTestLeadWire);
            testLeadBuilderResult.MSRP = TlbHelper.TlbMath.GetMsrp(cost).ToString("C2");

            title = testLeadBuilderResult.PartNumber;
            NavigationManager.NavigateTo($"/test-lead-builder/{testLeadBuilderResult.PartNumber}", false);
        }
    }

    private void Recalculate(int currentTab)
    {
        if (currentTab == (int)Tabs.Connector1 && tlbState.Connector1 != null)
        {
            //at the time of clicking continue the current tab is still Connector1, so recalculate for Wire
            Console.WriteLine("SelectedConnectorChanged");
            var tlb = testLeadBuilders.Where(x => x.ConnectorOneId == tlbState.Connector1.Id);
            List<int> possibleWires = tlb.Select(x => x.WireId).Distinct().ToList();
            testLeadWiresFiltered = testLeadWires.Where(x => possibleWires.Contains(x.Id)).ToList();
        }
        else if (currentTab == (int)Tabs.Wire && tlbState.Wire != null)
        {
            //at the time of clicking continue the current tab is still Wire, so recalculate for Connector2
            var tlw = testLeadBuilders.Where(x => x.WireId == tlbState.Wire.Id && x.ConnectorOneId == tlbState.Connector1.Id);
            List<int> possibleConnectors2 = tlw.Select(x => x.ConnectorTwoId).Distinct().ToList();
            testLeadConnectors2Filtered = testLeadConnectors2.Where(x => possibleConnectors2.Contains(x.Id)).ToList();

        }
        else if (currentTab == (int)Tabs.Connector2 && tlbState.Connector2 != null)
        {
            //at the time of clicking continue, the current tab is still Connector2, so recalculate for Length
        }
        else if (currentTab == (int)Tabs.Length && tlbState.Length != 0)
        {
            //at the time of clicking continue, the current tab is still Length, so recalculate for Color
        }
        else if (currentTab == (int)Tabs.Color && tlbState.Color != null)
        {
            //at the time of clicking continue, the current tab is still Color, so recalculate for anything for color that impact results

        }
        else if (currentTab == (int)Tabs.Result)
        {
            //at the time of clicking continue, which shouldnt be possible the current tab is on Result, so do nothing for now.
        }
        else
        {
            //throw new Exception();
        }

    }

    public async Task ResetTlb()
    {
        //clear state
        tlbState = new TestLeadBuilderState();
        testLeadBuilderBuilt = null;

        //reset reverse search button
        //select first tab
        await tab.SelectAsync(0);

        isStandardTestLeadWire = false;
        StateHasChanged();
    }

    public async Task BackButton()
    {
        if (tab.SelectedItem == (int)Tabs.Connector1)
        {
            return;
        }

        moving = false;
        await tab.SelectAsync(tab.SelectedItem - 1);
    }

    private bool moving = false;
    public async Task ForwardButton()
    {
        //Recalculate(tab.SelectedItem);
        if (moving)
        {
            return;
        }
        moving = true;
        await tab.SelectAsync(tab.SelectedItem + 1);
    }

    private string SearchedModelBuild;
    private bool isReverseSearchActive = false;

    private async Task ReverseSearchValueChangeHandler(string args)
    {
        if (args == null)
        {
            return;
        }
        var input = args.Trim();
        var array = input.Split('-');
        var baseModel = array[0].ToUpper();
        if (array.Length == 1 && !string.IsNullOrWhiteSpace(array[0]))
        {
            //check if it is a real test lead in DB
            if (testLeadBuilders.Any(x => x.PartNumber == baseModel))
            {
                //tell user to now type a length and color
                await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.LengthAndColor);
            }
            else
            {
                //tell user to type a real test lead
                await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.InvalidPartNumber);
                return;
            }
        }

        bool isCM = false;
        int cmLength = 0;
        if (array.Length >= 2 && !string.IsNullOrWhiteSpace(array[1]))
        {
            isCM = int.TryParse(array[1], out int cm);
            if (isCM && cm >= 10 && cm <= 10000)
            {
                cmLength = cm;
            }
            else
            {
                isCM = false;
                await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.InvalidLength);
            }
            Logger.LogInformation(cm.ToString());
        }

        if (array.Length == 3 && !string.IsNullOrWhiteSpace(array[2]))
        {
            bool isColor = int.TryParse(array[2], out int colorId);

            if (testLeadBuilders.Any(x => x.PartNumber == baseModel) && isCM && isColor && testLeadColors.Any(x => x.ColorId == colorId))
            {
                var tlb = testLeadBuilders.FirstOrDefault(x => x.PartNumber == baseModel);

                tlbState.Connector1 = testLeadConnectors.FirstOrDefault(x => x.Id == tlb.ConnectorOneId);
                tlbState.Wire = testLeadWires.FirstOrDefault(x => x.Id == tlb.WireId);
                tlbState.Connector2 = testLeadConnectors.FirstOrDefault(x => x.Id == tlb.ConnectorTwoId);
                tlbState.Length = (decimal)cmLength;
                tlbState.Color = testLeadColors.FirstOrDefault(x => x.ColorId == colorId);

                isReverseSearchActive = true;
                Logger.LogInformation(isReverseSearchActive.ToString());

                await tab.SelectAsync((int)Tabs.Result);
                await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.PartBuiltSuccessfully);
            }
            else
            {
                await ToastService.ShowToastAsync(ToastModelHelper.ToastKeys.InvalidColor);
            }
        }
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }


    public class TestLeadBuilderState
    {
        public TlbPageDTO.TestLeadConnectorDTO Connector1;
        public TlbPageDTO.TestLeadWireDTO Wire;
        public TlbPageDTO.TestLeadConnectorDTO Connector2;
        public decimal Length;
        public TlbPageDTO.TestLeadColorDTO Color;
        public TlbPageDTO.TestLeadBuilderDTO TestLeadBuilderResult;
    }
}