﻿@inject IStringLocalizer<SharedResources> Localizer

<h3>@Localizer["Select the wire jacket and guage from the list"] </h3>
<h4>@Localizer["Selected Connector"]: @SelectedWire?.Material @SelectedWire?.Strands * @SelectedWire?.StrandDiameterMm</h4>
<SfGrid @ref="@gridWire"
        Height="500px"
        TValue="@TlbPageDTO.TestLeadWireDTO"
        DataSource="@TestLeadWiresDataSource">
    <GridEvents RowSelected="@SelectedRow" TValue="@TlbPageDTO.TestLeadWireDTO"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadWireDTO.Material) HeaderText="Jacket Material"></GridColumn>
        <GridColumn HeaderText="Conductor Area/Gauge (mm2/AWG)">
            <Template Context="testLeadWire">
                @{
                    var wire = (testLeadWire as TlbPageDTO.TestLeadWireDTO);
                    <td>@wire.ConductorAreaMm2 / @wire.Gauge</td>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadWireDTO.MaxCurrent) HeaderText="Maximum Current (A)"></GridColumn>
        <GridColumn HeaderText="Strand Count * Strand Diameter (mm)">
            <Template Context="testLeadWire">
                @{
                    var wire = (testLeadWire as TlbPageDTO.TestLeadWireDTO);
                    <td>@wire.Strands * @wire.StrandDiameterMm</td>
                }
            </Template>
        </GridColumn>
        <GridColumn HeaderText="Lead O.D. (mm/in)">
            <Template Context="testLeadWire">
                @{
                    var wire = (testLeadWire as TlbPageDTO.TestLeadWireDTO);
                    <td>@wire.LeadodMm / @wire.LeadodIn</td>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>
@if (!wireSelected)
{
    <span class="error-text">* @Localizer["Select your wire"]</span>
}

@code {

    [Parameter, EditorRequired]
    public List<TlbPageDTO.TestLeadWireDTO> TestLeadWiresDataSource { get; set; }


    private SfGrid<TlbPageDTO.TestLeadWireDTO> gridWire;

    [Parameter]
    public TlbPageDTO.TestLeadWireDTO SelectedWire { get; set; }

    [Parameter]
    public EventCallback<TlbPageDTO.TestLeadWireDTO> SelectedWireChanged { get; set; }

    private bool wireSelected = false;

    public async Task ResetGrid()
    {
        await gridWire.ClearCellSelectionAsync();
    }

    private void SelectedRow(RowSelectEventArgs<TlbPageDTO.TestLeadWireDTO> args)
    {
        SelectedWire = args.Data;
        wireSelected = true;

        // Notify the parent component that the parameter has changed
        SelectedWireChanged.InvokeAsync(SelectedWire);
    }

}