﻿<AdminGridBase @ref="@grid"
               TValue="@ArticleSeries"
               SortField="@nameof(ArticleSeries.Id)"
               OdataUrl="@AdminHelper.OdataHelper.ArticleSeriesUrl"
               OdataBatchUrl="@AdminHelper.OdataHelper.ArticleSeriesUrl"
               Height="100%">
    <AdditionalColumns>
        <PrimaryKeyColumn Field=@nameof(ArticleSeries.Id) />
        <GridForeignColumn AutoFit="true"
                           Field="@nameof(ArticleSeries.ArticleId)"
                           TValue="@AdminHelper.ArticleDTO"
                           ForeignDataSource="@Articles"
                           ForeignKeyField="@nameof(AdminHelper.ArticleDTO.Id)"
                           ForeignKeyValue="@nameof(AdminHelper.ArticleDTO.Title)"
                           HeaderText="Article Title"
                           EditType="EditType.DropDownEdit"
                           EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
        </GridForeignColumn>
        <GridForeignColumn AutoFit="true"
                           Field="@nameof(ArticleSeries.SeriesId)"
                           TValue="@AdminHelper.SeriesDTO"
                           ForeignDataSource="@Series"
                           ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                           ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                           HeaderText="Series Name"
                           EditType="EditType.DropDownEdit"
                           EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
        </GridForeignColumn>
        <GridColumn AutoFit="true" Field="@nameof(ArticleSeries.ShowOnSeries)" Type="@ColumnType.Boolean"></GridColumn>
    </AdditionalColumns>
</AdminGridBase>

@code {
    public AdminGridBase<ArticleSeries> grid { get; set; }

    [Parameter]
    public List<AdminHelper.ArticleDTO> Articles { get; set; }
    [Parameter]
    public List<AdminHelper.SeriesDTO> Series { get; set; }

}
