﻿@page "/administrator/AdminArticleSeriesPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<ArticleSeriesPage> Logger

<PageTitle>@nameof(ArticleSeriesPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-4 card shadow-sm">
            <h3>Associate Multiple</h3>
            <hr />
            <LoadingComponent IsLoading="@loading">
                <span>Select Series</span>
                <SfMultiSelect TValue="int[]" TItem="@AdminHelper.SeriesDTO" Placeholder="e.g. CT2002" DataSource="@series" @bind-Value="@seriesValue" Query="@localDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(AdminHelper.SeriesDTO.Name)" Value="@nameof(AdminHelper.SeriesDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
                <span>Select Articles</span>
                <SfMultiSelect TValue="int[]" TItem="AdminHelper.ArticleDTO" Placeholder="e.g. How Do Banana Plugs Work?" DataSource="@articles" @bind-Value="@articleValue" Query="@localDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(AdminHelper.ArticleDTO.Title)" Value="@nameof(AdminHelper.ArticleDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
            </LoadingComponent>
            <hr />
            <div class="mb-2">
                <SfButton Content="Submit" OnClick="@OnAssociateSubmit" Disabled="@isSubmitting"></SfButton>
            </div>
        </div>
        <div class="col-8">
            <ArticleSeriesGrid @ref="@grid" Articles="@articles" Series="@series" />
        </div>
    </div>
</div>


    @code {
    private ArticleSeriesGrid grid { get; set; }
    private List<AdminHelper.ArticleDTO> articles { get; set; }
    private List<AdminHelper.SeriesDTO> series { get; set; }
    SfDataManager DM { get; set; }

    private bool loading = true;
    private bool isSubmitting = false;

    private int[] seriesValue { get; set; }
    private int[] articleValue { get; set; }
    private Query localDataQuery = new Query().Take(6);

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        articles = await ODataResponseHelper<AdminHelper.ArticleDTO>.GetODataResponseValue($"Article?$select={nameof(AdminHelper.ArticleDTO.Id)},{nameof(AdminHelper.ArticleDTO.Title)}", httpClient);
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
        loading = false;
    }

    public async Task OnAssociateSubmit()
    {
        Dictionary<string, int[]> keyValuePairs = new Dictionary<string, int[]>();
        isSubmitting = true;
        if (seriesValue is null || articleValue is null)
        {
            isSubmitting = false;
            return;
        }
        keyValuePairs[nameof(seriesValue)] = seriesValue;
        keyValuePairs[nameof(articleValue)] = articleValue;
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        var response = await httpClient.PostAsJsonAsync<Dictionary<string, int[]>>("api/ArticleSeries/MultipleAssociation", keyValuePairs);
        grid.grid.sfGrid.Refresh();
        isSubmitting = false;
    }

    }
