﻿@page "/administrator/AdminArticlePage"
@attribute [Authorize(Roles = "Administrator")]
@inject ILogger<ArticlePage> Logger

<PageTitle>@nameof(ArticlePage) - Admin Modules</PageTitle>
<div class="container">
    <ArticleGrid />
</div>
@code {

}