﻿@page "/administrator/AdminTlbQuoteFormPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(TlbQuoteFormPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadBuilderQuoteForm"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadBuilderQuoteFormsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadBuilderQuoteFormsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadBuilderQuoteForm.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.FirstName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.LastName)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Email)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Phone)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.PhoneExt)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Company)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Address1)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Address2)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.City)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.StateOrProvince)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.PostalCode)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Country)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(TestLeadBuilderQuoteForm.Message)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.PartNumber)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Quantity)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.EmailConfirmationSent)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.HubSpotTicketCreated)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilderQuoteForm.Brand)"></GridColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    public AdminGridBase<TestLeadBuilderQuoteForm> grid;
}
