﻿@page "/legal/cookie-policy"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer[""]Cookie Policy - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Cookie Policy @Localizer[""]page">
</HeadContent>

<div class="container content">
    <h1>@Localizer[""]Cookie Policy</h1>
    <div class="row">
        <div class="w-80">
            <div class="text-cols">
                @(new MarkupString(Localizer["cookie_policy_message"]))
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
