﻿@page "/legal/privacy-policy"
@page "/legal/terms-of-service"
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>Privacy Policy - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Privacy Policy page">
</HeadContent>

<div class="container content">
    <h1>Privacy Policy</h1>
    <div class="row">
        <div class="w-80">
            <div class="text-cols">
                @(new MarkupString(Localizer["privacy_policy_message_html", Theme.Name, Theme.ApexDomain, string.Join(", ", BrandHelper.Brands.Select(x => x.ApexDomain))]))
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
