﻿@page "/administrator/AdminPressReleasePage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(PressReleasePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <p><b>Notes:</b></p>
            <ol>
                <li>Save to get new URL</li>
                <li><b>DO NOT</b> publish without an Email HTML Copy of Product Release from HubSpot.</li>
            </ol>
        </div>
        <AdminGridBase @ref="@grid"
                       TValue="@PressRelease"
                       SortField="@nameof(PressRelease.Modified)"
                       OdataUrl="@AdminHelper.OdataHelper.PressReleasesUrl"
                       OdataBatchUrl="@AdminHelper.OdataHelper.PressReleasesUrl">
            <AdditionalColumns>
                <PrimaryKeyColumn Field="@nameof(PressRelease.Id)" />
                <GridForeignColumn AutoFit="true"
                                   AllowEditing="false"
                                   Field="@nameof(PressRelease.SeriesId)"
                                   TValue="@AdminHelper.SeriesDTO"
                                   ForeignDataSource="@series"
                                   ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                   ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                   HeaderText="Series Name"
                                   EditType="EditType.DropDownEdit"
                                   EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                </GridForeignColumn>
                <GridColumn Field="@nameof(PressRelease.AlternateTitle)"></GridColumn>
                <GridColumn AutoFit="true" Field="@nameof(PressRelease.EmailCopyFileLink)">
                    <Template>
                        <LinkColumnTemplateComponent Type="@LinkType.File" Href="@((context as PressRelease).EmailCopyFileLink)" />
                    </Template>
                    <EditTemplate>
                        <p>Email Copy (HTML or PDF)</p>
                        <SfUploader ID="UploadFiles" AllowMultiple=false>
                            <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.PressRelease"
                                                   RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                            </UploaderAsyncSettings>
                            <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                            Success="@((args)=>(context as PressRelease).EmailCopyFileLink=SfUploadHelper.UploadSuccess(args))"
                                            BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(PressRelease)))">
                            </UploaderEvents>
                        </SfUploader>
                        <p>Email Copy Link</p>
                        <SfTextBox ID="@nameof(PressRelease.EmailCopyFileLink)" @bind-Value="@((context as PressRelease).EmailCopyFileLink)" Readonly="true" Multiline="true">
                        </SfTextBox>
                    </EditTemplate>
                </GridColumn>
                <GridColumn Field="@nameof(PressRelease.AlternateSummary)"></GridColumn>

                <BrandColumn>
                    <EditTemplate>
                        <p>@nameof(PressRelease.Brand)</p>
                        <SfDropDownList ID="Brand" @bind-Value="@((context as PressRelease).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                        </SfDropDownList>
                    </EditTemplate>
                </BrandColumn>
                <ModifiedColumn />
                <CreatedColumn />
            </AdditionalColumns>
        </AdminGridBase>
    </div>
</div>



@code {
    private AdminGridBase<PressRelease> grid;
    private List<AdminHelper.SeriesDTO> series { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
    }
}
