﻿@page "/administrator/AdminSeriesRelatedPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(SeriesRelatedPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-4 card shadow-sm">
            <h3>Associate Multiple</h3>
            <hr />
            <LoadingComponent IsLoading="@loading">
                <span>Select Series 1:</span>
                <SfMultiSelect TValue="int[]" TItem="@AdminHelper.SeriesDTO" Placeholder="e.g. CT2002" DataSource="@series" @bind-Value="@seriesValue1" Query="@LocalDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(@AdminHelper.SeriesDTO.Name)" Value="@nameof(@AdminHelper.SeriesDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
                <span>Select Series 2:</span>
                <SfMultiSelect TValue="int[]" TItem="@AdminHelper.SeriesDTO" Placeholder="e.g. CT2002" DataSource="@series" @bind-Value="@seriesValue2" Query="@LocalDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(@AdminHelper.SeriesDTO.Name)" Value="@nameof(@AdminHelper.SeriesDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
            </LoadingComponent>
            <hr />
            <div class="mb-2">
                <SfButton Content="Submit" OnClick="@OnAssociateSubmit" Disabled="@isSubmitting">></SfButton>
            </div>
        </div>
        <div class="col-8">
            <AdminGridBase @ref="@grid"
                           TValue="@SeriesRelated"
                           OdataUrl="@AdminHelper.OdataHelper.SeriesRelatedsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.SeriesRelatedsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(SeriesRelated.Id)" />
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(SeriesRelated.SeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Series Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(SeriesRelated.RelatedSeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Related Series Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {
    private AdminGridBase<SeriesRelated> grid;
    private List<AdminHelper.SeriesDTO> series { get; set; }

    private bool loading = true;
    private bool isSubmitting = false;

    private int[] seriesValue1 { get; set; }
    private int[] seriesValue2 { get; set; }


    public Query LocalDataQuery = new Query().Take(6);


    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
        loading = false;
    }

    public async Task OnAssociateSubmit()
    {
        Dictionary<string, int[]> keyValuePairs = new Dictionary<string, int[]>();
        isSubmitting = true;
        if (seriesValue1 is null || seriesValue2 is null)
        {
            isSubmitting = false;
            return;
        }
        keyValuePairs[nameof(seriesValue1)] = seriesValue1;
        keyValuePairs[nameof(seriesValue2)] = seriesValue2;
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        var response = await httpClient.PostAsJsonAsync<Dictionary<string, int[]>>("api/SeriesRelateds/MultipleAssociation", keyValuePairs);
        grid.sfGrid.Refresh();
        isSubmitting = false;
    }

}
