﻿@page "/administrator/AdminSeriesImagePage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(SeriesImagePage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@SeriesImage"
                           OdataUrl="@AdminHelper.OdataHelper.SeriesImagesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.SeriesImagesUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(SeriesImage.Id)" />
                    <GridForeignColumn AutoFit="@true"
                                       Field="@nameof(SeriesImage.SeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Series Name"
                                       EditType="@EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridColumn AutoFit="true" Field="@nameof(SeriesImage.ImageFileLink)">
                        <Template>
                            <ImageColumnTemplateComponent Src="@((context as SeriesImage).ImageFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Attachment</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesImage"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as SeriesImage).ImageFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(SeriesImage)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Image Link</p>
                            <SfTextBox ID="@nameof(SeriesImage.ImageFileLink)" @bind-Value="@((context as SeriesImage).ImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(SeriesImage.Position)" EditType="EditType.NumericEdit"></GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(SeriesImage.ImageFileLinkTmb)" AllowEditing="false" AllowAdding="false" HeaderText="Thumbnail">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as SeriesImage).ImageFileLinkTmb)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(SeriesImage.ImageFileLinkMd)" AllowEditing="false" AllowAdding="false" HeaderText="Medium">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as SeriesImage).ImageFileLinkMd)" />
                        </Template>
                    </GridColumn>
                    <GridColumn AutoFit="false" Width="300" Field="@nameof(SeriesImage.ImageFileLinkLg)" AllowEditing="false" AllowAdding="false" HeaderText="Large">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.Link" Href="@((context as SeriesImage).ImageFileLinkLg)" />
                        </Template>
                    </GridColumn>

                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<SeriesImage> grid;
    private List<AdminHelper.SeriesDTO> series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
    }
}
