﻿@page "/administrator/AdminSeriesAttachmentPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IAccessTokenProvider TokenProvider
@inject IHttpClientFactory HttpClientFactory

<PageTitle>AdminSeriesAttachmentPage</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@SeriesAttachment"
                           SortField="@nameof(SeriesAttachment.Modified)"
                           OdataUrl="@AdminHelper.OdataHelper.SeriesAttachmentsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.SeriesAttachmentsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(SeriesAttachment.Id)" />
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(SeriesAttachment.SeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Series Name"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <GridColumn AutoFit="true" Field="@nameof(SeriesAttachment.Type)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(SeriesAttachment.LanguageCode)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(SeriesAttachment.AttachmentFileLink)">
                        <Template>
                            <LinkColumnTemplateComponent Type="@LinkType.File" Href="@((context as SeriesAttachment).AttachmentFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Attachment</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.SeriesAttachment"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as SeriesAttachment).AttachmentFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(SeriesAttachment)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Attachment Link</p>
                            <SfTextBox ID="@nameof(SeriesAttachment.AttachmentFileLink)" @bind-Value="@((context as SeriesAttachment).AttachmentFileLink)" Readonly="@((context as SeriesAttachment).Type=="Video"?false:true)" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>


@code {

    private AdminGridBase<SeriesAttachment> grid;
    private List<AdminHelper.SeriesDTO> series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
    }
}
