﻿@page "/administrator/AdminSeriesCategoryPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<SeriesCategoryPage> Logger

<PageTitle>@nameof(SeriesCategoryPage) - Admin Modules</PageTitle>
<AdminGridBase @ref="@grid"
               TValue="@SeriesCategory"
               SortField="@nameof(SeriesCategory.Id)"
               OdataUrl="@AdminHelper.OdataHelper.SeriesCategoriesUrl"
               OdataBatchUrl="@AdminHelper.OdataHelper.SeriesCategoriesUrl">
    <AdditionalColumns>
        <PrimaryKeyColumn Field="@nameof(SeriesCategory.Id)" />
        <GridForeignColumn AutoFit="true"
                           Field="@nameof(SeriesCategory.CategoryId)"
                           TValue="@AdminHelper.CategoryDTO"
                           ForeignDataSource="@categories"
                           ForeignKeyField="@nameof(AdminHelper.CategoryDTO.Id)"
                           ForeignKeyValue="@nameof(AdminHelper.CategoryDTO.DisplayName)"
                           HeaderText="Category Name"
                           EditType="EditType.DropDownEdit"
                           EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
        </GridForeignColumn>
        <GridForeignColumn AutoFit="true"
                           Field="@nameof(SeriesCategory.SeriesId)"
                           TValue="@AdminHelper.SeriesDTO"
                           ForeignDataSource="@series"
                           ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                           ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                           HeaderText="Series Name"
                           EditType="EditType.DropDownEdit"
                           EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
        </GridForeignColumn>
    </AdditionalColumns>
</AdminGridBase>
@code {
    public AdminGridBase<SeriesCategory> grid;
    private List<AdminHelper.CategoryDTO> categories { get; set; }
    private List<AdminHelper.SeriesDTO> series { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        categories =  await ODataResponseHelper<AdminHelper.CategoryDTO>.GetODataResponseValue($"Category?$select={nameof(AdminHelper.CategoryDTO.Id)},{nameof(AdminHelper.CategoryDTO.DisplayName)}", httpClient);
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);
    }
}
