﻿
<h3>Select a connector from the list </h3>
<h4>Selected Connector: @SelectedConnector?.Type</h4>

<SfGrid @ref="@gridConnector" Height="500px" TValue="@TlbPageDTO.TestLeadConnectorDTO" DataSource="@TestLeadConnectorsDataSource">
    <GridEvents RowSelected="@SelectedRow" TValue="@TlbPageDTO.TestLeadConnectorDTO"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadConnectorDTO.ImageFileLink) HeaderText="Image" Width="100">
            <Template>
                @{
                    var connector1 = (context as TlbPageDTO.TestLeadConnectorDTO);
                    <img class="img-fluid" src="@connector1.ImageFileLink" alt="Image of @connector1.Type connector" />
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadConnectorDTO.Type) HeaderText="Type"></GridColumn>
        <GridColumn Field=@nameof(TlbPageDTO.TestLeadConnectorDTO.Information) HeaderText="Information"></GridColumn>
    </GridColumns>
</SfGrid>
@if (!connectorSelected)
{
    <p class="error-text">* Select your connector</p>
}



@code {

    [Parameter, EditorRequired]
    public List<TlbPageDTO.TestLeadConnectorDTO> TestLeadConnectorsDataSource { get; set; }


    private SfGrid<TlbPageDTO.TestLeadConnectorDTO> gridConnector;

    [Parameter]
    public TlbPageDTO.TestLeadConnectorDTO SelectedConnector { get; set; }

    [Parameter]
    public EventCallback<TlbPageDTO.TestLeadConnectorDTO> SelectedConnectorChanged { get; set; }

    private bool connectorSelected = false;

    public async Task ResetGrid()
    {
        await gridConnector.ClearCellSelection();
    }

    private void SelectedRow(RowSelectEventArgs<TlbPageDTO.TestLeadConnectorDTO> args)
    {
        SelectedConnector = args.Data;
        connectorSelected = true;

        // Notify the parent component that the parameter has changed
        SelectedConnectorChanged.InvokeAsync(SelectedConnector);
    }

}