﻿@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<TlbQuoteFormComponent> Logger
@implements IDisposable
<div class="alert alert-info mt-2" role="alert">
    Form submissions are answered in a first come first serve basis.
    You will receive email receipt confirmation within 1-day of your submission.
</div>
<ToastNotification @ref="@Toast" />
@if (formSucceeded)
{
    <div class="card shadow-sm rounded-3 p-4 bg-white">
        <p>Thank you for your submission.</p>
        <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" OnClick="@ResetForm">Submit another form</SfButton>
    </div>
}
else
{
    <EditForm EditContext="@editContext" OnSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <div class="card shadow-sm rounded-3 p-4 bg-white">
            <label class="col-form-label label-required">Part Number:</label>
            <SfTextBox Readonly="true" @bind-Value="@tlbForm.TestLeadBuilderResult.PartNumber"></SfTextBox>

            <label class="col-form-label label-required">Quantity:</label>
            <SfNumericTextBox Min="1" Max="999999" @bind-Value="@tlbForm.Quantity"></SfNumericTextBox>
            <ValidationMessage For="@(() => tlbForm.Quantity)"></ValidationMessage>

            <label class="col-form-label label-required">First Name:</label>
            <SfTextBox @bind-Value="@tlbForm.FirstName"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.FirstName)"></ValidationMessage>

            <label class="col-form-label label-required">Last Name:</label>
            <SfTextBox @bind-Value="@tlbForm.LastName"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.LastName)"></ValidationMessage>

            <label class="col-form-label label-required">Phone:</label>
            <SfTextBox @bind-Value="@tlbForm.Phone"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Phone)"></ValidationMessage>

            <label class="col-form-label">Phone Ext #:</label>
            <SfTextBox @bind-Value="@tlbForm.PhoneExt"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.PhoneExt)"></ValidationMessage>

            <label class="col-form-label label-required">Email:</label>
            <SfTextBox @bind-Value="@tlbForm.Email"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Email)"></ValidationMessage>

            <label class="col-form-label">Company:</label>
            <SfTextBox @bind-Value="@tlbForm.Company"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Company)"></ValidationMessage>

            <label class="col-form-label label-required">Address 1:</label>
            <SfTextBox @bind-Value="@tlbForm.Address1"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Address1)"></ValidationMessage>

            <label class="col-form-label">Address 2:</label>
            <SfTextBox @bind-Value="@tlbForm.Address2"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Address2)"></ValidationMessage>

            <label class="col-form-label label-required">City:</label>
            <SfTextBox @bind-Value="@tlbForm.City"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.City)"></ValidationMessage>

            <label class="col-form-label label-required">State or Province:</label>
            <SfTextBox @bind-Value="@tlbForm.StateOrProvince"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.StateOrProvince)"></ValidationMessage>

            <label class="col-form-label label-required">Postal Code:</label>
            <SfTextBox @bind-Value="@tlbForm.PostalCode"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.PostalCode)"></ValidationMessage>

            <LoadingComponent IsLoading="@isLoading">
                <label class="col-form-label label-required">Country:</label>
                <SfComboBox TItem="string" TValue="string" AllowCustom="false" Autofill="true" DataSource="@SharedHelper.CountryList()" @bind-Value="@tlbForm.Country">
                </SfComboBox>
                <ValidationMessage For="@(() => tlbForm.Country)"></ValidationMessage>
            </LoadingComponent>

            <label class="col-form-label label-required">Message:</label>
            <SfTextBox Multiline="true" @bind-Value="@tlbForm.Message"></SfTextBox>
            <ValidationMessage For="@(() => tlbForm.Message)"></ValidationMessage>

            <label>@(!string.IsNullOrEmpty(tlbForm.Message) ? (tlbForm.Message.Count().ToString()+"/1024"):"0/1024")</label>

            <SfButton IsPrimary="@true" CssClass="w-75 mx-auto" Disabled="@(isSubmitting)">Submit</SfButton>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter, EditorRequired]
    public TestLeadBuilderResult TestLeadBuilderResult { get; set; }

    private bool formSucceeded = false;

    private ToastNotification Toast;

    private TestLeadBuilderQuoteFormDTO tlbForm = new();
    private EditContext editContext;
    private bool isLoading = true;
    private bool isSubmitting = false;
    private CancellationTokenSource cancellationTokenSource = new();

    protected override void OnParametersSet()
    {
        editContext = new(tlbForm);
        tlbForm.Brand = Theme.Id;
        tlbForm.TestLeadBuilderResult = TestLeadBuilderResult;
        Logger.LogInformation("TestLeadBuilderResult set");
        isLoading = false;
    }

    public async Task OnSubmit()
    {
        Logger.LogInformation("Submit TlbQuoteForm");
        bool isValid = editContext.Validate();
        // Maybe the button is not yet disable, be sure to not reprocess the event in this case
        if (isSubmitting)
        {
            return;
        }
        if (isValid == false)
        {
            await Toast.ShowToast((int)ToastNotification.ToastType.Information);
            return;
        }

        isSubmitting = true;
        //upload function
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        var results = await httpClient.PostAsJsonAsync("/api/TlbQuoteForm", tlbForm, cancellationTokenSource.Token);

        if (results.IsSuccessStatusCode)
        {
            await Toast.ShowToast((int)ToastNotification.ToastType.Success);
            isSubmitting = false;
            formSucceeded = true;
            return;
        }
        await Toast.ShowToast((int)ToastNotification.ToastType.Error);
        isSubmitting = false;

    }

    private void ResetForm()
    {
        tlbForm.Clear();
        tlbForm.TestLeadBuilderResult = TestLeadBuilderResult;
        isSubmitting = false;
        formSucceeded = false;
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }
}