﻿<h3>Results shown below.</h3>
<h4>Share a copy or request a quote using the form.</h4>
<div class="row border">
    <div class="col-lg-4 bg-light p-3 order-last order-lg-first">
        <h4>Results</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th>Part Number</th>
                    <td>@TestLeadBuilderResult.PartNumber</td>
                </tr>
                <tr>
                    <th>Connector 1</th>
                    <td>@TestLeadBuilderResult.ConnectorOne </td>
                </tr>
                <tr>
                    <th>Wire Jacket</th>
                    <td>@TestLeadBuilderResult.WireJacket</td>
                </tr>
                <tr>
                    <th>Wire Gauge</th>
                    <td>@TestLeadBuilderResult.WireGauge</td>
                </tr>
                <tr>
                    <th>Connector 2</th>
                    <td>@TestLeadBuilderResult.ConnectorTwo</td>
                </tr>
                <tr>
                    <th>Length</th>
                    <td>@TestLeadBuilderResult.Length</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>@TestLeadBuilderResult.Color</td>
                </tr>
                <tr>
                    <th>Voltage</th>
                    <td>@TestLeadBuilderResult.Voltage</td>
                </tr>
                <tr>
                    <th>Current</th>
                    <td>@TestLeadBuilderResult.Current</td>
                </tr>
                <tr>
                    <th>Lead Time</th>
                    <td>@TestLeadBuilderResult.LeadTime</td>
                </tr>
                <tr>
                    <th>MSRP. (ea.)</th>
                    <td>@TestLeadBuilderResult.MSRP</td>
                </tr>
            </tbody>
        </table>
        @if (IsStandardTestLeadWire)
        {
            <p>The customized product that you have created is one of our standard products.</p>
            <p> Click the button below to view the product page.</p>
        }
        <div class="d-flex justify-content-between">
            <CopyToClipboardComponent ButtonText="Share" ShowInput="@false" Text="@($"https://www.caltestelectronics.com/test-lead-builder/{TestLeadBuilderResult.PartNumber}")" />
            @if (IsStandardTestLeadWire)
            {
                <a class="btn button-color-@Theme.Id" href="@($"https://www.caltestelectronics.com/product/{TestLeadBuilderResult.PartNumber}")" target="_blank">View Product</a>
            }
            else
            {
                <a class="btn button-color-@Theme.Id" @onclick="@(()=>showQuote=!showQuote)">@(showQuote?"Hide Form":"Request Quote")</a>
            }
        </div>
        @if (showQuote)
        {
            <TlbQuoteFormComponent TestLeadBuilderResult="@TestLeadBuilderResult" />
        }

    </div>
    <div class="col-lg-8 bg-dark text-white p-3">
        <h4>Diagram</h4>
        <SfCard ID="SideCard">
            <img class="img-fluid" src="@TlbHelper.GetDiagramLink(TestLeadBuilderBuilt.DiagramFileLink,TestLeadBuilderBuilt.ConnectorOneId,TestLeadBuilderBuilt.ConnectorTwoId)" />
            <CardContent>
                <ChildContent>
                    <div>
                    </div>
                </ChildContent>
            </CardContent>
            <CardFooter>
                <CardFooterContent>
                    <div class="d-flex justify-content-center">
                        <a class="e-btn e-outline e-primary" href="@TlbHelper.GetDiagramLink(TestLeadBuilderBuilt.DiagramFileLink,TestLeadBuilderBuilt.ConnectorOneId,TestLeadBuilderBuilt.ConnectorTwoId)" target="_blank">Download Diagram</a>
                    </div>
                </CardFooterContent>
            </CardFooter>
        </SfCard>
    </div>
</div>

<style>
    table > tbody > tr > th {
        white-space: nowrap !important;
    }
</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter, EditorRequired]
    public TestLeadBuilderResult TestLeadBuilderResult { get; set; }

    [Parameter, EditorRequired]
    public TlbPageDTO.TestLeadBuilderDTO TestLeadBuilderBuilt { get; set; }

    [Parameter, EditorRequired]
    public bool IsStandardTestLeadWire { get; set; }

    private bool showQuote = false;
}