﻿@page "/administrator/AdminSeriesPage"
@inject IHttpClientFactory HttpClientFactory
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(SeriesPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@Series"
                           OdataUrl="@AdminHelper.OdataHelper.SeriesUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.SeriesUrl">
                <ChildContent>
                    <GridEvents TValue="@Series" OnActionBegin="@grid.BeginHandler" OnActionComplete="@ActionCompleteHandler"></GridEvents>
                </ChildContent>
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(Series.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(Series.Name)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Series.Title)"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(Series.Summary)" ClipMode="@ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn Width="300" Field="@nameof(Series.SpecificationsLegacy)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(Series.SpecificationsLegacy)</p>
                            <SfRichTextEditor @ref="@rteObj1" @bind-Value="(context as Series).SpecificationsLegacy" EditorMode="@EditorMode.HTML" ShowCharCount="true">
                                <RichTextEditorImageSettings SaveUrl="@FileUploadHelper.SaveDirectory.RTE"
                                                             Path="">
                                </RichTextEditorImageSettings>
                                <RichTextEditorToolbarSettings Items="@AdminHelper.DefaultRTEToolbarItems" Type="@ToolbarType.MultiRow" />
                                <RichTextEditorEvents BeforeUploadImage="@BeforeUpload" ImageDelete="@OnDelete" OnImageUploadSuccess="@ImageUploadSuccess" />
                            </SfRichTextEditor>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn Width="300" Field="@nameof(Series.Description)" ClipMode="@ClipMode.EllipsisWithTooltip">
                        <EditTemplate>
                            <p>@nameof(Series.Description)</p>
                            <SfRichTextEditor @ref="@rteObj2" @bind-Value="(context as Series).Description" EditorMode="@EditorMode.HTML" ShowCharCount="true">
                                <RichTextEditorImageSettings SaveUrl="@FileUploadHelper.SaveDirectory.RTE"
                                                             Path="">
                                </RichTextEditorImageSettings>
                                <RichTextEditorToolbarSettings Items="@AdminHelper.DefaultRTEToolbarItems" Type="@ToolbarType.MultiRow" />
                                <RichTextEditorEvents BeforeUploadImage="@BeforeUpload" ImageDelete="@OnDelete" OnImageUploadSuccess="@ImageUploadSuccess" />
                            </SfRichTextEditor>
                        </EditTemplate>
                    </GridColumn>
                    <BrandColumn>
                        <EditTemplate>
                            <p>@nameof(Series.Brand)</p>
                            <SfDropDownList ID="Brand" @bind-Value="@((context as Series).Brand)" DataSource="@AdminHelper.BrandEditParameters">
                            </SfDropDownList>
                        </EditTemplate>
                    </BrandColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Series.Discontinued)" Type="@ColumnType.Boolean"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(Series.UnpublishDate)" Type="@ColumnType.Date"></GridColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(Series.ReplacementSeriesId)"
                                       TValue="@AdminHelper.SeriesDTO"
                                       ForeignDataSource="@series"
                                       ForeignKeyField="@nameof(AdminHelper.SeriesDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.SeriesDTO.Name)"
                                       HeaderText="Replacement Series"
                                       EditType="EditType.DropDownEdit"
                                       EditorSettings="@AdminHelper.DefaultDropDownEditCellParams">
                    </GridForeignColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

<style>
    .e-richtexteditor .e-rte-placeholder {
        font-family: monospace;
    }
</style>


@code {
    private AdminGridBase<Series> grid;
    SfRichTextEditor rteObj1;
    SfRichTextEditor rteObj2;

    private List<AdminHelper.SeriesDTO> series { get; set; }



    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        series = await ODataResponseHelper<AdminHelper.SeriesDTO>.GetODataResponseValue($"Series?$select={nameof(AdminHelper.SeriesDTO.Id)},{nameof(AdminHelper.SeriesDTO.Name)}", httpClient);

    }

    public async Task ActionCompleteHandler(ActionEventArgs<Series> args)
    {
        // To check if the ‘OnActionComplete’ is called when editing the grid data.
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.BeginEdit || args.RequestType == Syncfusion.Blazor.Grids.Action.Add)
        {
            // Please increase or decrease the delay depending on the application load to render properly.
            await Task.Delay(1100);
            await this.rteObj1.RefreshUIAsync();
            await this.rteObj2.RefreshUIAsync();
        }
    }


    private async Task BeforeUpload(ImageUploadingEventArgs args)
    {
        var accessToken = "Bearer " + grid.AccessToken;
        args.CurrentRequest = new List<object> { new { Authorization = accessToken } };
    }


    public string[] header { get; set; }
    private void ImageUploadSuccess(ImageSuccessEventArgs args)
    {
        var headers = args.Response.Headers.ToString();
        header = headers.Split("name: ");
        header = header[1].Split("\r");

        // Update the modified image name to display an image in the editor.
        args.File.Name = header[0];
    }

    private async Task OnDelete(AfterImageDeleteEventArgs args)
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        var result = await httpClient.PostAsJsonAsync("api/Files/Delete", new UrlLink { Url = args.Src.ToString() });
        Console.WriteLine($"Response: {result}");

        string resultContent = await result.Content.ReadAsStringAsync();
        Console.WriteLine($"Content as string: \n{resultContent}");
    }
}
