﻿@page "/"
@layout Shared.Layouts.MainLayout
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger

<PageTitle>Homepage - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Homepage">
</HeadContent>

<div id="intro" style="background-image:url('@Theme.BackgroundImageFileLink')">
    <div class="mask">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="message-box">
                <h1><strong>@Theme.PrimarySlogan</strong></h1>
                <h3>
                    @Theme.SecondarySlogan
                </h3>
                <p>
                    <a href="products" title="View Products" class="btn button-color-@Theme.Id">View Products</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="main-menu" style="background-color: @Theme.SecondaryColor;">
    <div class="container justify-content-center">
        <div class="row p-4">
            @if (Theme.Id == BrandHelper.CT.Id)
            {
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="/products" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/All-Products.jpg" alt="Product Categories image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">Product Categories</h2>
                            <p class="card-text">Browse products including clips, jacks, plugs, probe kits and much more.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="/products?NewProduct=True" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/NewProducts.jpg" alt="New Products image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">New Products</h2>
                            <p class="card-text">Check out our newest products from Cal Test Electronics including probes, probe kits and more.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/test-lead-builder" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/TestLeadBuilder.jpg" alt="Test Lead Builder image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">Test Lead Builder</h2>
                            <p class="card-text">Need something specific? Customize your own test lead using our tool.</p>
                        </div>
                    </a>
                </div>
            }
            else if (Theme.Id == BrandHelper.GS.Id)
            {
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="/products" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/All-ProductsGS.jpg" alt="Product Categories image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">Product Categories</h2>
                            <p class="card-text">Browse products including electronics trainers, test equipment, solderless breadboards, educational kits and much more.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <a href="/products?NewProduct=True" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/NewProductsGS.jpg" alt="New Products image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">New Products</h2>
                            <p class="card-text">Check out the newest products from Global Specialties including electronics trainers, test equipment, solderless breadboards and more.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/test-lead-builder" class="card h-100">
                        <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/TestLeadBuilder.jpg" alt="Test Lead Builder image">
                        <div class="card-body">
                            <h2 class="text-color-@Theme.Id">Test Lead Builder</h2>
                            <p class="card-text">Need something specific? Customize your own test lead using our tool for your Global Specialties needs.</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<LoadingComponent IsLoading="@loading">
    <div id="#featured-product" style="background-color: #fff;">
        <div class="container">
            <div class="row p-4">
                <div class="col-md-6">
                    <img class="img-fluid" src="@featuredProduct.MediaFileLink" title="Featured Product" alt="Featured Product image">
                </div>
                <div class="col-md-6">
                    <h1>@featuredProduct.Title</h1>
                    <h3>@featuredProduct.Subtitle</h3>
                    <p>
                        @featuredProduct.Summary
                    </p>
                    <SkewButton Styles="@($"background-color:{Theme.PrimaryColor};")" Href="@featuredProduct.Url">Learn More</SkewButton>
                </div>
            </div>
        </div>
    </div>
    <div id="#featured-video" class="all-text-white" style="background-color: @Theme.SecondaryColor;">
        <div class="container">
            <div class="row p-4">
                <div class="col-md-6 order-md-1 order-2">
                    <h1>@featuredVideo.Title</h1>
                    <h3>@featuredVideo.Subtitle</h3>
                    <p>
                        @featuredVideo.Summary
                    </p>
                    <SkewButton Href="@featuredVideo.Url">
                        <ChildContent>
                            <span>Learn More</span>
                        </ChildContent>
                    </SkewButton>
                </div>
                <div class="col-md-6 order-md-2 order-1">
                    <div class="embed">
                        <iframe title="Featured Video" src="@featuredVideo.MediaFileLink?rel=0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</LoadingComponent>




<style>
    #intro {
        height: 80vh;
        min-height: 325px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
</style>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    private HttpClient httpClient;
    private bool loading = true;

    private List<HomepageDTO> homepages;

    private HomepageDTO featuredProduct;
    private HomepageDTO featuredVideo;

    protected override async Task OnInitializedAsync()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
        Logger.LogWarning("Loading");
        homepages = await httpClient.GetFromJsonAsync<List<HomepageDTO>>($"api/Homepage/PageData/{Theme.Id}");
        featuredProduct = homepages.FirstOrDefault(x => x.Type == "FeaturedProduct");
        featuredVideo = homepages.FirstOrDefault(x => x.Type == "FeaturedVideo");
        loading = false;
    }
}
