﻿@page "/sitemap"
<div class="container">
    <h3>SitemapPage</h3>
    <div class="row">
        <h4>Products</h4>
        <ul>
            <li>Products</li>
        </ul>
        <h4>
            Support
        </h4>
        <ul>
            <li><a href="/support/service">MyCTE (RMA, Warranty Registration, etc.)</a></li>
            <li><a href="/support/knowledge-base?TypeParameter=Article&amp;PageParameter=1">Knowledge Base Articles</a></li>
            <li><a href="/support/estimate">Calibration &amp; Repair Cost Estimation</a></li>
            <li><a href="/support/contact/techsupport">Contact Technical Support</a></li>
            <li><a href="/support/downloads">Downloads</a></li>
            <li><a href="/support/service-centers">Service Centers</a></li>
            <li><a href="/support/service">Service Form</a></li>
            <li><a href="/support/warranty-information">Warranty Information</a></li>
            <li><a href="/support/return-policy">Return Policy</a></li>
            <li><a href="/support/recalls">Recall Information</a></li>
        </ul>
        <h4>About Us</h4>
        <ul>
            <li><a href="/about/about-us">Our History</a></li>
            <li><a href="/resources?TypeParameter=Marketing%20Release&amp;PageParameter=1">News</a></li>
            <li><a href="/about/iso-certification">ISO Certification</a></li>
            <li><a href="/about/employment">Employment</a></li>
            <li><a href="/about/trade-shows">Trade Shows</a></li>
            <li><a href="/resources?TypeParameter=Company%20Document&amp;PageParameter=1">Company Documents</a></li>
            <li><a href="/accessibility-statement">Accessibility Statement</a></li>
        </ul>
    </div>

</div>
https://www.brother-usa.com/sitemap
https://www.bkprecision.com/sitemap.html
@code {

}
