﻿@page "/support/contact-us"
<PageTitle>Contact Us - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Contact Us page">
</HeadContent>

<div id="main-menu" class="bg-light">
    <div class="container content justify-content-center">
        <h1>Contact Us</h1>
        <div class="row p-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact/sales" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">Contact Sales</h2>
                        <p class="card-text">Use our form to make a sales inquiry.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact/techsupport" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">Technical Support</h2>
                        <p class="card-text">Get answers to technical, or other questions related to documentation & parts.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/support/contact/other" class="card h-100">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">General Requests</h2>
                        <p class="card-text">Contact us using our form to get answers to general questions.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    #main-menu {
        min-height:inherit;
    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
