﻿@page "/support/downloads"
@layout Shared.Layouts.MainLayout
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger

<PageTitle>Support Downloads & Links - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Support Downloads & Links page">
</HeadContent>

<div class="container content">
    <DevelopmentNoticeComponent />

    <div class="row">
        <h1>Support Downloads & Links</h1>
        <p>For now use our <a href="/resources">Resources page</a> to find manuals, software, drivers, products, and other support information</p>
    </div>
</div>


@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
