﻿@layout Shared.Layouts.MainLayout
@page "/support/article/{ArticleUrl}"
@inject Services.StateService StateService
@inject NavigationManager UriHelper
@inject IHttpClientFactory HttpClientFactory
@inject ILogger<KBArticlePage> Logger

<PageTitle>Article - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Article page">
</HeadContent>


<LoadingComponent IsLoading="@loading">
    <PageTitle>@articlePageDTO.Title - @Theme.Name</PageTitle>
    <HeadContent>
        <meta name="description" content="@Theme.Name Article page for @articlePageDTO.Title">
    </HeadContent>

    <div class="bg-light">
        <div class="container content">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <h1 class="card-header bg-white display-4">@articlePageDTO.Title</h1>
                        <div class="card-body">
                            @((MarkupString)articlePageDTO.BodyHtml)
                        </div>
                        <div class="card-footer text-muted">Last updated on @articlePageDTO.Created.ToLongDateString()</div>
                    </div>
                    @if (articlePageDTO.RelatedSeriesNames.Count() > 0)
                    {
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item active">Applicable Products:</li>
                            @foreach (var ap in articlePageDTO.RelatedSeriesNames)
                            {
                                <li class="list-group-item"><a href="@("product/" + ap.Trim())">@ap.Trim()</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</LoadingComponent>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }

    [Parameter]
    public string ArticleUrl { get; set; }

    private ArticlePageDTO articlePageDTO;
    private bool loading = true;
    private HttpClient httpClient;

    protected override void OnInitialized()
    {
        httpClient = HttpClientFactory.CreateClient("CTEWebApp.AnonymousAPI");
    }

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        articlePageDTO = await httpClient.GetFromJsonAsync<ArticlePageDTO>($"/api/Web/Articles/{ArticleUrl}");
        loading = false;
    }
}