﻿@page "/support/recalls"

<PageTitle>Recall Information - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Recall Information page">
</HeadContent>


<div class="container content">
    <h1>@Theme.Name Product Recalls</h1>
    <p>@Theme.Name has announced a recall on the product (s) identified below, Information on each recalled product, and the steps you should take if you own such a product, are available within each specific recall notice page.</p>
    <ul>
        <li><i>No products recalled at this time</i></li>
    </ul>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
