﻿@page "/support/return-policy"

<PageTitle>Return Policy - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Return Policy page">
</HeadContent>


<div class="container content">
    <h1>Return Policy</h1>
    <h2>Exchange or Return Process</h2>
    <p>
        To initiate the return or exchange process, you must first obtain a Return Material Authorization (RMA) Number.<br />
        <strong>Any merchandise returned without a corresponding RA Number will not be eligible for exchange or return.</strong>
        To obtain your RA Number, please <a href="/support/contact-us">contact us</a>.
    </p>
    <p>
        Please return the merchandise by some traceable method such as UPS or US Postal Service with a Return Receipt within 30 days from issuance.
        We recommend tracking your return with your carrier of choice when making your return to ensure we have received your package.
    </p>
    <h5>
        NOTE: @Theme.Name is NOT responsible for lost merchandise.<br />
        You will be asked to provide Proof of Delivery should the shipment not be received by @Theme.Name.<br />
        @Theme.Name has the right to change this policy at any time.
    </h5>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
