﻿@layout Shared.Layouts.MainLayout
@page "/support"

<PageTitle>Support Tools - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Support Tools page">
</HeadContent>

<Jumbotron Title="Support Tools"
           Subtitle="@($"Find answers to questions across {Theme.Name}.")"
           ImageLink="https://as.caltestelectronics.com/public/images/homepage/knowledge_image.svg">
</Jumbotron>

<div id="main-menu" style="background-color: @Theme.SecondaryColor;">
    <div class="container justify-content-center">
        <div class="row p-4">
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/knowledge-base?TypeParameter=Article&PageParameter=1" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/knowledge_image.svg" alt="Knowledge Base image">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">Knowledge Base</h2>
                        <p class="card-text">Browse help articles and how-to guides authored by our staff.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <a href="/support/contact-us" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/contact_image.svg" alt="Contact Us image">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">Contact Us</h2>
                        <p class="card-text">Contact us using our form to get answers to sales, technical, or other questions.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/support/service" class="card h-100">
                    <img class="card-img-top" src="https://as.caltestelectronics.com/public/images/homepage/service_image.svg" alt="Service Form image">
                    <div class="card-body">
                        <h2 class="text-color-@Theme.Id">Service Form</h2>
                        <p class="card-text">Fill out our service form to request calibration or repair. (RMA Form Request)</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    .card-img-top {
        height: 200px;
        padding-top: 1rem;
    }
</style>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}