﻿@page "/support/estimate"
@layout Shared.Layouts.MainLayout
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject ILogger<HomePage> Logger

<PageTitle>Calibration and Repair Cost Estimation - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Calibration and Repair Cost Estimation page">
</HeadContent>

<div class="container content">
    <DevelopmentNoticeComponent />
    <h1>Calibration and Repair Cost Estimation</h1>
    <p>@Theme.Name is dedicated to the goal of providing the best possible service to our customers. Our Service Department is equipped with the required instruments, procedures and personnel to service or calibrate your @Theme.Name instruments to their optimum performance specifications.</p>
    <h3>How to Obtain Service or Calibration</h3>
    <p>An RMA (Return Material Authorization) number is required to accompany all instruments sent in to the service department. The RMA number allows you to obtain and track the progress of your request.</p>
    <h4>Note: Units sent to @Theme.Name without a valid RMA number will be returned unserviced.</h4>
</div>


@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
