﻿@page "/support/warranty-information"

<PageTitle>Warranty Information - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Warranty Information page">
</HeadContent>

<div class="container content">
    <h1>Warranty Information</h1>
    <p>
        All @Theme.Name products include a standard limited warranty which can be found in the user guide or as an insert in the carton and on the product's webpage.
        <strong>To view the standard limited warranty for your @Theme.Name product, please visit <a href="/resources">the Resources page</a></strong> and search for your product model.
    </p>
</div>

@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
