﻿@page "/administrator/AdminTlbConnectorPage"
@attribute [Authorize(Roles = "Administrator")]
<PageTitle>@nameof(TlbConnectorPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadConnector"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadConnectorsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadConnectorsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadConnector.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadConnector.Type)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadConnector.Cost)" EditorSettings="@AdminHelper.DecimalEditParams"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadConnector.Information)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadConnector.Rating)"></GridColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadConnector.ImageFileLink)">
                        <Template>
                            <ImageColumnTemplateComponent Src="@((context as TestLeadConnector).ImageFileLink)" />
                        </Template>
                        <EditTemplate>
                            <p>Upload Document</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.TestLeadConnector"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as TestLeadConnector).ImageFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(TestLeadConnector)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Image</p>
                            <SfTextBox ID="@nameof(TestLeadConnector.ImageFileLink)" @bind-Value="@((context as TestLeadConnector).ImageFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<TestLeadConnector> grid;
}
