﻿@page "/administrator/AdminTlbLengthPage"
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>@nameof(TlbLengthPage) - Admin Modules</PageTitle>
<div class="container">
    <div class="row">
        <div>
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadLength"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadLengthsUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadLengthsUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadLength.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadLength.Centimeters)"></GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>

@code {
    private AdminGridBase<TestLeadLength> grid;
}
