﻿@page "/administrator/AdminTlbPage"
@attribute [Authorize(Roles = "Administrator")]
@inject IHttpClientFactory HttpClientFactory

<PageTitle>@nameof(TlbPage) - Admin Modules</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4 card shadow-sm">
            <h3>Configurator Generator</h3>
            <p>Select the possible Test Lead combinations to generate</p>
            <hr />
            <LoadingComponent IsLoading="@loading">
                <span>Select Connector 1</span>
                <SfMultiSelect TValue="int?[]" TItem="@AdminHelper.TestLeadConnectorDTO" DataSource="@connectors" @bind-Value="@configuratorGenerator.Connector1Ids" Query="@localDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(AdminHelper.TestLeadConnectorDTO.Type)" Value="@nameof(AdminHelper.TestLeadConnectorDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
                <span>Select Connector 2</span>
                <SfMultiSelect TValue="int?[]" TItem="@AdminHelper.TestLeadConnectorDTO" DataSource="@connectors" @bind-Value="@configuratorGenerator.Connector2Ids" Query="@localDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(AdminHelper.TestLeadConnectorDTO.Type)" Value="@nameof(AdminHelper.TestLeadConnectorDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
                <span>Select Wire</span>
                <SfMultiSelect TValue="int?[]" TItem="AdminHelper.TestLeadWireDTO" DataSource="@wires" @bind-Value="@configuratorGenerator.WireIds" Query="@localDataQuery" PopupHeight="130px" AllowFiltering="true" EnableVirtualization="true">
                    <MultiSelectFieldSettings Text="@nameof(AdminHelper.TestLeadWireDTO.PartNumberAndDescription)" Value="@nameof(AdminHelper.TestLeadWireDTO.Id)"></MultiSelectFieldSettings>
                </SfMultiSelect>
                <span>Enter TLB PartNumber Placeholder</span>
                <SfTextBox Placeholder="E.g. CTXXXXX" @bind-Value="@configuratorGenerator.PartNumber"></SfTextBox>
            </LoadingComponent>
            <hr />
            <div class="mb-2">
                <SfButton Content="Submit" OnClick="@OnConfiguratorGeneratorSubmit" Disabled="@isSubmitting"></SfButton>
            </div>
        </div>
        <div class="col-8">
            <AdminGridBase @ref="@grid"
                           TValue="@TestLeadBuilder"
                           OdataUrl="@AdminHelper.OdataHelper.TestLeadBuildersUrl"
                           OdataBatchUrl="@AdminHelper.OdataHelper.TestLeadBuildersUrl">
                <AdditionalColumns>
                    <PrimaryKeyColumn Field="@nameof(TestLeadBuilder.Id)" />
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilder.PartNumber)"></GridColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(TestLeadBuilder.ConnectorOneId)"
                                       TValue="@AdminHelper.TestLeadConnectorDTO"
                                       ForeignDataSource="@connectors"
                                       ForeignKeyField="@nameof(AdminHelper.TestLeadConnectorDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.TestLeadConnectorDTO.Type)"
                                       HeaderText="Connector 1">
                    </GridForeignColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(TestLeadBuilder.ConnectorTwoId)"
                                       TValue="@AdminHelper.TestLeadConnectorDTO"
                                       ForeignDataSource="@connectors"
                                       ForeignKeyField="@nameof(AdminHelper.TestLeadConnectorDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.TestLeadConnectorDTO.Type)"
                                       HeaderText="Connector 2">
                    </GridForeignColumn>
                    <GridForeignColumn AutoFit="true"
                                       Field="@nameof(TestLeadBuilder.WireId)"
                                       TValue="@AdminHelper.TestLeadWireDTO"
                                       ForeignDataSource="@wires"
                                       ForeignKeyField="@nameof(AdminHelper.TestLeadWireDTO.Id)"
                                       ForeignKeyValue="@nameof(AdminHelper.TestLeadWireDTO.PartNumberAndDescription)"
                                       HeaderText="Wire">
                    </GridForeignColumn>
                    <GridColumn AutoFit="true" Field="@nameof(TestLeadBuilder.DiagramFileLink)">
                        <Template>
                            @if (string.IsNullOrWhiteSpace((context as TestLeadBuilder).DiagramFileLink))
                            {
                                <ImageColumnTemplateComponent Src="@(("https://as.caltestelectronics.com/public/test-lead-builder/diagrams/" + (context as TestLeadBuilder).ConnectorOneId + (context as TestLeadBuilder).ConnectorTwoId + ".jpg"))" />
                            }
                            else
                            {
                                <ImageColumnTemplateComponent Src="@((context as TestLeadBuilder).DiagramFileLink)" />
                            }
                        </Template>
                        <EditTemplate>
                            <p>Upload Document</p>
                            <SfUploader ID="UploadFiles"
                                        AllowMultiple=false>
                                <UploaderAsyncSettings SaveUrl="@FileUploadHelper.SaveDirectory.TestLeadBuilder"
                                                       RemoveUrl="@FileUploadHelper.ApiDeleteUrl">
                                </UploaderAsyncSettings>
                                <UploaderEvents FileSelected="@((args)=>SfUploadHelper.OnFileSelect(args,grid.AccessToken))"
                                                Success="@((args)=>(context as TestLeadBuilder).DiagramFileLink=SfUploadHelper.UploadSuccess(args))"
                                                BeforeRemove="@((args)=>SfUploadHelper.BeforeRemove(args,grid.AccessToken,typeof(TestLeadBuilder)))">
                                </UploaderEvents>
                            </SfUploader>
                            <p>Diagram Link</p>
                            <SfTextBox @bind-Value="@((context as TestLeadBuilder).DiagramFileLink)" Readonly="true" Multiline="true">
                            </SfTextBox>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn AutoFit="@true" Field="@nameof(TestLeadBuilder.MinCentimeters)" EditType="@EditType.NumericEdit"></GridColumn>
                    <GridColumn AutoFit="@true" Field="@nameof(TestLeadBuilder.MaxCentimeters)" EditType="@EditType.NumericEdit"></GridColumn>
                    <PublishedColumn />
                    <ModifiedColumn />
                    <CreatedColumn />
                </AdditionalColumns>
            </AdminGridBase>
        </div>
    </div>
</div>



@code {
    private AdminGridBase<TestLeadBuilder> grid;

    private bool loading = true;
    private bool isSubmitting = false;

    private List<AdminHelper.TestLeadConnectorDTO> connectors { get; set; }
    private List<AdminHelper.TestLeadWireDTO> wires { get; set; }

    private ConfiguratorGenerator configuratorGenerator = new ConfiguratorGenerator();

    private Query localDataQuery = new Query().Take(6);


    protected override async Task OnInitializedAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        connectors = await ODataResponseHelper<AdminHelper.TestLeadConnectorDTO>.GetODataResponseValue($"TestLeadConnector?$select={nameof(TestLeadConnector.Id)},{nameof(TestLeadConnector.Type)}", httpClient);
        wires = await httpClient.GetFromJsonAsync<List<AdminHelper.TestLeadWireDTO>>("api/TestLeadWire/PartNumberAndDescription");
        loading = false;
    }

    public async Task OnConfiguratorGeneratorSubmit()
    {
        isSubmitting = true;
        if (configuratorGenerator.Connector1Ids is null || configuratorGenerator.Connector2Ids is null || configuratorGenerator.WireIds is null || configuratorGenerator.PartNumber is null)
        {
            isSubmitting = false;
            return;
        }
        var httpClient = HttpClientFactory.CreateClient("CTEWebApp.ServerAPI");
        var response = await httpClient.PostAsJsonAsync<ConfiguratorGenerator>("api/TestLeadBuilders/ConfiguratorGenerator", configuratorGenerator);
        await grid.sfGrid.Refresh();
        isSubmitting = false;
    }

    }
