﻿@page "/support/service"

<PageTitle>Service Form - @Theme.Name</PageTitle>
<HeadContent>
    <meta name="description" content="@Theme.Name Service Form page">
</HeadContent>

<div class="bg-light">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                    Form submissions will be answered on a first-come, first-served basis.
                    You will receive an email confirmation within 1 day of submitting the form.
                </div>
                <div class="card">
                    <h3 class="card-header">Service Form</h3>
                    <p class="card-body">The purpose of this form is to submit a request for calibration or repair services. In order to ensure the accuracy and functioning of your equipment, it is important to regularly calibrate and maintain it. By filling out this form, you are taking the necessary steps to ensure that your equipment is working properly and providing reliable measurements. Additionally, by requesting repair services, you can address any issues with your equipment and have them fixed in a timely manner.</p>
                </div>
            </div>
            <div class="col-md-6">
                <RmaFormComponent />
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public BrandTheme Theme { get; set; }
}
